.promokod_arr_wrap .table{
	width:auto;
}
.promokod_arr_wrap .table th,
.promokod_arr_wrap .table td{
	padding: 3px 10px;
}
.promokod_arr_wrap .table th{
	font-weight:bold;
}
.promokod_arr_wrap .table td{
	text-align:center;
}
.promokod_arr_wrap .table tbody tr:nth-child(even) td{
	background:#efefef;
}
.promokod_arr_wrap .table td input{
	display:inline-block;
}
.promokod_arr_wrap .table td.promokod_wrap{
	min-width:250px;;
}
#promokod_text{
	width0:100%;
}

.promokod_del{color:red}
input.default.selected_flag,
input.default.active_flag
{
	width:20px;
}

.btn.color-orange {
    background: #d9534f;
}
