<form id="quick_csv_encoding">
    <label id="csv_encoding">
        <div>{{label:js-csv-choose-encoding}}</div>
        <select name="encoding" class="default newselect">
            <option value="Windows-1251">Windows-1251</option>
            <option value="UTF-8">UTF-8</option>
        </select>
    </label>
</form>