<div class="col-sm-12 col-xs-12">
	<div class="card-item">
		<div class="card-item__left">
			<a href="/dealers_spec/speakers/arsenina-olga-ivanovna/"><img src="/files/Speakers/borodina190.jpg" class="img-responsive" alt="Арсенина Ольга Ивановна"></a>
		</div>
		<div class="card-item__right">
			<h3 class="card-item__title"><a href="/dealers_spec/events_program/metody-pozicionirovaniya-i-fiksacii-nesemnyh-ortodonticheskih-apparatov/">Методы позиционирования и фиксации несъемных ортодонтических аппаратов</a></h3>
			<h4 class="card-item__username"><a href="/dealers_spec/speakers/arsenina-olga-ivanovna/">Арсенина Ольга Ивановна</a></h4>
			<ul class="metadata-list metadata-list_inline">
				<li class="metadata-list__item">
					<i class="new-icon new-icon_hat metadata-list__item-icon"></i><span class="metadata-list__item-text">Базовый уровень</span>
				</li>
				<li class="metadata-list__item">
					<i class="new-icon new-icon_user metadata-list__item-icon"></i><span class="metadata-list__item-text">Лекции</span>
				</li>
				<li class="metadata-list__item">
					<i class="new-icon new-icon_calendar metadata-list__item-icon"></i><span class="metadata-list__item-text"> Кол-во дней: 2 дня</span>
				</li>
			</ul>
		</div>
		<hr class="card-item__hr">
		<ul class="types-list">
			<li class="types-list__item"><img src="/images/cms/data/event_theme/diagnostic.png" alt="Диагностика" class="types-list__item-img">
			</li>
		</ul>
		<a href="/dealers_spec/events_program/metody-pozicionirovaniya-i-fiksacii-nesemnyh-ortodonticheskih-apparatov/" title="" class="btn btn-blue card-item__more"> Подробнее </a>
	</div>
</div>