<div class="col-sm-6 col-xs-12">
	<div class="card-item">
		<div class="card-item__checkbox js--pdf-download-item" data-pdf-id="2263"></div>
		<div class="card-item__left">
			<a href="/dealers_spec/speakers/arsenina-olga-ivanovna/"><img src="/files/Speakers/borodina190.jpg" class="img-responsive" alt="Арсенина Ольга Ивановна"></a>
		</div>
		<div class="card-item__right">
			<h4 class="card-item__username"><a href="/dealers_spec/speakers/arsenina-olga-ivanovna/">Арсенина Ольга Ивановна</a></h4>
			<ul class="metadata-list">
				<li class="metadata-list__item">
					<i class="new-icon new-icon_home metadata-list__item-icon"></i><span class="metadata-list__item-text"> Город проживания: Санкт-Петербург</span>
				</li>
				<li class="metadata-list__item">
					<i class="new-icon new-icon_user metadata-list__item-icon"></i><span class="metadata-list__item-text">Лекции, Мастер-класс</span>
				</li>
			</ul>
		</div>
		<hr class="card-item__hr">
		<ul class="types-list">
			<li class="types-list__item"><img src="/images/cms/data/event_theme/childhood.png" alt="Детство" class="types-list__item-img">
			</li>
			<li class="types-list__item"><img src="/images/cms/data/event_theme/insignia.png" alt="Insignia" class="types-list__item-img">
			</li>
		</ul>
	</div>
</div>
<div class="col-sm-6 col-xs-12">
	<div class="card-item">
		<div class="card-item__checkbox js--pdf-download-item" data-pdf-id="2273"></div>
		<div class="card-item__left">
			<a href="/dealers_spec/speakers/arsenina-olga-ivanovna1/"><img src="/files/Speakers/borodina190.jpg" class="img-responsive" alt="Арсенина Ольга Ивановна 2"></a>
		</div>
		<div class="card-item__right">
			<h4 class="card-item__username"><a href="/dealers_spec/speakers/arsenina-olga-ivanovna1/">Арсенина Ольга Ивановна 2</a></h4>
			<ul class="metadata-list">
				<li class="metadata-list__item">
					<i class="new-icon new-icon_home metadata-list__item-icon"></i><span class="metadata-list__item-text"> Город проживания: Санкт-Петербург</span>
				</li>
				<li class="metadata-list__item">
					<i class="new-icon new-icon_user metadata-list__item-icon"></i><span class="metadata-list__item-text">Лекции, Мастер-класс</span>
				</li>
			</ul>
		</div>
		<hr class="card-item__hr">
		<ul class="types-list">
			<li class="types-list__item"><img src="/images/cms/data/event_theme/childhood.png" alt="Детство" class="types-list__item-img">
			</li>
			<li class="types-list__item"><img src="/images/cms/data/event_theme/insignia.png" alt="Insignia" class="types-list__item-img">
			</li>
		</ul>
	</div>
</div>
<div class="col-sm-6 col-xs-12">
	<div class="card-item">
		<div class="card-item__checkbox js--pdf-download-item" data-pdf-id="2274"></div>
		<div class="card-item__left">
			<a href="/dealers_spec/speakers/arsenina-olga-ivanovna2/"><img src="/files/Speakers/borodina190.jpg" class="img-responsive" alt="Арсенина Ольга Ивановна"></a>
		</div>
		<div class="card-item__right">
			<h4 class="card-item__username"><a href="/dealers_spec/speakers/arsenina-olga-ivanovna2/">Арсенина Ольга Ивановна</a></h4>
			<ul class="metadata-list">
				<li class="metadata-list__item">
					<i class="new-icon new-icon_home metadata-list__item-icon"></i><span class="metadata-list__item-text"> Город проживания: Санкт-Петербург</span>
				</li>
				<li class="metadata-list__item">
					<i class="new-icon new-icon_user metadata-list__item-icon"></i><span class="metadata-list__item-text">Лекции, Мастер-класс</span>
				</li>
			</ul>
		</div>
		<hr class="card-item__hr">
		<ul class="types-list">
			<li class="types-list__item"><img src="/images/cms/data/event_theme/childhood.png" alt="Детство" class="types-list__item-img">
			</li>
			<li class="types-list__item"><img src="/images/cms/data/event_theme/insignia.png" alt="Insignia" class="types-list__item-img">
			</li>
		</ul>
	</div>
</div>
<div class="col-sm-6 col-xs-12">
	<div class="card-item">
		<div class="card-item__checkbox js--pdf-download-item" data-pdf-id="2275"></div>
		<div class="card-item__left">
			<a href="/dealers_spec/speakers/arsenina-olga-ivanovna3/"><img src="/files/Speakers/borodina190.jpg" class="img-responsive" alt="Арсенина Ольга Ивановна"></a>
		</div>
		<div class="card-item__right">
			<h4 class="card-item__username"><a href="/dealers_spec/speakers/arsenina-olga-ivanovna3/">Арсенина Ольга Ивановна</a></h4>
			<ul class="metadata-list">
				<li class="metadata-list__item">
					<i class="new-icon new-icon_home metadata-list__item-icon"></i><span class="metadata-list__item-text"> Город проживания: Санкт-Петербург</span>
				</li>
				<li class="metadata-list__item">
					<i class="new-icon new-icon_user metadata-list__item-icon"></i><span class="metadata-list__item-text">Лекции, Мастер-класс</span>
				</li>
			</ul>
		</div>
		<hr class="card-item__hr">
		<ul class="types-list">
			<li class="types-list__item"><img src="/images/cms/data/event_theme/childhood.png" alt="Детство" class="types-list__item-img">
			</li>
			<li class="types-list__item"><img src="/images/cms/data/event_theme/insignia.png" alt="Insignia" class="types-list__item-img">
			</li>
		</ul>
	</div>
</div>
