a:focus,button:focus {outline:none !important;}

.event-page .white-pnl.preview .old-price,.event-page .white-pnl article .old-price{text-decoration: line-through;color: #ff0000;cursor: default;font-size: 16px;}
.main-nav .navbar-collapse ul.bottom li.cabinet:hover a {color: #fff;}
.main-nav .navbar-collapse ul.bottom li.cabinet a:hover {color: #c9d6e2;}

@media (max-width: 1160px){
    .navbar-default .navbar-nav>li>a{padding: 0 10px}
}
@media (max-width: 1090px){
    .navbar-default .navbar-nav>li>a{padding: 0 8px}
    .main-nav .navbar-collapse ul.bottom li.cabinet.auth_links{font-size: 0px;}
    .main-nav .navbar-collapse ul.bottom li.cabinet > a{font-size: 0px;line-height: 56px;padding-right:12px;}
    .main-nav .navbar-collapse ul.bottom li.cabinet > a > i{margin-right: 5px;}
    .main-nav .navbar-collapse ul.bottom li.cabinet > a > .caret{margin-top: -20px;}
}

.nav>li.cabinet{color:#fff; }
.main-nav .navbar-collapse ul.bottom li.cabinet.auth_links{padding:0 15px}
.main-nav .navbar-collapse ul.bottom li.cabinet.auth_links a{display:inline;padding:0}

.events-calendar, .seminars-calendar {margin: 0 0 30px;}

.speakers-page .left .img-responsive,
.events-page .items .item .left img,
.event-page img.speaker,
.thumbnail .author img,
.webinars .items .item .right .speaker img,
.dealers-speakers-page .card-item__left .img-responsive,
.dealer-event-page .card-item__left .img-responsive{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 0px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.preview .speaker{display:inline-block}

.speakers-page .speaker-info .left{width:180px}
.speakers-page .speaker-info .right{width: calc(100% - 195px);}
.speakers-page .speaker-info .right p {
    font-size: 14px;
    color: #787878;
    line-height: 23px;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.webinar_video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60.25%;
}
.webinar_video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
article img {
    margin: 20px 0;
    max-width: 100%;
    height: auto;
    display: block;
}

.content-col a:focus {
    color: #2aa8ec;
}
.content-col .pagination .active a:visited,.content-col .pagination .active a:focus {
    color: #fff;
}

.feedbacks .seminar-partner-type:after,
.feedbacks .seminar-woo-type:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 30px;
    height: 5px;
    width: 88px;
}

.feedbacks .seminar-type:after {
    background-color: #b2e7fa;
}
.feedbacks .webinar-type:after {
    background-color: #feefc0;
}
.feedbacks .seminar-partner-type:after {
    background-color: #becefd;
}

.feedbacks .seminar-woo-type:after {
    background-color: #bfeec4;
}

.page-header{margin: 20px 0 32px;}
.page-header h1 {
    display: inline;
}

.top-slider .carousel-inner > .item img.img-responsive{
    margin-bottom:20px;
}
.top-slider .carousel-inner > .item .info{
    padding-top:40px;
}

.events .thumbnail .topic a{color: #505050;}
footer .social-icons li, footer .payment-icons li {margin-right: 7px;}

.content-col .item .speaker{margin-right: 5px;}
.content-col .item .speaker::after{content:","}
.content-col .item .speaker.last{margin-right: 15px;}
.content-col .item .speaker.last::after,
.webinars .content-col .items .item .right .speaker::after{content:""}

 .top-selectors .dropdown-menu {
        -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
        -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
        box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
        z-index: 10000;
    }
.news ul li a{
    color: #377bb5;
}
.news ul li a:hover{
        color: #2aa8ec;
}

.reset_filter{
	float:right;
	padding:7px 20px;
}
.reset_filter i.fa{color:red; margin-right:5px;}

.register-modal.wide-modal  .modal-dialog {
    width: 600px;
}

.content-col a.buy-button:visited, .content-col a.buy-button:focus {
    color: #fff;
}

.content-col .item .speaker {
    display: inline-block;
}

.help_ico,
.help_ico:visited{
	font-size: 20px;
    vertical-align: middle;
    color: #07477d;
    margin-left:10px;
}
.help_ico i{
	color: #07477d;
}

.ya-share2{display: inline-block;}

#fblock_order_upload{display:none}
.fn_block_order_upload{display:none}

.form-control.checkbox{width:auto; height:auto; box-shadow:none}
.required_text{
    font-size: 12px;
    color: red;
}

.reserv{
    color:#777;
    font-size: 16px;
    padding: 4px 20px 0;
    vertical-align: middle;
    display:inline-block;

}
.event-page .reserv{
    padding: 4px 0px 0 20px;
    display: block;
}

.empty_button.btn.btn-green{
    width:1px;
    background:none;
    border:1px solid #fff;
    height: 40px;
}

.event_discount_wrap h4{
    margin-top:0;
}

.purchase_form .agree input {
    position:absolute;
}
.purchase_form .agree span {
    padding-left: 20px;
    display: block;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}

.socials-pnl-right{
    margin: 0 0 30px;
        text-align: center;
}
.fake_btn{
    margin: 5px auto 20px;
    padding: 9px 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    content:" "
}
.videos .thumbnail .video-link .header3 {
    min-height: 76px;
}
.videos .thumbnail .author img {
    max-width: 60px;
    max-height: 60px;
}
.webinars .items .item .right .speaker a,
.webinars .items .item .right .speaker a:visited
{
    color:#787878;
}
.form-horizontal.contactsForm .form-group input + span{
    font-size:14px;
    color:#505050;
}
.free_price{
    height:23px;
}

.item_develiry{
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
}
.editLegal{
    margin-top:20px;
}
.one_legal_person{border:solid 2px #f1f1f1;border-radius:5px;margin:0 0 10px;}
.one_legal_person:hover,.one_legal_person.opened{border-color:#0074C0;}
.one_legal_person .one_legal_person_head{padding:15px;cursor:pointer;}
.one_legal_person .one_legal_person_head .one_legal_person_head_item{display:inline-block;margin-right:15px;}
.one_legal_person .one_legal_person_head:before{content:"\f01a";float:right;font-family: FontAwesome;color:#ccc;font-size:18px;}
.one_legal_person:hover .one_legal_person_head:before,.one_legal_person.opened .one_legal_person_head:before{color:#0074C0;}
.one_legal_person.opened .one_legal_person_head:before{content:"\f01b";}

.one_legal_person .one_legal_person_form{display:none;padding:15px;}
.one_legal_person.opened .one_legal_person_form{display:block}

.add_legal_person{display:block;padding:15px;}

.link_delete_legal{border-color:#ccc;margin-right: 10px;}

.main-nav .navbar-collapse ul.top li ul li.top_partner_logo{padding:0;margin:0;position:relative;height:35px;}
.main-nav.shrink .navbar-collapse ul.top li ul li.top_partner_logo{display:none;}
.main-nav .navbar-collapse ul.top li ul li.top_partner_logo.kerr{width:65px;}
.main-nav .navbar-collapse ul.top li ul li.top_partner_logo.kavo{width:75px;}
.main-nav .navbar-collapse ul.top li ul li.top_partner_logo.nb{width:70px;}
.main-nav .navbar-collapse ul.top li ul li.top_partner_logo a{display:block;position:absolute;top:5px;left:0;right:0;bottom:0;margin:auto;}
.main-nav .navbar-collapse ul.top li ul li.top_partner_logo img{height:19px;width:auto;}
@media (min-width: 655px) and (max-width: 1030px){
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo.kerr{width:55px;}
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo.kavo{width:65px;}
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo.nb{width:60px;}
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo a{top:2px;}
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo img{height:17px;}
}
@media (max-width: 870px){
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo.kerr{width:100%;display:block;height:60px;}
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo.kavo{width:100%;display:block;height:60px;}
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo.nb{width:100%;display:block;height:60px;}
    .main-nav .navbar-collapse ul.top li ul li.top_partner_logo a{display:block;}
}

.errors h3, .errors ul li{color:red;}
.content_soc_wrap .socials-pnl-right{margin-bottom:0;}
.content_soc_wrap:after {
    content: '';
    display: block;
    clear: both;
}

article.pc-1551 img {
    margin: 0;
    width: auto;
    height: auto;
    display: inline;
}
article.pc-1551 table td{
    width: auto;
    text-align:left;
}

/*file-upload*/
.file-upload {
    position: relative;
}

    .file-upload input[type=file] {
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
        outline: none;
        opacity: 0;
    }

    .file-upload input[type=button] {
        padding: 5px 20px;
    }

    .file-upload span {
        margin-left: 15px;
    }
/*\file-upload*/

/* правка для блока видео*/

.videoblock {
	height: 0;
    padding-bottom: 60.25%;
    position: relative;
    width: 100%;
}

.videoblock  iframe {

	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}

/*calendar css*/
.calendar_start_date a,
.ui-datepicker td.calendar_start_date a{
    border-radius: 25px 0 0 25px !important;
    width: 100%;
    border-left: 4px solid #fff;
}
.calendar_finish_date a,
.ui-datepicker td.calendar_finish_date a{
    border-radius: 0 25px 25px 0 !important;
    width: 100%;
    border-right: 4px solid #fff;
}
.calendar_middle_date a,
.ui-datepicker td.calendar_middle_date a{
    border-radius: 0 !important;
    width: 100%;
}


/*promocodes*/
.promocode_wrap{
    margin: 10px 0;
}
.register-modal .agree input.input_promocode{
    width: 100px;
    display: inline-block;
    position:relative;
    margin-right:10px;
}
.apply_promocode{
    padding:  9px 20px;margin-top: -5px;
}

/*common articles css*/
article address{
    padding: 15px 15px;
    background: #efefef;
    border-left: 4px solid #2aa8ec;
    margin-left:10px;
    color:#07477d;
}
article p.gray-block {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #e6e6e6;
}



@media (max-width: 600px) {
    .register-modal.wide-modal  .modal-dialog {
        width: 367px;
    }
}
@media (max-width: 370px) {
    .register-modal.wide-modal  .modal-dialog {
        width: 300px;
    }
}


/*acreditation mark*/
.akkr{
	background: url('../img/logo_star.png') no-repeat center center;
	background-size:cover;
	display:block;
	width:32px;
	height:32px;
	position:absolute;
	left:5px;
	top:5px;
}
.akkr_list{
	float:left;
	background: url('../img/logo_star_big.png') no-repeat center center;
	background-size:cover;
	display:block;
	width:100px;
	height:42px;
}
.akkr_info{
	float:right;
	background: url('../img/logo_star_big.png') no-repeat center center;
	background-size:cover;
	display:block;
	width:100px;
	height:42px;
}


.content_wrap a, .content_wrap a:focus, .content_wrap a:visited{
	text-decoration: none;
    border-bottom: 1px solid;
}
.content_wrap a:focus, .content_wrap a:hover{
	text-decoration:none;
	border-bottom: none;
}

/*new dealers*/
.right-filters__item-right {
    /*padding-left0: 90px;*/
}
.content-col a.js--filters-submit:focus,
.content-col .download-list__item a:focus{
    color: #fff;
}

/*webinar*/
.webinars .content-col .items .item.dealers{
	position:relative;
}
.webinars .content-col .items .item.dealers:before{
	content: " ";
	width:10px;
	height:40px;
	background: #becefd;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}


.input-group .form-control.file_load {
    width: 100px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}


.tooltip {z-index:9999;}
.tooltip > .tooltip-inner {background-color: #377bb5;}
.tooltip.top .tooltip-arrow {border-top-color: #377bb5;}

.tooltip > .tooltip-inner h1,
.tooltip > .tooltip-inner h2,
.tooltip > .tooltip-inner h3,
.tooltip > .tooltip-inner h4{color: #fff; margin:0 3px;}

/*прячем галочки в форме регистрации, так как они давно не актуальны*/
#fblock_order_how_you_been_edu,
#fblock_order_want_to_buy{
	display:none;
}


@media (hover: none) {
   .top-arrow:hover {
        background-color: transparent;
        border-color: #6a91b1;
    }
    .top-arrow:hover:after {
        color: #377bb5;
    }
}

@media (max-width: 870px){
	.akkr_info{
		background: url('../img/logo_star.png') no-repeat center center;
		background-size:cover;
		width:42px;
		height:42px;
	}
}
@media (max-width: 670px){
	.top-selectors {
        padding: 0 20px;
    }

        .top-selectors .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
        }

        .top-selectors .bootstrap-select .btn-default {
            width: 100%;
            background-color: #f3f3f3 !important;
            border: 1px solid #b7b7b7 !important;
            height: 40px;
            margin-bottom: 20px;
            padding-left: 10px;
        }

        .top-selectors .bootstrap-select.btn-group .dropdown-toggle .filter-option,
        .top-selectors .bootstrap-select .caret:before {
            color: #505050;
        }

        .top-selectors .bootstrap-select.btn-group .dropdown-toggle .filter-option {
            font-family: open_sansregular;
        }

        .top-selectors .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
            margin-top: 10px;
        }

        .top-selectors .dropdown-menu {
            width: 100%;
            top: 40px;
        }

            .top-selectors .dropdown-menu > li > a {
                padding: 10px 20px;
            }
}

@media (max-width: 480px){
	.events-page .buttons span.akkr_list{
		float:none;
		background: url('../img/logo_star_big.png') no-repeat center center;
		background-size:cover;
		display:block;
		margin:0 auto;
		width:100px;
		height:42px;
	}

	.akkr_info{
		background: url('../img/logo_star_big.png') no-repeat center center;
		background-size:cover;
		width:100px;
		height:42px;
		float:none;
		display:block;
		margin:0 auto 10px;
	}
}

.reviews_on_center_slider .carousel-indicators{position:static;left:auto;bottom:auto;width:100%;margin:-20px 0 20px 0;}
.reviews_on_center_slider .carousel-indicators li{border-color:#2ba8eb;background:#2ba8eb;margin:3px;}
.reviews_on_center_slider .carousel-indicators li.active{border-color:rgba(0, 61, 102, 0.8);background:#003d66;margin:3px;width:10px;height:10px;}

.reviews_on_center_slider .carousel-indicators{position:static;left:auto;bottom:auto;width:100%;margin:-20px 0 20px 0;}
.reviews_on_center_slider .author{display:block;text-align:right;color:#787878;margin:0;}

.education_center{display:inline;background:url('/templates/education/img/edu_center_ico.png') left center no-repeat;padding-left:25px;margin-left:10px;font-size:12px;}

@media (max-width: 991px){
    .reviews_on_center_clearer{clear:both}
}

.waiting{position:fixed;top:0;left:0;right:0;bottom:0;background:url('/templates/education/img/loading.gif') rgba(0,0,0,0.7) no-repeat center center;background-size:50px;z-index:999999;width:100%;height:100%;}

/*plaveholder for field*/
.show-field-placeholder::-webkit-input-placeholder {
    color:#979797 !important;
}
.show-field-placeholder:-moz-placeholder {
    color:#979797 !important;
}
.show-field-placeholder::-moz-placeholder {
    color:#979797 !important;
}
.show-field-placeholder:-ms-input-placeholder {
    color:#979797 !important;
}
form .form-group input + span {
    font-size: 12px;
    color: #787878;
}

.top_information_string{min-height:70px;}
.top_info_string_content{}
.top_info_string_icon{font-size:26px;float:left;margin:15px 15px 15px 0;}
.top_info_string_data{height:70px;overflow:hidden;display:table-cell;vertical-align:middle;}

.top_info_string_close{float:right;}

body.with_top_info_string{padding-top:220px;}
.with_top_info_string .top_information_string{position:absolute;top:0;left:0;right:0;width:100%;}
.with_top_info_string .navbar-fixed-top{top:70px;position: absolute;}
.with_top_info_string .navbar-fixed-top.shrink{top:0px;position:fixed;}
.with_top_info_string .top_info_string_data_long{display:block;}
.with_top_info_string .top_info_string_data_middle{display:none;}
.with_top_info_string .top_info_string_data_small{display:none;}

@media (max-width: 870px){
	body.with_top_info_string{padding-top:150px;}
	.with_top_info_string .top_info_string_data_long{display:none;}
	.with_top_info_string .top_info_string_data_middle{display:block;}
	.with_top_info_string .top_info_string_data_small{display:none;}
}
@media (max-width: 480px){
	body.with_top_info_string{padding-top:130px;}
	.with_top_info_string .top_info_string_data_long{display:none;}
	.with_top_info_string .top_info_string_data_middle{display:none;}
	.with_top_info_string .top_info_string_data_small{display:block;}
}

.form-group.doctor_only{display:none;}
.form-group.doctor_only.is_doctor_selected{display:block;}

.form-group input[type=checkbox]{margin-right:5px;}

.hid{display:none;}

.agree .input-validation-error{margin:10px 5px 0}
.agree .input-validation-error + span{border:solid 1px #f00;padding:5px 5px 5px 25px;display:block;}

.contactsForm .agree .input-validation-error{float:left;}

.popup_auth_error_message{display:none;color:#f00;}

.dropdown-submenu{position:relative;}
.dropdown-submenu > .dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;margin-left: 15px;}
.dropdown-submenu > a:after{display:block;font: normal normal normal 14px/1 FontAwesome;content: "\f107";float:right;line-height: 20px;}

@media (min-width: 871px){
	.dropdown-submenu > a:after{content: "\f105";}
	.dropdown-submenu > .dropdown-menu{margin-left: 0;}
}

.reviews_head{display: flex;flex-direction: row; align-items: center; color: #000; font-size: 20px; font-weight: bold;}
.reviews_count{border: 1px solid #eb592b;box-sizing: border-box;border-radius: 5px; font-size: 13px; padding: 8px 12px; display: flex;flex-direction: row;align-items: center; margin-left: 10px;}
.reviews_count:after{display: inline; font: normal normal normal 17px/1 FontAwesome; content: "\f004";padding-left:7px; color: #eb592b;}

.reviews_slider.carousel .carousel-control {background: none !important;background-color: transparent;width: 1px;text-shadow: none;opacity: 1;color: #377bb5;}
.reviews_slider.carousel .glyphicon {font-family: 'FontAwesome';color: #377bb5;margin-top: -25px;}
.reviews_slider.carousel .glyphicon.glyphicon-chevron-left:before {content: "\f104";}
.reviews_slider.carousel .glyphicon.glyphicon-chevron-right:before {content: "\f105";}

.one_slider_review_item{padding:15px 35px;}
.one_slider_review_item .one_slider_review_item_text{font-style: italic; font-size: 16px; line-height: 26px; color: #000;min-height: 78px;}
.one_slider_review_item .one_slider_review_item_text:before{content: "\f100";padding-right: 3px;font-family: 'FontAwesome'; float: left;color: #575757; font-size: 14px;}
.one_slider_review_item .one_slider_review_item_author{color:#575757;font-size: 14px; clear: both;}
.one_slider_review_item .one_slider_review_item_author:before{content: '•';color: #2BA8EB;padding-right: 5px;}
@media (max-width: 767px){
	.one_slider_review_item{padding:15px 0;}
}

h5.fw600{font-weight:600}

.seminar-type-link.css-transparent{background: transparent !important;border: 1px solid #377bb5;color: #377bb5;}

.no-padding-right{padding-right:0;}

.content-col .items.consultation_items .item{margin:0;}

.socials-pnl .ya-share2__container_size_s .ya-share2__icon, .socials-pnl .ya-share2__badge{width:18px; height:18px;}

#purchase_consultation_form .agree span{padding-left: 20px;display: block;}

#purchase_consultation_form .agree input{position: absolute;}


.navbar-header a.login, .navbar-header a.top_search{
	display: inline-block;
    padding: 0px 15px;
    border-left: 1px solid #45759e;
	color: #fff;
    position: relative;
    float: right;
    line-height: 75px;
}
.navbar-header a.login{
    border-right: 1px solid #45759e;
	margin-right: 10px;
}

.navbar-header a.login:before, .navbar-header a.top_search:before {
    content: "\f023";
    font-size: 30px;
    font-family: 'FontAwesome';
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin:0 3px;
    position: relative;
}

.navbar-header a.top_search:before {
    content: "\f002";
}
.navbar-header a.login.cabinet:before {
    content: "\f007";
}

@media (min-width: 871px){
	.navbar-header a.login, .navbar-header a.top_search{display:none;}
}

@media (max-width: 365px){
	body {padding-top:60px;}
	.navbar-header a.login, .navbar-header a.top_search{padding:0px 3px;margin:0;line-height: 56px;}
	.navbar-default .navbar-toggle{margin-right:0;padding:10px;}
}

.mobile-search-pnl{position: relative;display: none;}
.mobile-search-pnl input[type="text"]{padding: 10px 20px;width: 100%;}
.mobile-search-pnl input[type="text"]+span{position: absolute;top: 8px;right: 15px;line-height: 1;font-size: 14px;display: block;font-family: 'FontAwesome';}
.mobile-search-pnl input[type="text"]+span:after{display: block;content: '\f002';color: #000;margin-top: 6px;}

.event_participation{display:inline-block;margin-right:5px;padding: 2px 10px 2px 25px;}
.event_participation.event_participation_true{color:green;}
.event_participation.event_participation_false{color:red;}

.img-center {display: block; margin-left: auto; margin-right: auto}

.light-gray.content-block {
  display: none;
}
.mhz-list {
  display: flex;
  flex-wrap: wrap;
}