.event-points-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 9px;
  color: #fff;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  cursor: pointer;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.event-points-info,
.event-points-info:focus,
.event-points-info:active {
  background-color: #ffb41f;
  color: white !important;
}
.event-points-info:hover {
  background-color: goldenrod;
  color: white;
}
.event-points-info__icon {
  font-size: 18px;
  line-height: 22px;
  float: left;
}
.event-points-info__count {
  margin-left: 5px;
  line-height: 22px;
  float: left;
}
.event-points-button {
  padding-right: 42px;
  position: relative;
}
.event-points-button,
.event-points-button:active,
.event-points-button:focus {
  color: #fff !important;
}
.event-points-button:hover {
  color: #fff;
  opacity: 1;
}
.event-points-button__help {
  position: absolute;
  right: 17px;
  top: 50%;
  margin: -10px 0 0 !important;
  font-size: 20px;
  line-height: 20px;
}
.event-points-button__help .fa {
  margin: 0;
  color: #fff;
}
.event-points-badge {
  padding: 2px 9px !important;
  background: #ffb41f;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 5px;
  display: inline-block !important;
}
.event-points-option_disabled {
  background: whitesmoke;
  padding: 10px 15px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 0 0;
}
.event-points-option_disabled span {
  color: gray;
}
.event-points-option__message {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 7px;
  color: red;
}
.event-points-amount {
  position: relative;
  line-height: 20px;
  background: whitesmoke;
  padding: 10px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 0 0;
}
.event-points-amount__text {
  vertical-align: top;
}
.event-points-amount__help {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.event-points-amount__help .fa {
  margin: 0;
}
.event-points-amount__help .fa:hover {
  opacity: 0.7;
}
.event-points-summary {
  margin-bottom: 40px;
}
.event-points-summary__text {
  margin: 0 0 5px;
}
.event-points-summary__text span {
  color: red;
}
.event-points-table_existing {
  color: #ffb41f;
}
.event-points-table_potential {
  color: #99da90;
}
.event-points-table_frozen {
  color: #61b6ff;
}
.event-points-table .event-points-table__header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 22px;
}
.event-points-table__count {
  text-align: center;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  margin: 10px 0;
}
.event-points-table__text {
  text-align: center;
}
.event-points-dot:before,
.event-points-dot:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: -1px;
}
.event-points-dot_menu:before {
  content: '';
  margin-right: 8px;
}
.event-points-dot_dropdown:before {
  content: '';
  margin-right: 8px;
}
.event-points-dot_submenu:before {
  content: '';
  margin-right: 8px;
}
.event-points-buttons {
  margin: 35px 0 10px;
  text-align: center;
}
.event-points-buttons__item {
  display: inline-block;
  margin: 0 5px;
}
.seminars .items .item,
.content-col .items .item,
.event-page .preview {
  position: relative;
}
.events-page .item .btn-blue,
.events-page .item .btn-orange,
.event-page .btn-blue,
.event-page .btn-orange {
  height: 40px;
}
.btn-group .btn-blue {
  z-index: 15;
}
.event-page .btns .btn-group {
  margin-bottom: 10px;
}

.event-page .btns .btn-group.event-bottom-group {
    margin-bottom: 0;
}
@media (max-width: 767px) {
  .event-page .btns .btn-group {
    margin-bottom: 0;
  }
}
.btn-points-discount,
.btn-points-discount:focus,
.btn-points-discount:active {
  background-color: #ffb41f;
  color: white;
}
.btn-points-discount:hover {
  background-color: goldenrod;
  color: white;
}

.event-points-table__text p{color:#505050}

/*custom*/
.event-points-info {
    z-index: 11;
}

.thumbnail .btn-points-discount,
.thumbnail .btn-points-discount:focus,
.thumbnail .btn-points-discount:active {
    background-color: transparent;
    color: #ffb41f;
		padding-right:0;
		z-index: 12;
}
.thumbnail .event-points-button__help {
    position: relative;
    right: 0;
    top: 7px;
    display: inline-block;
    margin: 0 0 0 3px !important;
}
.thumbnail .event-points-button__help .fa {
    color: #ffb41f;
}

.seminars .items .item .popover .popover-title,
.content-col .items .item .popover .popover-title{
	display:none;
}
.seminars .items .item .popover,
.content-col .items .item .popover {
	z-index:9999;
	padding:0;
	background-color: #377bb5;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 200px;
}

.seminars .items .item .popover.top .arrow,
.content-col .items .item .popover.top .arrow{bottom: -6px;border-width: 5px 5px 0; border-color: rgba(0,0,0,0);}
.seminars .items .item .popover.top>.arrow:after,
.content-col .items .item .popover.top>.arrow:after{border-top-color: #377bb5;border-width: 5px 5px 0;}

.seminars .items .item .popover > .popover-content,
.content-col .items .item .popover > .popover-content{
	color: #fff;
	padding: 3px 8px;
	text-align:center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
}
.seminars .items .item .popover > .popover-content a,
.seminars .items .item .popover > .popover-content a:hover,
.seminars .items .item .popover > .popover-content a:focus,
.seminars .items .item .popover > .popover-content a:visited,
.seminars .items .item .popover > .popover-content a:active,
.content-col .items .item .popover > .popover-content a,
.content-col .items .item .popover > .popover-content a:hover,
.content-col .items .item .popover > .popover-content a:focus,
.content-col .items .item .popover > .popover-content a:visited,
.content-col .items .item .popover > .popover-content a:active{
	color: #fff;
	text-decoration:underline;
}
.seminars .items .item .popover > .popover-content a:hover,
.content-col .items .item .popover > .popover-content a:hover{
	text-decoration:none;
}
.seminars .items .item .popover > .popover-content h1,
.content-col .items .item .popover > .popover-content h1,
.seminars .items .item .popover > .popover-content h2,
.content-col .items .item .popover > .popover-content h2,
.seminars .items .item .popover > .popover-content h3,
.content-col .items .item .popover > .popover-content h3,
.seminars .items .item .popover > .popover-content h4,
.content-col .items .item .popover > .popover-content h4{
	color: #fff;
	margin:0 3px;
}
