.new-icon_stazh:after {
    background-image: url('../img/new-images/Collaboration.png');
    background-size: contain;
}

.reset_filter{
    float:none !important;
    font-size: 20px;
    vertical-align: middle;
    padding:0 !important;
    margin-left:10px;
}

.tooltip {z-index:9999;}
.tooltip > .tooltip-inner {background-color: #377bb5;}
.tooltip.top .tooltip-arrow {border-top-color: #377bb5;}

.tooltip > .tooltip-inner h1,
.tooltip > .tooltip-inner h2,
.tooltip > .tooltip-inner h3,
.tooltip > .tooltip-inner h4{color: #fff; margin:0 3px;}

.bootstrap-select.btn-group .dropdown-menu li.disabled a span.check-mark{
    cursor: not-allowed;
    pointer-events: all !important;
    border: 1px solid #cecece;
}
.multiple-custom .dropdown-menu li.disabled a span.check-mark:hover{
    border: 1px solid #cecece;
}

.multiple-custom .js--filters-submit.refresh span{
    display: inline-block;
    margin-right: 5px;
}

.new-icon_large {
    background-image: none;
    background-color: #387bb5;
}
.new-icon_xlarge {
    background-image: none;
    background-color: #387bb5;
}
.new-icon0 {
    background-image: none;
    background-color: #387bb5;
}

.card-item_extended .card-item__left.d_link_wrap {
    text-align: center;
}
.card-item_extended .card-item__left.d_link_wrap .d_link{
    margin:5px;
    display:inline-block
}

a.btn_icon-back {
	cursor: pointer;
}
a.btn_icon-back:active,
a.btn_icon-back:focus {
	color: white;
	cursor: default;
}

.btn-primary.btn_icon-back{
    float:right;
    margin:20px 0 10px;
    position: relative;
    padding: 5px 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.28);
}
.btn-primary.btn_icon-back.into{
    margin:0;

}
.btn_icon-back i{
	margin-right: 10px;
}
.btn-primary.btn_icon-back.program_back{
	margin-top: -10px;
}

.right_side{
	float:right;
}
.metadata-list_inline .metadata-list__item.right_side:first-child{
	margin-right:0px;
}
.right_side .types-list__item{
	display: inline-block;
	font-size: 0;
	margin: 0px 15px 0 0;
}

#speakerBigImage .modal-body{
    text-align:center;
}
#speakerBigImageSrc{
    width:100%;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
    min-width:50px;
}

.new-icon_small:after {
    background-size: auto 15px;
}

@media (min-width: 767px){
	.card-item.program .metadata-list__item-icon,
	.speaker_programs .metadata-list__item-icon{
		vertical-align: middle;
	}
	.card-item.program .metadata-list_inline .metadata-list__item,
	.speaker_programs .metadata-list_inline .metadata-list__item{
		line-height: 40px;
		vertical-align: baseline;
	}
}

/**
 * Menu
 */
.submenu {
	background: #ebebeb;
	overflow: hidden;
	position: relative;
}
@media (min-width: 871px) {
	.submenu {
		display: none !important;
	}
}
.submenu_is-open .submenu__top {
	background: #dedede;
}
.submenu_is-open .submenu__top:after {
	transform: rotate(-180deg);
}
.submenu__top {
	font-weight: bold;
	font-size: 14px;
	color: #505050;
	padding: 13px 15px;
	outline: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transition: all 0.3s ease-out;
	background: #ebebeb;
}
.submenu__top:after {
	content: '\f107';
	position: absolute;
	right: 15px;
	top: 13px;
	color: #505050;
	font-size: 20px;
	font-family: fontAwesome;
	transition: all 0.3s ease-out;
}
.submenu__content {
	display: none;
	overflow: hidden;
}
.submenu__content-inner {
	padding: 10px 15px 15px;
}
.submenu__content-inner > div {
	margin-bottom: 15px;
}
.submenu__content-inner > div:last-child {
	margin-bottom: 0 !important;
}

.glyphicon-refresh-animate{
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@media (max-width: 870px){
	.reset_filter{
		padding:0 !important;
	}
}