.phone-validator {
  margin: 10px 0 0;
  padding: 15px;
  border-radius: 4px;
  background: #f1f1f1; }
  .phone-validator h5 {
    color: #07477d;
    margin: 0 0 15px;
    font-weight: 700; }
  .phone-validator input {
    margin-bottom: 15px; }
  .phone-validator__error {
    color: #f02b2b;
    margin0: -15px 0 15px;
    margin: 5px 0 0;
    font-size: 12px; }
  .phone-validator__message {
    font-size: 14px;
    line-height: 1.1;
    margin: 0;
    font-weight: 700; }
    .phone-validator__message_success {
      color: #4da54e; }
    .phone-validator__message_error {
      color: #ff0000; }

.phone-validator-modal .modal-dialog {
  margin-left: auto;
  margin-right: auto; }
.phone-validator-modal .modal-header {
  border: none;
  padding: 10px 15px 10px 40px; }
.phone-validator-modal .modal-header .header4 {
  margin: 0;
  margin-top: 20px; }
.phone-validator-modal .modal-header .close span,
.phone-validator-modal .modal-header .close {
  color: #377bb5;
  opacity: 1; }
.phone-validator-modal .modal-body {
  padding: 10px 40px; }
.phone-validator-modal .modal-footer {
  padding: 0 40px 40px;
  border: none; }
.phone-validator-modal .form-group {
  margin-bottom: 15px; }

.js-phone--repeat.disabled{
    cursor: default;
    color:#505050;
}
.js-phone--send-code{margin-right:10px;}