@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic.eot');
    src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic.woff2') format('woff2'), url('../fonts/opensans-italic.woff') format('woff'), url('../fonts/opensans-italic.ttf') format('truetype'), url('../fonts/opensans-italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular.woff2') format('woff2'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype'), url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold.woff2') format('woff2'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype'), url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

body {
    font-family: 'open_sansregular', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #505050;
    background-color: #fafafa;
}

figure {
    display: none;
}

body {
    padding-top: 150px;
}

a {
    color: #377bb5;
}

    a:hover {
        color: #2aa8ec;
    }

    a, a:hover, a:focus, a:visited {
        text-decoration: none;
        outline: none;
    }

        /*a:visited, a:focus {
            color: inherit;
        }*/

h1, h2, h3, h4, h5, h6, .header2, .header3, .header4 {
    color: #003d66;
    font-weight: 500;
    line-height: 1.1;
}

h1, h2, .header2 {
    font-size: 40px;
    margin: 20px 0 32px;
}

h3, .header3 {
    font-size: 30px;
    margin-bottom: 15px;
}

h4, .header4 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.page-header {
    padding: 0;
    margin: 0;
    border: 0 none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

    .page-header i.fa, .page-header i.glyphicon {
        display: inline;
        padding: 0;
        margin: 0;
        border: 0 none;
        font-size: 37px;
        color: #003d66;
        font-weight: 500;
        line-height: 1.1;
        position: relative;
        top: -2px;
        margin-right: 17px;
    }

    .page-header h1 {
        display: inline-block;
    }

h2 i.fa {
    margin-right: 17px;
    font-size: 37px;
    position: relative;
    top: -2px;
}

p > .fa, span > .fa {
    margin-right: 5px;
    width: 17px;
    text-align: center;
    color: #787878;
}

hr {
    border-top: 1px solid #ebebeb;
}

article table {
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    border: 1px solid #ececec;
    margin: 20px 0 30px;
}

    article table b {
        font-weight: 600;
    }

    article table caption b {
        color: #003d66;
        font-family: 'open_sanssemibold';
        font-weight: normal;
        font-size: 14px;
    }

    article table td {
        width: 20%;
    }

    article table th, article table td {
        text-align: center;
    }

    article table thead th {
        color: white;
        font-weight: normal;
        padding: 5px 10px;
        background-color: #377bb5;
    }

    article table thead tr + tr th {
        background-color: #5c9cd7;
        border-top: 1px solid #7dafdd;
    }

    article table tbody td {
        padding: 10px;
        background-color: #f7f7f7;
        border-top: 1px solid #ececec;
    }

    article table tbody tr:nth-child(2n) td {
        background-color: #fff;
    }

.form-horizontal hr {
    margin-top: 40px;
    margin-bottom: 30px;
}

.form-horizontal .form-group input + span {
    font-size: 12px;
    color: #787878;
}

.form-horizontal a.add-more {
    display: inline-block;
    margin-top: 20px;
}

label {
    font-weight: normal;
}

.form-group {
    padding-top: 5px;
}

.form-control {
    background-color: #f3f3f3;
    border-color: #b7b7b7;
    height: 40px;
}

.top-arrow {
    display: block;
    position: fixed;
    width: 45px;
    height: 45px;
    right: 40px;
    border-radius: 45px;
    border: 1px solid #6a91b1;
    /*background-color: #fafafa;*/
    bottom: 50px;
    display: none;
    text-align: center;
    /*box-shadow: 0px 0px 2px #949494;*/
    z-index: 10000;
}

    .top-arrow:after {
        content: '\f106';
        display: inline-block;
        color: #6a91b1;
        font-size: 23px;
        margin-top: 8px;
        font-family: fontAwesome;
    }

    .top-arrow:hover {
        background-color: #377bb5;
        border-color: #377bb5;
    }

        .top-arrow:hover:after {
            color: #fff;
        }

textarea.form-control {
    min-height: 175px;
}

.blue {
    color: #07477d;
}

.btn {
    border-radius: 3px;
    padding: 9px 20px;
    transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    font-family: 'open_sanssemibold';
}

.btn-primary, .btn-primary:visited, .btn-primary:focus {
    background-color: #2ba8eb;
    border: 1px solid transparent;
    color: white;
}

    .btn-primary:hover {
        background-color: #07477d;
        border: 1px solid transparent;
    }

.btn-green, .btn-green:visited, .btn-green:focus {
    background-color: #81e473;
    border: 1px solid transparent;
    color: white;
}

    .btn-green:hover {
        background-color: #6bcf5d;
        border: 1px solid transparent;
        color: white;
    }

.btn-white, .btn-white:visited, .btn-white:focus {
    border: 2px solid white;
    color: white;
}

    .btn-white:hover {
        color: #c9d6e2;
    }

.btn-blue, .btn-orange {
    background-color: #07477d;
    color: white;
    cursor: default;
}

    .btn-blue:hover, .btn-orange:hover {
        color: white;
    }

.btn-orange {
    background-color: #f68e56;
}

.navbar {
    margin-bottom: 0;
}

.pswp__caption__center br, .pswp__caption__center small {
    display: none;
}

.main-nav .navbar-brand {
    margin-left: 20px;
    margin-top: 17px;
    display: block;
    padding-top: 0;
    outline: none;
    height: auto;
    padding-bottom: 0;
}

    .main-nav .navbar-brand img {
        display: none;
    }

        .main-nav .navbar-brand img:first-child {
            display: block;
            width: 146px;
            height: auto;
        }

        .main-nav .navbar-brand img + img {
            width: 108px;
            height: auto;
        }

.main-nav .social-icons {
    display: none;
    margin: 0;
    padding: 0;
    margin-right: 30px;
    float: right;
}

    .main-nav .social-icons li {
        display: inline-block;
    }

    .main-nav .social-icons .circled-icon:hover {
        color: #2aa8ec;
    }

.main-nav.shrink .social-icons {
    display: inline-block !important;
}

.main-nav.navbar {
    border: 0 none;
    border-radius: 0;
}

.main-nav .navbar-header {
    min-height: 100px;
    z-index: 2000;
    position: relative;
}

.main-nav.navbar-default {
    background-color: #07477d;
    min-height: 150px;
}

    .main-nav.navbar-default:after {
        content: "";
        display: block;
        width: 100%;
        background-color: #377bb5;
        height: 50px;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

.main-nav.shrink .navbar-collapse {
    min-height: 100px;
}

.main-nav .navbar-collapse ul.bottom {
    -webkit-transition: top 1s ease 0s;
    -moz-transition: top 1s ease 0s;
    -o-transition: top 1s ease 0s;
    transition: top 1s ease 0s;
}

.main-nav.shrink .search {
    margin-top: 8px;
    height: 32px;
    -webkit-transition: height 0.5s ease 0s;
    -moz-transition: height 0.5s ease 0s;
    -o-transition: height 0.5s ease 0s;
    transition: height 0.5s ease 0s;
}

    .main-nav.shrink .search:after {
        top: 9px;
    }

    .main-nav.shrink .search .text-field {
        padding: 4px 35px 4px 20px;
    }

    .main-nav.shrink .search .search-btn {
        padding: 4px 15px 4px 5px;
    }

/*.main-nav.shrink .email {
    margin-top: 8px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    -webkit-transition: height width 0.5s ease 0s;
    -moz-transition: height width 0.5s ease 0s;
    -o-transition: height width 0.5s ease 0s;
    transition: height width 0.5s ease 0s;
}

    .main-nav.shrink .email.circled-icon i {
        line-height: 30px;
    }*/

.main-nav.shrink .circled-icon {
    margin-top: 8px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    -webkit-transition: height width 0.5s ease 0s;
    -moz-transition: height width 0.5s ease 0s;
    -o-transition: height width 0.5s ease 0s;
    transition: height width 0.5s ease 0s;
}

    .main-nav.shrink .circled-icon i {
        line-height: 30px;
    }

.main-nav.shrink .navbar-collapse ul.top li ul li.kerr, .main-nav.shrink .navbar-collapse ul.top li ul li.kavo {
    display: none;
}

.main-nav .navbar-collapse .top-nav > .top {
    float: right;
    width: 83%;
    position: absolute;
}

.main-nav .navbar-collapse ul li a, .main-nav .navbar-collapse ul li a:focus, .main-nav .navbar-collapse ul li a:visited {
    color: white;
    outline: none;
}

.main-nav .navbar-collapse ul.top {
    float: right;
}

    .main-nav .navbar-collapse ul.top li ul {
        list-style: none;
        padding: 0;
    }

        .main-nav .navbar-collapse ul.top li ul li {
            float: left;
            padding: 10px 2px 0 0;
        }

            .main-nav .navbar-collapse ul.top li ul li a {
                text-transform: uppercase;
                font-size: 12px;
                padding: 4px 5px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            .main-nav .navbar-collapse ul.top li ul li:hover a {
                color: #c9d6e2;
            }

            .main-nav .navbar-collapse ul.top li ul li.active a {
                color: #fff;
                background-color: #205a8a;
            }

            .main-nav .navbar-collapse ul.top li ul li.kerr a {
                position: relative;
                top: 6px;
            }

            .main-nav .navbar-collapse ul.top li ul li.kerr {
                margin-left: 10px;
            }

            .main-nav .navbar-collapse ul.top li ul li.kavo, .main-nav .navbar-collapse ul.top li ul li.kerr {
                padding-top: 0;
            }

                .main-nav .navbar-collapse ul.top li ul li.kavo a, .main-nav .navbar-collapse ul.top li ul li.kerr a {
                    display: block;
                }

    .main-nav .navbar-collapse ul.top li.corporation > a {
        display: none;
    }

.main-nav .navbar-collapse ul.bottom {
    width: calc(100% + 30px);
    margin-left: -15px;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    padding: 0;
    height: 50px;
}

    .main-nav .navbar-collapse ul.bottom li.dropdown:hover, .main-nav .navbar-collapse ul.bottom li.dropdown.open a {
        background-color: #07477d;
        color: white;
    }

    .main-nav .navbar-collapse ul.bottom li.dropdown.active > a {
        padding-bottom: 11px;
        /*border-bottom: 4px solid #2aa8ec;*/
        color: white;
    }

    .main-nav .navbar-collapse ul.bottom li.dropdown:hover a {
        color: #ffffff;
    }

    .main-nav .navbar-collapse ul.bottom li:hover a {
        color: #c9d6e2;
    }

.main-nav .email {
    margin-left: 14px;
    float: right;
    margin-right: 15px;
}

    .main-nav .email:hover {
        color: #75a8a9;
    }

.main-nav .dropdown-menu {
    background-color: #07477d;
    border: 0 none;
    padding: 10px 0;
    box-shadow: none;
}

    .main-nav .dropdown-menu > li > a {
        padding: 5px 20px;
    }

.main-nav .navbar-collapse ul.bottom .dropdown-menu > li:hover > a, .main-nav .navbar-collapse ul.bottom .dropdown-menu > li.active > a {
    color: #2aa8ec;
    background-color: transparent;
}

.circled-icon, .circled-icon:focus, .circled-icon:visited {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #75a8a9;
    color: white;
    display: block;
    text-align: center;
}

    .circled-icon i {
        line-height: 38px;
    }

    .circled-icon:hover {
        color: #2aa8ec;
    }

.textbox {
    border-radius: 40px;
    border: 1px solid #75a8a9;
    height: 40px;
    background-color: transparent;
    font-size: 13px;
    color: white;
    outline: none;
    padding: 0 35px 0 20px;
}

.main-nav .search {
    float: right;
    margin: 0;
    position: relative;
    width: 17%;
}

.main-nav .search {
    border-radius: 40px;
    border: 1px solid #75a8a9;
    height: 40px;
    background-color: transparent;
    font-size: 13px;
    color: white;
    outline: none;
    position: relative;
}

    .main-nav .search .text-field {
        /*padding: 0 35px 0 20px;*/
        width: 100%;
        position: absolute;
        top: -1px;
        padding: 8px 35px 8px 20px;
        background: none;
        border: none !important;
        outline: none !important;
    }

    .main-nav .search .search-btn {
        margin-left: -20px;
        position: absolute;
        top: -1px;
        right: 0;
        padding: 8px 15px 8px 5px;
        background: none;
        border: none !important;
        outline: none !important;
    }

        .main-nav .search .search-btn i {
            font-size: 14px;
        }


    .main-nav .search input::-webkit-input-placeholder {
        color: white;
    }

    .main-nav .search input::-moz-placeholder {
        color: white;
    }

    .main-nav .search input:-ms-input-placeholder {
        color: white;
    }

    .main-nav .search input:-moz-placeholder {
        color: white;
    }

.main-nav .navbar-collapse ul.bottom li.academy {
    position: relative;
}

    .main-nav .navbar-collapse ul.bottom li.academy > a {
        font-family: 'open_sanssemibold';
    }

    .main-nav .navbar-collapse ul.bottom li.academy i {
        font-size: 18px;
        margin: 0px 5px 0 0px;
        position: relative;
        top: 2px;
    }

.main-nav .navbar-collapse ul.bottom li.cabinet {
    float: right;
}

    .main-nav .navbar-collapse ul.bottom li.cabinet i {
        font-size: 17px;
        position: relative;
        top: 1px;
        margin-right: 10px;
    }

.main-nav .txt-portal {
    font-size: 11px;
    position: absolute;
    top: 80px;
    left: 3px;
    line-height: 1;
    width: 270px;
    min-width: 270px;
    display: none;
    color: rgb(169, 199, 224);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0 none;
}

.caret {
    font: normal normal normal 14px/1 FontAwesome;
    border: none;
    margin-top: -15px;
    margin-left: 4px;
}

    .caret:before {
        content: "\f107";
    }

.navbar-default .navbar-toggle {
    border: 0 none;
}

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }

    .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #29A8EB;
    }

.navbar-collapse.collapse, .navbar-collapse.collapse.in {
    display: block;
}

.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 35px 5px 25px;
}

.navbar-toggle .icon-bar {
    width: 30px;
    height: 4px;
}

    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 5px;
    }

.navbar-toggle {
    padding: 18px 10px;
}

/*Index Popup*/
.register-modal .modal-dialog {
    width: 367px;
}

.register-modal .modal-dialog {
    margin-left: auto;
    margin-right: auto;
}

.register-modal .modal-header {
    border: none;
    padding: 10px 15px 10px 40px;
}

    .register-modal .modal-header .header4 {
        margin: 0;
        margin-top: 20px;
    }

    .register-modal .modal-header .close span, .register-modal .modal-header .close {
        color: #377bb5;
        opacity: 1;
    }

.register-modal .agree input {
    position: absolute;
}

.register-modal .agree span {
    padding-left: 20px;
    display: block;
}

.register-modal .modal-body {
    padding: 10px 40px 10px 40px;
}

.register-modal .modal-footer {
    padding: 0px 40px 40px 40px;
    border: none;
}
/*Index Popup*/

/*Content block*/
.content-block {
    padding-top: 40px;
    padding-bottom: 40px;
}

    .content-block h2, .content-block .header2 {
        color: #07477d;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .content-block.light-gray {
        background-color: #fafafa;
    }

    .content-block.gray {
        background-color: #f3f3f3;
    }

    .content-block.blue {
        background-color: #377bb5;
    }

    .content-block.dark-blue {
        background-color: #07477d;
    }
/*Home Slider*/
.top-slider.carousel {
    background-color: white;
    max-width: 849px;
    margin: 0 auto;
}

    .top-slider.carousel .info .header2 {
        font-size: 36px;
        color: #07477d;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .top-slider.carousel .info .btn {
        margin-top: 15px;
    }

    .top-slider.carousel .carousel-control {
        background: none !important;
        background-color: transparent;
        width: 55px;
        text-shadow: none;
        opacity: 1;
        color: #377bb5;
    }

    .top-slider.carousel .glyphicon {
        font-family: 'FontAwesome';
        color: #377bb5;
        margin-top: -40px;
    }

        .top-slider.carousel .glyphicon.glyphicon-chevron-left:before {
            content: "\f104";
        }

        .top-slider.carousel .glyphicon.glyphicon-chevron-right:before {
            content: "\f105";
        }

    .top-slider.carousel .carousel-control .glyphicon {
        color: #377bb5;
    }

        .top-slider.carousel .carousel-control .glyphicon:hover {
            color: #c9d6e2;
        }

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 54%;
}

.top-slider .carousel-inner > .item {
    min-height: 350px;
    padding: 30px 65px 50px 65px;
}

    .top-slider .carousel-inner > .item .info {
        padding-top: 30px;
    }

    .top-slider .carousel-inner > .item a {
        display: inline-block;
    }

.top-slider .carousel-indicators {
    left: auto;
    right: 0px;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 45px 20px 0 0px;
    background: url('../img/slider-bg.png') no-repeat right top;
    margin: 0;
    height: 80px;
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

    .top-slider .carousel-indicators {
        background: url('../img/slider-bg@2x.png') no-repeat right top;
        background-size: 100% 100%;
    }
}

.top-slider .carousel-indicators li {
    margin: 0 0 0 9px;
    width: 12px;
    height: 12px;
}

.top-slider .carousel-indicators .active {
    margin: 0 0 0 9px;
}


/*For fade*/
/*.carousel-fade .carousel-inner .item {
    transition-property: opacity;
    transition-duration: 1.5s;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

    .carousel-fade .carousel-inner .next,
    .carousel-fade .carousel-inner .prev,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
    }

.carousel-fade .carousel-control {
    z-index: 2;
}*/
/*End Home Slider*/


/*News*/
.news ul {
    list-style: none;
    padding: 0;
    float: none;
    clear: both;
}

    .news ul li {
        margin-bottom: 20px;
    }

        .news ul li a, .news ul li span {
            display: block;
        }

        .news ul li a {
            font-size: 16px;
        }

        .news ul li span {
            font-size: 13px;
            color: #787878;
            margin-top: 5px;
        }

        .news ul li p {
            font-size: 13px;
            line-height: 1.4;
            margin-top: 12px;
            color: #505050;
        }

.news .btn, .videos .btn, .reviews .btn, .events .btn-primary {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}
/*End News*/

/*Videos*/
.videos ul {
    list-style: none;
    padding: 0;
}

.thumbnail {
    padding: 0;
    border: 0 none;
    border-radius: 0;
}

.thumbnail, .reviews ul li, .events-calendar, .seminars-calendar {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

    .thumbnail .caption {
        padding: 0;
    }

        .thumbnail .caption > a {
            padding: 15px 20px;
            display: block;
            line-height: 23px;
        }

    .thumbnail .author {
        padding: 15px 10px 15px 20px;
    }

.videos .thumbnail .author {
    border-top: 1px solid #ebebeb;
    display: block;
}

.thumbnail .author img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.thumbnail .author img, .thumbnail .author span {
    float: left;
    display: block;
}

.thumbnail .author span {
    color: #505050;
    width: calc(100% - 70px);
    padding-top: 7px;
}

.thumbnail .author:after {
    display: block;
    width: 100%;
    height: 0;
    clear: both;
    content: '';
}

.videos .thumbnail .video-link {
    display: block;
}

    .videos .thumbnail .video-link .header3 {
        padding: 15px 20px;
        display: block;
        line-height: 23px;
        font-size: 14px;
        margin: 0;
    }

.videos .video-link .preview {
    position: relative;
}

    .videos .video-link .preview img {
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .videos .video-link .preview:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 3;
        content: '';
    }

    .videos .video-link .preview:after {
        content: '\f04b';
        font-family: 'FontAwesome';
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        font-size: 23px;
        line-height: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
        z-index: 4;
        color: rgba(0,0,0,0.4);
        padding-left: 24px;
        background-color: rgba(255,255,255,0.5);
    }

.videos .video-link:hover .preview:before {
    background-color: rgba(0,0,0,0.7);
}

.videos .locked .lock {
    position: absolute !important;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 58px;
    height: 58px;
    display: block;
    width: auto !important;
    background-color: rgba(255,255,255,1);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 11 !important;
}

.videos .locked .video-link .preview:after {
    display: none;
}
/*End Videos*/
.discount {
    padding-top: 45px;
    text-align: center;
}

    .discount a {
        display: inline-block;
    }

    .discount img {
        border: 1px solid #ebebeb;
        margin-bottom: 45px;
        width: 100%;
    }

.reviews ul {
    list-style: none;
    padding: 0;
}

    .reviews ul li {
        background-color: white;
        padding: 40px 40px;
        margin-left: 15px;
        width: calc(50% - 30px);
        margin-right: 15px;
    }

        .reviews ul li p {
            font-family: 'open_sansitalic';
            font-size: 16px;
            color: #505050;
        }

            .reviews ul li p:before {
                content: '\00ab';
                font-size: 30px;
                position: relative;
                top: 2px;
                padding-right: 6px;
            }

            .reviews ul li p:after {
                content: '\00bb';
                font-size: 30px;
                position: relative;
                top: 2px;
                padding-left: 6px;
            }

        .reviews ul li span {
            color: #787878;
            text-align: right;
            display: block;
        }

            .reviews ul li span:before {
                content: '\2014';
                padding-right: 6px;
            }

/*Events*/
.events ul.list > li {
    margin-bottom: 30px;
}

.events .thumbnail {
    text-align: center;
    border-top: 4px solid #becefd;
    position: relative;
}

    .events .thumbnail .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 10;
    }

    .events .thumbnail .register {
        position: relative;
        z-index: 11;
    }

.thumbnail.yellow {
    border-top: 4px solid #feefc0;
}

.thumbnail.pink {
    border-top: 4px solid #febef2;
}

.thumbnail.green {
    border-top: 4px solid #bfeec4;
}

.thumbnail.aqua {
    border-top: 4px solid #b2e7fa;
}
.thumbnail.yellowbr {
    border-top: 4px solid #FF5F30;
}

.events .thumbnail:hover {
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
}

.events .thumbnail .level {
    display: block;
    margin-top: 5px;
}

.events .thumbnail .level, .events .thumbnail .location {
    color: #787878;
    font-size: 13px;
}

.events .thumbnail .topic-wrapper {
    height: 70px;
    display: table;
    width: 100%;
}


.events .thumbnail .topic {
    display: table-cell;
    vertical-align: middle;
}

    .events .thumbnail .topic a {
        font-size: 16px;
        padding: 0px 20px;
        display: block;
        text-align: center;
    }

.events .thumbnail ul.stars {
    margin-top: 2px;
}

    .events .thumbnail ul.stars li, .events-page ul.stars li {
        display: inline-block;
        color: #c9d6e2;
        font-size: 16px;
        margin-right: 1px;
    }

.events .thumbnail .date {
    color: #505050;
    display: block;
    margin-top: 5px;
}

.events .thumbnail .location {
    padding: 5px 20px;
    display: block;
}

.events .thumbnail .price-border {
    border-top: 1px solid #ebebeb;
    margin-top: 15px;
}

.events .thumbnail .price {
    background-color: #c9d6e2;
    padding: 4px 10px;
    color: #505050;
    font-size: 12px;
    border-radius: 14px;
    position: relative;
    top: -13px;
    font-family: 'open_sanssemibold';
}

    .events .thumbnail .price .old-price {
        text-decoration: line-through;
        margin-right: 5px;
        font-size: 12px;
        font-family: 'open_sansregular';
    }

    .events .thumbnail .price .new-price {
        color: #ff0000;
        font-size: 12px;
        font-family: 'open_sanssemibold';
    }

.events .thumbnail .author {
    padding-top: 5px;
}

    .events .thumbnail .author span {
        text-align: left;
    }

.events .thumbnail .btn-green {
    margin: 5px auto 20px;
}

.events .btn-primary {
    margin-top: 0;
}

.events .txt-recomend {
    color: #505050;
    text-align: center;
    font-family: 'open_sanssemibold';
    padding-top: 10px;
}
/*End Events*/

/* News page*/
.news-page .items {
    list-style: none;
    padding: 0;
}

    .news-page .items .item {
        margin-bottom: 30px;
    }

    .news-page .items img {
        display: block;
    }

    .news-page .items .default-photo {
        border: 1px solid #c9d6e2;
        text-align: center;
        width: 100%;
    }

    .news-page .items .left > a {
        display: block;
        width: 100%;
    }

    .news-page .items .default-photo img {
        display: inline-block;
        padding: 40px 10px;
    }

    .news-page .items h4 {
        color: #377bb5;
        margin-bottom: 0px !important;
    }

    .news-page .items .date {
        color: #787878;
        font-size: 12px;
        margin-bottom: 10px;
        display: inline-block;
    }

    .news-page .items .preview {
        margin-bottom: 0;
    }
/*\News page*/

/*Representations*/
.representations {
    color: white;
}

    .representations .row > div:nth-child(2), .representations .row > div:nth-child(3) {
        margin-left: -35px;
    }

    .representations .info-icon {
        font-size: 80px;
        height: 100px;
        background-color: #4b88bd;
        padding: 7px 40px;
        display: inline-block;
        text-align: center;
        line-height: 1;
        border-radius: 12px;
        margin-top: 16px;
    }

    .representations .header4 {
        font-size: 20px;
        color: white;
    }

    .representations p {
        margin-top: 15px;
    }

    .representations .right {
        text-align: center;
        border-left: 1px solid #6396c3;
        margin-left: 10px;
        padding-left: 65px;
    }

        .representations .right .btn {
            margin: 40px auto;
        }
/*End Representations*/

/*Footer*/
footer.content-block {
    padding: 45px 0;
}

footer hr {
    border-color: #205a8a;
}

footer .menu span {
    display: block;
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid #205a8a;
}

footer .menu ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

    footer .menu ul li {
        margin-top: 7px;
    }

        footer .menu ul li a {
            color: #2aa8ec;
        }

            footer .menu ul li a:hover {
                color: #c9d6e2;
            }

footer .bottom-info {
    padding-top: 10px;
    color: white;
    z-index: 2;
    position: relative;
}

    footer .bottom-info .left-pnl a, footer .bottom-info .left-pnl a:visited, footer .bottom-info .left-pnl a:focus {
        font-size: 13px;
        display: table;
        color: #2aa8ec;
    }

        footer .bottom-info .left-pnl a:hover {
            color: #c9d6e2;
        }

    footer .bottom-info .left-pnl span {
        display: inline-block;
    }

    footer .bottom-info span {
        font-size: 13px;
    }

footer .old-site-lnk {
    border: 1px solid #6a91b1;
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 13px;
    color: white;
    display: inline-block;
}

    footer .old-site-lnk:hover {
        color: #c9d6e2;
    }

footer .social-icons, footer .payment-icons {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
}

    footer .social-icons li, footer .payment-icons li {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
    }

        footer .social-icons li:last-child, footer .payment-icons li:last-child {
            margin-right: 0;
        }

footer .social-icons {
    /*margin-right: 50px;*/
}

footer .site-creator {
    display: table;
    float: right;
}

    footer .site-creator a {
        color: #2aa8ec;
    }

        footer .site-creator a:hover {
            color: #c9d6e2;
        }

.reviews .btn {
    margin-top: 40px;
}

/*Events*/
.events ul {
    list-style: none;
    padding: 0;
}
/*End Events*/
.ui-datepicker {
    z-index: 1500 !important;
}
/*begin seminars calendar*/
.blue-skin {
    background-color: white;
}

    .blue-skin .ui-datepicker {
        padding: 0;
        width: 18em;
    }

    .blue-skin .ui-widget-content, .events-calendar, .seminars-calendar {
        border: none;
        padding: 20px;
        width: 100%;
        border-radius: 0;
        background: #fff;
    }

.events-calendar, .seminars-calendar {
    padding: 0 0 20px 0;
}

    .seminars-calendar .seminar-types {
        text-align: center;
    }

        .seminars-calendar .seminar-types a.seminar-type-link, .seminars-calendar .seminar-type-link {
            margin: 3px 5px 0 5px;
        }

.ui-widget-header {
    border: 1px solid #00467f;
}

.blue-skin .ui-datepicker-header {
    color: #07477d;
    padding: 0;
    background-color: transparent;
    border: none;
}

.blue-skin .ui-datepicker-title span {
    font-size: 20px;
    font-family: open_sansregular;
}

.blue-skin .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.blue-skin .ui-datepicker-title {
    line-height: 2.2em;
    font-weight: normal;
}

.blue-skin .ui-datepicker-prev,
.blue-skin .ui-datepicker-next {
    top: -1px;
    border-radius: 0;
    font-family: open_sansregular;
    border: none;
    height: 2.2em;
    width: 1.4em;
}

.blue-skin .ui-datepicker-prev, .blue-skin .ui-datepicker-next {
    background-image: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    top: 2px;
}

    .blue-skin .ui-datepicker-prev:after, .blue-skin .ui-datepicker-next:after {
        content: '\f104';
        color: #377bb5;
        font-family: 'FontAwesome';
        position: absolute;
        top: 4px;
        left: 10px;
        font-weight: normal;
    }

    .blue-skin .ui-datepicker-next:after {
        content: '\f105';
    }

.blue-skin .ui-icon-circle-triangle-w {
    background-image: none;
}

.blue-skin .ui-datepicker-prev.ui-state-hover:after,
.blue-skin .ui-datepicker-next.ui-state-hover:after {
    color: #c9d6e2;
}

.blue-skin .ui-datepicker-prev {
    left: 0;
}

.blue-skin .ui-datepicker-next {
    right: 0;
}

    .blue-skin .ui-datepicker-prev span,
    .blue-skin .ui-datepicker-next span {
        margin-top: -4px;
        top: 40%;
    }

.blue-skin table {
    margin: 0;
}

.blue-skin .ui-datepicker-calendar thead > tr {
    margin-bottom: 20px;
}

.blue-skin th {
    padding: .6em 0 .4em;
    text-transform: lowercase;
    color: #787878;
    font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
}

    .blue-skin th span {
        font-size: 12px;
    }

.blue-skin td {
    border: none;
    padding: 0;
    text-align: center;
}

    .blue-skin td:last-child {
        border-right: 0;
    }

    .blue-skin td .ui-state-default {
        background: transparent;
        border: none;
        border-radius: 25px !important;
        -webkit-border-radius: 25px !important;
        -moz-border-radius: 25px !important;
        color: #505050;
        margin: 10px 0 0 0;
        font-weight: normal;
        text-align: center;
        width: 25px;
        height: 25px;
        display: inline-block;
        line-height: 25px;
    }

.blue-skin table.ui-datepicker-calendar {
    margin: 0 !important;
    line-height: 1.8 !important;
    width: calc(100% -2px);
}

.blue-skin .ui-datepicker-calendar .ui-state-hover {
    background: #ededed;
    color: #b2b2b2;
}

.blue-skin td a.ui-state-active,
.blue-skin td a.ui-state-active.ui-state-hover {
    color: #01516F !important;
    text-shadow: none;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    background-color: #E7E7E7 !important;
    background-image: none !important;
    -moz-box-shadow: inset 0 4px 9px rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 4px 9px rgba(0,0,0,.05);
    box-shadow: inset 0 4px 9px rgba(0,0,0,.05);
}

.ui-datepicker td span, .ui-datepicker td a {
    font-size: 12px;
    padding: 0;
}

.css-blue > a, .seminar-type-link.css-blue {
    background: #becefd !important;
    border: 1px solid #becefd;
}

.css-aqua > a, .seminar-type-link.css-aqua {
    background: #b2e7fa !important;
    border: 1px solid #b2e7fa;
}

.css-yellow > a, .seminar-type-link.css-yellow {
    background: #feefc0 !important;
    border: 1px solid #feefc0;
}

.css-green > a, .seminar-type-link.css-green {
    background: #bfeec4 !important;
    border: 1px solid #bfeec4;
}

.css-pink > a, .seminar-type-link.css-pink {
    background: #febef2 !important;
    border: 1px solid #febef2;
}
.css-yellowbr > a, .seminar-type-link.css-yellowbr {
    background: #FF5F30 !important;
    border: 1px solid #FF5F30;
}

.level-green > a, .seminar-type-link.level-green {
    background: #81e473 !important;
    border: 1px solid #81e473;
}

.level-blue > a, .seminar-type-link.level-blue {
    background: #6dc2fd !important;
    border: 1px solid #6dc2fd;
}

.level-orange > a, .seminar-type-link.level-orange {
    background: #f7b54c !important;
    border: 1px solid #f7b54c;
}

.level-red > a, .seminar-type-link.level-red {
    background: #fd7d7f !important;
    border: 1px solid #fd7d7f;
}

.seminar-types {
    text-align: center;
}

    .seminar-types a.seminar-type-link, .seminar-type-link {
        padding: 1px 7px;
        display: inline-block;
        margin: 3px 5px 0 0;
        font-size: 12px;
        border-radius: 10px;
        line-height: initial;
        color: #505050;
    }

/*end seminars calendar*/

/*Dealers page*/
.dealers-table {
    margin: 0px;
    font-size: 13px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
}

    .dealers-table table {
        margin-bottom: 0;
        width: 100%;
    }

        .dealers-table table th {
            font-weight: normal;
            font-family: open_sanssemibold;
            font-size: 14px;
            border-bottom: 1px solid #ececec;
        }

        .dealers-table table tr th:nth-child(1), .dealers-table table tr td:nth-child(1) {
            background-color: #549ddb;
            border-bottom-color: #549ddb;
            border-top-color: #549ddb;
            color: white;
            padding: 15px;
        }

        .dealers-table table tr th:nth-child(2), .dealers-table table tr td:nth-child(2) {
            background-color: #fafafa;
            border-bottom-color: #fafafa;
            border-top-color: #fafafa;
            padding: 15px;
            width: 150px;
        }

        .dealers-table table td {
            white-space: normal;
            border-top: 1px solid #ececec;
        }

        .dealers-table table > tbody > tr > td, .dealers-table table > tbody > tr > th, .dealers-table table > tfoot > tr > td, .dealers-table table > tfoot > tr > th, .dealers-table table > thead > tr > td, .dealers-table table > thead > tr > th {
            padding: 10px;
        }

        .dealers-table table tbody tr td:nth-child(4), .dealers-table table tbody tr td:nth-child(5) {
            white-space: nowrap;
        }

/*Dealers page*/

.parnters-page .page-header i.fa {
    top: 0;
}

/*Contacts*/
.breadcrumbs-wrapper {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 5px;
}

.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    min-height: 40px;
    background-color: transparent;
}

    .breadcrumb > li {
        display: inline;
    }

    .breadcrumb a {
        font-size: 12px;
        color: #787878;
    }

    .breadcrumb .active {
        font-family: 'open_sanssemibold';
        font-size: 12px;
    }

    .breadcrumb > li + li:before {
        content: "\f105";
        font-family: 'FontAwesome';
        color: #787878;
        padding: 0 8px 0 7px;
    }

.white-pnl {
    background-color: white;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
    padding: 30px;
    margin-bottom: 30px;
}

    .white-pnl h3 {
    }

        .white-pnl h3:first-child {
            margin-top: 0;
        }

    .white-pnl h4:first-child {
        margin-top: 0;
    }

.contacts .white-pnl p {
    font-size: 16px;
    margin-bottom: 9px;
}
/* /Contacts */

/* Right navigation */
.right-pnl {
    margin-bottom: 30px;
}

.right-nav {
    margin-bottom: 30px;
    border-top: 4px solid #377bb5;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    background-color: white;
}

    .right-nav ul {
        list-style: none;
        padding: 0;
    }

        .right-nav ul li {
            border-bottom: 1px solid #f1f1f1;
        }

            .right-nav ul li:last-child {
                border: 0;
            }

            .right-nav ul li a, .right-nav ul li a:visited, .right-nav ul li a:focus {
                width: 100%;
                display: block;
                padding: 13px 20px;
                color: #505050;
            }

                .right-nav ul li.active a, .right-nav ul li a:hover {
                    color: #07477d;
                }

            .right-nav ul li.active a {
                font-family: 'open_sanssemibold';
            }

.submenu .banner,
.right-pnl .banner {
    width: 100%;
    padding: 35px 30px;
    text-align: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

    .submenu .banner.blue,
    .right-pnl .banner.blue {
        background-color: #377bb5;
        color: white;
    }

    .submenu .banner > img,
    .right-pnl .banner > img {
        margin-bottom: 20px;
        display: inline-block;
    }

    .submenu .banner p,
    .right-pnl .banner p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .submenu .banner .btn-white,
    .right-pnl .banner .btn-white {
        border: 1px solid #73a3cb;
    }

    .submenu .banner .or-txt,
    .right-pnl .banner .or-txt {
        margin: 5px 0 8px;
        font-size: 14px;
    }

.submenu > a > img,
.right-pnl > a > img {
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    width: 100%;
    margin-bottom: 20px;
    display: block;
}
/* /Right navigation */

/* User Profile */
.user-profile .checkbox.add-more {
    font-size: 16px;
    padding-top: 0;
    margin-bottom: 25px;
}

    .user-profile .checkbox.add-more input {
        margin-top: 5px;
    }

.input-validation-error {
    background-color: #fde8e8;
    border-color: #fde8e8;
    box-shadow: none;
    color: #f02b2b;
}

    .input-validation-error::-webkit-input-placeholder {
        color: #f02b2b;
    }

    .input-validation-error:-moz-placeholder {
        color: #f02b2b;
    }

    .input-validation-error::-moz-placeholder {
        color: #f02b2b;
    }

    .input-validation-error:-ms-input-placeholder {
        color: #f02b2b;
    }
/* /User Profile */

/* Seminars */
.seminars .white-pnl {
    position: relative;
    padding-bottom: 70px;
}

.seminars .group {
    position: absolute;
    top: -28px;
}

.seminars .items, .content-col .items {
    list-style: none;
    padding: 0;
}

    .seminars .items .item, .content-col .items .item {
        margin: 0px 0 30px;
    }

        .seminars .items .item .seminar-icon {
            float: left;
            margin-right: 20px;
        }

        .seminars .items .item .name {
            margin: 8px 0 0;
            color: #377bb5;
            float: left;
        }

        .seminars .items .item .date {
            float: left;
            margin: 2px 0 10px;
        }

        .seminars .items .item .location {
            font-size: 12px;
            color: #787878;
            float: left;
            margin-top: 15px;
        }

        .seminars .items .item .level-bars {
            float: right;
            margin-top: 20px;
        }

/*Pagination*/

.pagination-wrapper, .pagination {
    width: 100%;
    text-align: center;
    position: relative;
}

.pagination {
    margin-bottom: 30px;
}

    .pagination > li {
        display: inline-block;
        padding-top: 4px;
        margin: 0 3px;
    }

        .pagination > li > a, .pagination > li > a {
            border: 0 none;
            font-size: 16px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .pagination > li:first-child {
            position: absolute;
            left: 0;
            padding-top: 0px;
        }

        .pagination > li:last-child {
            position: absolute;
            right: 0;
            padding-top: 0px;
        }

            .pagination > li:first-child a, .pagination > li:last-child a {
                width: 40px;
                height: 40px;
                background-color: #2aa8ec;
                font-size: 23px;
                color: white;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                border: 1px solid #2aa8ec;
                padding: 3px 0;
            }

                .pagination > li:first-child a:hover, .pagination > li:last-child a:hover {
                    background-color: #07477d;
                    border: 1px solid #07477d;
                }

        .pagination > li > a, .pagination > li > span:focus, .pagination > li > span:hover {
            background-color: transparent;
        }

            .pagination > li > a:focus, .pagination > li > a:hover {
                background-color: white;
            }
/*\Pagination*/

.content-col {
    margin-bottom: 50px;
}

    .content-col > hr:first-child {
        margin: 1px 0 6px;
    }

    .content-col .left > a {
        display: block;
    }

.bootstrap-select.form-control:not([class*=col-]) {
    width: auto;
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: inherit;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 20px;
    margin-top: -6px;
}

.top-selectors {
    margin-bottom: 10px;
}

    .top-selectors .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        color: #377bb5;
    }

    .top-selectors .bootstrap-select .btn-default {
        color: #333;
        background-color: transparent !important;
        border-color: #fff;
        border: 0 none !important;
        outline: none !important;
    }

    .top-selectors .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: auto;
    }

    .top-selectors .glyphicon-ok:before {
        font-weight: normal;
        font-size: 10px;
        color: #aaa;
    }

    .top-selectors .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
        margin-top: 3px;
        transition: 0s;
    }

    .top-selectors .dropdown-menu {
        -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
        -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
        box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
        /*border: 0 none !important;*/
    }

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.125);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.125);
}

.bootstrap-select > .dropdown-toggle {
    width: auto;
}

.top-selectors .bootstrap-select .caret:before {
    color: #377bb5;
}

.level-bars {
    margin-top: 5px;
    margin-right: 80px;
    margin-left: 20px;
    display: block;
    height: 10px;
    background-color: #c9d6e2;
    width: 4px;
    position: relative;
}

    .level-bars:before, .level-bars span:before {
        display: block;
        height: 3px;
        width: 4px;
        background-color: #c9d6e2;
        content: '';
        position: absolute;
        bottom: 0px;
        left: -12px;
    }

    .level-bars span:before {
        height: 18px;
        left: 6px;
        display: none;
    }

    .level-bars:after, .level-bars span:after {
        display: block;
        height: 6px;
        background-color: #c9d6e2;
        width: 4px;
        content: '';
        position: absolute;
        bottom: 0;
        left: -6px;
    }

    .level-bars span:after {
        left: 12px;
        height: 24px;
        display: none;
    }

    .level-bars span {
        display: block;
        height: 14px;
        width: 4px;
        background-color: #c9d6e2;
        position: absolute;
        bottom: 0px;
        left: 6px;
    }

    .level-bars.one:before,
    .level-bars.two:before, .level-bars.two:after,
    .level-bars.three:before, .level-bars.three:after, .level-bars.three,
    .level-bars.four:before, .level-bars.four:after, .level-bars.four, .level-bars.four span,
    .level-bars.five:before, .level-bars.five:after, .level-bars.five, .level-bars.five span, .level-bars.five span:before,
    .level-bars.six:before, .level-bars.six:after, .level-bars.six, .level-bars.six span, .level-bars.six span:before, .level-bars.six span:after {
        background-color: #07477d;
    }

    .level-bars span {
        font-size: 12px;
        color: #81e473;
        line-height: 16px;
        white-space: nowrap;
        text-indent: 15px;
    }

    .level-bars.two, .level-bars.one {
        margin-right: 86px;
    }

        .level-bars.two span {
            color: #63befd;
        }

    .level-bars.three span {
        color: #f7b54c;
    }

    .level-bars.four span {
        color: #fd7d7f;
    }

.btn-show-details {
    width: 100%;
    margin-left: -30px;
    margin-top: 20px;
    border-radius: 0;
    padding: 14px 20px;
    position: absolute;
    bottom: 0px;
}

    .btn-show-details.collapsed span:last-child, .btn-show-details span:first-child {
        display: none;
    }

    .btn-show-details span:last-child, .btn-show-details.collapsed span:first-child {
        display: inline;
    }

.content-col > h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.seminars article {
    padding: 30px 0 0;
}

.seminars .items .btn.register {
    float: right;
}
/*\Seminars */
.socials-pnl {
    width: 100%;
    border-top: 1px solid #ebebeb;
    list-style: none;
    padding: 15px 0;
    margin-top: 30px;
}

    .socials-pnl ul {
        list-style: none;
        padding: 0;
    }

        .socials-pnl ul li {
            padding: 0;
        }

            .socials-pnl ul li:before {
                display: none;
            }

    .socials-pnl .ya-share2__container_size_s .ya-share2__icon, .socials-pnl .ya-share2__badge {
        height: 20px;
        width: 20px;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        border-radius: 20px !important;
        background-size: 90% !important;
        background-position: center center !important;
    }
/*.socials-pnl li {
        display: inline-block;
        margin-right: 2px;
    }

        .socials-pnl li a {
            display: block;
            height: 20px;
            width: 20px;
            background-color: #43668a;
            color: white;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            text-align: center;
            font-size: 11px;
            line-height: 20px;
        }

            .socials-pnl li a.vk {
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }

            .socials-pnl li a.ok {
                background-color: #f3962a;
            }

            .socials-pnl li a.fb {
                background-color: #3a5999;
            }

            .socials-pnl li a.tw {
                background-color: #1dadee;
            }*/
article {
    font-size: 16px;
    line-height: 26px;
}

    article h2, article h3, article h4 {
    }

    article h2 {
        font-size: 30px;
        margin: 25px 0 15px;
    }

    article > h2:first-child {
        margin-top: 0px;
    }

    article h3 {
        font-size: 20px;
        margin: 25px 0 15px;
    }

    article h4 {
        font-size: 16px;
        font-family: open_sanssemibold;
        margin: 25px 0 15px;
    }

    article ul, article ol {
        padding-left: 18px;
        margin-bottom: 20px;
        list-style: none;
    }

        article ul li, article ol li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 12px;
        }

            article ul li:before {
                position: absolute;
                content: "—";
                left: -17px;
                color: #07477d;
            }

    article ol {
        counter-reset: item;
    }

        article ol li:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: red;
            color: #07477d;
            position: absolute;
            left: -17px;
        }

    article > img {
        margin: 20px 0;
        width: 100%;
        display: block;
    }

    article .photo-slider {
        margin: 20px 0;
    }

        article .photo-slider .numbers {
            text-align: center;
            color: #07477d;
            padding: 15px 0 0px 0;
        }

        article .photo-slider .carousel-control {
            opacity: 1;
        }

            article .photo-slider .carousel-control:hover {
                opacity: 0.8;
            }

            article .photo-slider .carousel-control .glyphicon-chevron-right,
            article .photo-slider .carousel-control .glyphicon-chevron-left {
                top: 41%;
                height: 40px;
                width: 40px;
                background-color: #c9d6e2;
                margin: 0;
                border-radius: 2px;
                opacity: 1;
            }

                article .photo-slider .carousel-control .glyphicon-chevron-left:before,
                article .photo-slider .carousel-control .glyphicon-chevron-right:before {
                    content: '\f104';
                    font-family: 'FontAwesome';
                    font-size: 20px;
                    display: block;
                    margin-top: 9px;
                    color: #377bb5;
                    text-shadow: none;
                }

                article .photo-slider .carousel-control .glyphicon-chevron-right:before {
                    content: '\f105';
                }

            article .photo-slider .carousel-control .glyphicon-chevron-left {
                left: 0px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                -webkit-border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                -moz-border-radius-topright: 3px;
                -moz-border-radius-bottomright: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            article .photo-slider .carousel-control .glyphicon-chevron-right {
                right: 0px;
                -webkit-border-top-left-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                -moz-border-radius-topleft: 3px;
                -moz-border-radius-bottomleft: 3px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

        article .photo-slider .carousel-control {
            background: none;
        }

.photo-slider .carousel-inner {
    background-color: #f3f3f3;
}

article .photo-slider .carousel-inner img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

article .photo-slider .carousel-inner > .item {
    min-height: 445px;
}

article .embed-responsive {
    margin: 20px 0;
}

/* Library */

.library .items .item .left {
    float: left;
    width: 10%;
    margin-right: 2%;
}

    .library .items .item .left img, .events-page .items .item .left img, .webinars-aoo .items .item .left img {
        max-width: 100%;
    }

.library .items .item .right {
    float: left;
    width: 88%;
}

.library .items .item h4, .events-page .items .item h4, .webinars-aoo .items .item h4, .content-col .items .item h4 {
    line-height: 30px;
    color: #377bb5;
    margin-bottom: 15px;
}

    .library .items .item a h4:hover, .events-page .items .item h4:hover, .webinars-aoo .items .item h4:hover {
        color: #2aa8ec;
    }

.library .items .item.locked h4 {
    color: #505050;
}

.library .items .item .document, .event-page .document {
    position: relative;
    display: block;
    margin-left: 23px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

.library .items .item a.document, .event-page a.document {
    color: #377bb5;
}

    .library .items .item a.document:hover, .event-page a.document:hover {
        color: #2aa8ec;
    }

.library .items .item .document .fa, .event-page .document .fa {
    position: absolute;
    left: -24px;
    top: 2px;
    font-size: 16px;
    color: #07477d;
}

.library .locked img {
    border: 1px solid #7f9eb2;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
/*\Library */

/* Events Page */

.events-page .items .item hr {
    margin-top: 30px;
}

.events-page .items .item .left, .webinars-aoo .items .item .left {
    float: left;
    width: 10.5%;
    margin-right: 1.5%;
}

.events-page .items .item .right, .webinars-aoo .items .item .right {
    float: left;
    width: 88%;
}

.events-page .items .item .date, .webinars-aoo .items .item .date, .event-page .preview .date {
    color: #787878;
    font-size: 12px;
    white-space: nowrap;
}

.events-page .items .item h4, .webinars-aoo .items .item h4 {
    margin-bottom: 5px;
}

.events-page .items .item .location, .event-page .preview .location {
    color: #787878;
    font-size: 12px;
    margin-top: 5px;
}

    .events-page .items .item .date .fa, .events-page .items .item .location .fa, .event-page .preview .location .fa {
        color: #b2b2b2;
        font-size: 14px;
    }

.events-page .items .item .seminar-type-link,
.event-page .preview .seminar-type-link {
    font-family: open_sanssemibold;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 3px 10px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

/*\Events Page */
/*\Event Page */
.event-page .registration-info {
    padding-right: 0px;
}

    .event-page .registration-info .blue {
        font-family: open_sanssemibold;
    }

    .event-page .registration-info .phone {
        white-space: nowrap;
    }

.event-page .preview .date .fa {
    color: #b2b2b2;
}

.event-page .document .fa {
    top: 4px;
}

.event-page .btns {
    text-align: right;
}

.event-page .preview {
    padding-bottom: 20px;
}

    .event-page .preview .speaker {
        margin-right: 15px;
    }

.event-page .speaker p {
    font-size: 16px;
}

.event-page .speaker .right h4 {
    color: #505050;
    margin: 10px 0 5px;
}

    .event-page .speaker .right h4 a {
        color: #377bb5;
    }

        .event-page .speaker .right h4 a:hover {
            color: #2aa8ec;
        }

.event-page .speaker .right p {
    color: #787878;
}

.event-page a.document {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
}

.event-page .document-size {
    display: block;
    color: #787878;
    margin: 0 0 20px 23px;
    font-size: 14px;
}

.event-page .speaker .left {
    width: 80px;
    margin-right: 20px;
    float: left;
}

.event-page .speaker .right {
    width: calc(100% - 100px);
    float: left;
}

    .event-page .speaker .right p {
        font-size: 14px;
        color: #787878;
    }

.event-page .speaker .about {
    width: 100%;
    clear: both;
    margin-top: 20px;
}

    .event-page .speaker .about .link-right-arrow {
        margin-top: 10px;
    }

/*\Event Page */
.events-page .level, .event-page .level {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 15px;
}

    .events-page .level > span, .event-page .level > span {
        display: inline-block;
        color: #787878;
        font-size: 12px;
        padding-left: 3px;
    }

.events-page .btn-green, .event-page .btn-green {
    margin-left: 8px;
}

.level .stars {
    list-style: none;
    padding: 0;
    display: inline-block;
}

    .level .stars li {
        display: inline-block;
        margin: 0;
        color: #c9d6e2;
        font-size: 12px;
    }

.link-right-arrow {
    display: inline-block;
}

    /*.link-right-arrow:visited, */
    .link-right-arrow:focus {
        color: #377bb5;
    }

    .link-right-arrow .fa {
        margin-left: 8px;
    }

.webinars-aoo .white-pnl, .events-page .white-pnl {
    padding-bottom: 25px;
}

.webinars-aoo .items .item .right p {
    margin: 12px 0 0;
}

.webinars-aoo .items .item hr {
    margin-top: 25px;
}

.content-col .subheader {
    position: absolute;
    top: -30px;
}

    .content-col .subheader .group {
        display: inline-block;
        margin-right: 15px;
        font-size: 12px;
    }

    .content-col .subheader .level-bars {
        display: inline-block;
    }

        .content-col .subheader .level-bars span {
            font-family: open_sanssemibold;
            line-height: 17px;
        }

.content-col .item .speaker {
    margin-right: 15px;
}

.events-page .item .btn-blue, .events-page .item .btn-orange,
.event-page .btn-blue, .event-page .btn-orange {
    padding: 8px 11px;
    font-size: 16px;
}

.events-page .theme img, .event-page .preview .theme img {
    margin-right: 7px;
}

.events-page .theme, .event-page .preview .theme {
    white-space: nowrap;
    font-size: 12px;
    color: #787878;
}

.events-page .items .item .old-price {
    text-decoration: line-through;
    color: #ff0000;
    cursor: default;
    font-size: 16px;
}

/*Webinars*/

.webinars .items .item .left {
    float: left;
    width: 22%;
    margin-right: 3%;
}

    .webinars .items .item .left img {
        max-width: 100%;
    }

.webinars .items .item .right {
    display: inline-block;
    width: 75%;
    float: left;
}

    .webinars .items .item .right .speaker {
        display: inline-block;
        margin-right: 20px;
    }

        .webinars .items .item .right .speaker img {
            width: 35px;
            height: 35px;
            margin-right: 5px;
        }

    .webinars .items .item .right h4 {
        margin-bottom: 3px;
        position: relative;
        top: -5px;
    }

.webinars .items .item.locked h4 {
    color: #505050;
}

.webinars .items .item .right .date {
    color: #787878;
    font-size: 12px;
    white-space: nowrap;
}

    .webinars .items .item .right .date .fa {
        color: #b2b2b2;
    }

.webinars .items .item .right p:first-of-type {
    margin-top: 13px;
}

/*\Webinars*/

/*\Photos*/
.photos-page .items {
    padding: 25px 20px;
}

    .photos-page .items li {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .photos-page .items img {
        width: 100%;
        transition: all .2s ease-in-out;
    }

        .photos-page .items img:hover {
            transform: scale(1.05);
        }

    .photos-page .items h4 {
        color: #377bb5;
        margin: 15px 0 5px;
        font-size: 16px;
        line-height: 23px;
    }

        .photos-page .items h4 a:hover {
            color: #2aa8ec;
        }

    .photos-page .items .date {
        font-size: 12px;
        color: #787878;
    }

    .photos-page .items p {
        line-height: 23px;
        margin-top: 10px;
    }

.photos-page ul.items :nth-child(3n+1) {
    clear: both;
}

.filter-by-date {
    padding-bottom: 8px;
}
/*\Photos*/
/*\Speakers*/
.speakers-page .items h4 {
    margin: 10px 0 3px !important;
}

.speakers-page .left {
    width: 80px;
    margin-right: 15px;
    float: left;
    margin-bottom: 10px;
}

.speakers-page .right {
    width: calc(100% - 95px);
    float: left;
}

.speakers-page .items .right {
    margin-bottom: 10px;
}

    .speakers-page .items .right p {
        font-size: 14px;
        color: #787878;
        line-height: 23px;
    }

.speakers-page .items p {
    line-height: 26px;
    font-size: 16px;
}

.speakers-page .link-right-arrow {
    margin-top: 10px;
    display: inline-block;
}

.speakers-page .about {
    clear: both;
    width: 100%;
    margin-top: 20px;
    display: block;
}

.speakers-page .items .default-photo {
    border: 1px solid #c9d6e2;
    text-align: center;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

    .speakers-page .items .default-photo img {
        display: inline-block;
        padding: 31px 10px;
    }
/*\Speakers*/
/*\Feedbacks*/
.feedbacks .white-pnl {
    position: relative;
    padding-bottom: 50px;
}

.feedbacks .seminar-type:after, .feedbacks .webinar-type:after, .feedbacks .conference-type:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 30px;
    height: 5px;
    width: 88px;
    background-color: #fcedc1;
}

.feedbacks .webinar-type:after {
    background-color: #becffb;
}

.feedbacks .conference-type:after {
    background-color: #fdbff1;
}

.feedbacks .white-pnl h4 {
    line-height: 30px;
}

    .feedbacks .white-pnl h4 .blue {
        color: #377bb5;
    }

.feedbacks .white-pnl hr {
    margin: 20px -30px;
}

.feedbacks .white-pnl p {
    font-family: open_sansitalic;
    font-size: 16px;
    line-height: 26px;
    color: #1d1d1d;
}

.feedbacks .white-pnl .author {
    display: block;
    text-align: right;
    color: #787878;
    margin: 10px 0 25px;
}

    .feedbacks .white-pnl .author img {
        width: 35px;
        margin: 0 10px;
    }

    .feedbacks .white-pnl .author .fa {
        color: #377bb5;
    }

.feedbacks .feedback {
    border-top: 1px solid #e4e4e4;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 15px 30px 0;
}

.feedback p {
    font-family: 'open_sansitalic';
    font-size: 16px;
    color: #505050;
}

.feedback> :first-child:before {
    content: '\00ab';
    font-size: 30px;
    position: relative;
    top: 2px;
    padding-right: 6px;
}

.feedback> :last-child:after {
    content: '\00bb';
    font-size: 30px;
    position: relative;
    top: 2px;
    padding-left: 6px;
}

.feedbacks .other-feedbacks {
    list-style: none;
    padding: 0;
}

.feedbacks .item h4 {
    color: #292929 !important;
    margin-bottom: 20px !important;
}

    .feedbacks .item h4 a {
        color: #377bb5;
    }
/*\Feedbacks*/

.collapsing {
    -webkit-transition: height 0.7s ease;
    -o-transition: height 0.7s ease;
    transition: height 0.7s ease;
}

/*.feedbacks .collapsing {
    -webkit-transition: height .35s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}*/

.pswp {
    z-index: 11000;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
}

@media (min-width: 680px) {
    .form-horizontal ::-webkit-input-placeholder {
        color: #f3f3f3;
    }

    .form-horizontal :-moz-placeholder {
        color: #f3f3f3;
    }

    .form-horizontal ::-moz-placeholder {
        color: #f3f3f3;
    }

    .form-horizontal :-ms-input-placeholder {
        color: #f3f3f3;
    }
}

@media (max-width: 679px) {
    .contacts .white-pnl .row > div {
        width: 100%;
    }

    .contacts .white-pnl .map {
        margin-top: 10px;
    }

    .form-horizontal .form-group label {
        display: none;
    }
    .form-horizontal .form-group label.show {
        display: inline-block;
    }

    .form-group > div {
        width: 100%;
        margin-left: 0;
    }

    .white-pnl h3 {
        font-size: 22px;
    }

    .contacts .white-pnl p {
        font-size: 14px;
    }

    .webinars .item .left {
        display: block !important;
        width: 100% !important;
        margin-right: 0 !important;
    }

        .webinars .item .left .preview {
            width: 100%;
        }

    .webinars .item .white-pnl {
        padding: 0;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    }

    .webinars .item .right {
        width: 100% !important;
    }

        .webinars .item .right .date {
            display: none;
        }

        .webinars .item .right h4 {
            padding: 15px 30px;
            font-size: 14px;
            top: 0 !important;
            line-height: 23px;
        }

        .webinars .item .right .speaker {
            padding: 15px 30px;
            border-top: 1px solid #ebebeb;
            width: 100%;
            margin-right: 0 !important;
        }

        .webinars .item .right p {
            display: none;
        }
}

@media (min-width: 1200px) {
    footer .payment-icons {
        margin-left: 60px;
        margin-top: 6px;
    }

    footer .site-creator {
        margin-top: 7px;
    }
}

@media (max-width: 1199px) {
    footer .social-icons, footer .payment-icons {
        width: 100%;
        text-align: center;
    }

    .top-slider .carousel-inner > .item .info {
        padding-top: 15px;
    }

    .top-slider.carousel .info .header2 {
        margin-bottom: 15px;
        font-size: 26px;
    }

    .top-slider.carousel .info .btn {
        margin-top: 8px;
    }
}

@media (max-width: 1130px) {
    .main-nav .search {
        display: none;
    }

    .main-nav .email {
        margin: 0;
    }

    .main-nav .navbar-collapse .top-nav > .top {
        width: 100%;
        right: 0;
    }
}

@media (max-width: 1100px) {
    .main-nav .navbar-collapse ul.top li ul li > a {
        font-size: 12px;
    }

    .main-nav .top-nav .search {
        display: none;
    }
}

@media (max-width: 1040px) {
    .representations .row > div:nth-child(2), .representations .row > div:nth-child(3) {
        margin-left: -20px;
    }

    .representations .right {
        text-align: center;
        padding-left: 18px;
    }
}

@media (max-width: 991px) {
    footer .old-site-lnk {
        border: none;
        padding: 0;
        display: table;
        margin-top: 8px;
    }

    footer .site-creator {
        float: left;
        margin-top: 15px;
    }

    .representations .row > div:nth-child(2), .representations .row > div:nth-child(3) {
        margin-left: 0;
        text-align: center;
    }

    .representations .right {
        text-align: center;
        border-left: 0;
        padding-left: 0;
        margin-left: 0px;
    }

        .representations .right .btn {
            margin-bottom: 0;
            margin-top: 30px;
        }

    .navbar-default .navbar-nav > li > a, .dropdown-menu > li > a {
        font-size: 13px;
    }
}

@media (max-width: 870px) {
    body {
        padding-top: 78px;
    }

    .caret {
        float: right;
        margin-top: 3px;
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: initial;
    }

    .open .caret:before {
        content: "\f107";
    }

    .caret:before {
        content: "\f105";
    }

    .main-nav .navbar-brand {
        margin-top: 17px;
    }

        .main-nav .navbar-brand img:first-child {
            width: 107px;
            height: auto;
        }

    .main-nav .navbar-nav {
        margin: 0 15px;
    }

        .main-nav .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

            .main-nav .navbar-nav .open .dropdown-menu > li > a,
            .main-nav .navbar-nav .open .dropdown-menu .dropdown-header {
                padding: 13px 30px;
            }

            .main-nav .navbar-nav .open .dropdown-menu > li > a {
                line-height: 20px;
            }

                .main-nav .navbar-nav .open .dropdown-menu > li > a:hover,
                .main-nav .navbar-nav .open .dropdown-menu > li > a:focus {
                    background-image: none;
                }

    .main-nav.navbar-default::after {
        display: none;
    }

    .main-nav .navbar-collapse .top-nav > .top {
        float: none;
        width: 100%;
        padding: 0;
        position: static;
    }

    .main-nav .navbar-collapse ul.top {
        float: left;
        width: 100%;
        padding-left: 0px;
        margin: 0;
    }

    .main-nav .navbar-collapse {
        padding-top: 0px;
        overflow: hidden;
    }

        .main-nav .navbar-collapse ul.bottom {
            position: inherit;
            bottom: auto;
            padding: inherit;
            height: auto;
            width: 100%;
            padding: 0 !important;
            margin: 0;
        }

    .navbar-nav > li {
        float: none;
        border-top: 1px solid #205a8a;
    }

        .navbar-nav > li a {
            padding-top: 14px;
            padding-bottom: 14px;
        }

    .main-nav .navbar-collapse ul.bottom li.cabinet {
        float: none;
    }

    .main-nav.navbar-default {
        min-height: 80px;
    }

    .navbar-collapse.collapse.in {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none;
        padding: 0;
        margin: 0;
    }

    .main-nav .dropdown-menu {
        margin: 0;
        padding: 0;
    }

    .main-nav li.dropdown.open, .main-nav li.dropdown.open li {
        border-top: 1px solid #4b88bd !important;
        background-color: #377bb5 !important;
    }

        .main-nav li.dropdown.open a {
            background-color: transparent !important;
            border: 0 none;
            text-transform: none !important;
            font-size: 14px !important;
        }

        .main-nav li.dropdown.open li a {
            padding: 13px 45px !important;
            font-family: open_sansregular;
        }

    .main-nav li {
        background-color: #07477d;
        border-top: 1px solid #205a8a !important;
    }

        .main-nav li a {
            padding: 13px 30px !important;
            font-family: open_sanssemibold;
        }

            .main-nav li a .fa {
                font-size: 18px;
                position: relative;
                top: 1px;
            }

            .main-nav li a, .main-nav li a:hover, .main-nav li a:focus {
                font-size: 14px !important;
                color: white !important;
                background-color: transparent !important;
                border: 0 none !important;
            }

    .main-nav .navbar-collapse ul.top li {
        border: 0;
    }

        .main-nav .dropdown-menu li a, .main-nav .navbar-collapse ul.top li a, .main-nav .navbar-collapse ul.top li.active a, .main-nav .navbar-collapse ul.top li:hover a {
            border-top: 1px solid #4b88bd;
            background-color: #377bb5;
        }

    .main-nav .navbar-collapse ul.bottom li.active a, .main-nav .navbar-collapse ul.bottom li.open a {
        background-color: #377bb5;
    }

    .main-nav .navbar-collapse ul.top li:first-child a {
        padding: 13px 15px;
    }

    .main-nav .navbar-collapse ul.top li a {
        font-size: 14px;
        text-transform: inherit;
    }

    .main-nav .navbar-collapse ul.top li:hover a, .main-nav .navbar-collapse ul.top li.active a {
        color: white;
    }

    .main-nav .navbar-collapse ul.top li.academy i, .main-nav .navbar-collapse ul.top li.cabinet i {
        margin: 0px 7px 0 0;
    }

    .main-nav .navbar-collapse ul li.academy a, .main-nav .navbar-collapse ul li.academy a:hover, .main-nav .navbar-collapse ul li.cabinet a, .main-nav .navbar-collapse ul li.cabinet a:hover {
        border-top: 1px solid #205a8a;
    }


    .main-nav .navbar-collapse ul li.cabinet a {
        display: inline-block;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    .main-nav .navbar-collapse ul.bottom .dropdown-menu > li:hover > a {
        color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: white;
        background-color: #377bb5;
    }

    .main-nav .navbar-header {
        min-height: 75px;
    }

    .main-nav .navbar-collapse ul.top li ul li.kerr, .main-nav .navbar-collapse ul.top li ul li.kavo {
        display: none;
    }

    .main-nav .navbar-collapse ul.top li ul li {
        float: none;
        padding: 0px;
    }

    .main-nav .navbar-collapse ul.top li.corporation > a {
        display: block;
    }

    .main-nav.shrink .navbar-collapse, .main-nav.navbar-default.shrink {
        min-height: initial;
        margin: 0;
        padding: 0;
    }

    .main-nav.navbar-default {
        min-height: initial;
        overflow: auto;
        max-height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .main-nav .container-fluid {
        padding: 0;
        overflow: hidden;
    }

    .main-nav .navbar-default .navbar-toggle {
        margin-right: 15px !important;
    }

    .main-nav .navbar-brand {
        padding-left: 30px !important;
    }

    .main-nav .navbar-header {
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 870px) and (max-width: 900px) {
    .main-nav .navbar-collapse ul.bottom li.cabinet a {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 870px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-header {
        float: none;
    }

    .nav > li > a {
        padding: 13px 30px;
    }

    .main-nav .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .main-nav .navbar-nav .open .dropdown-menu > li > a,
    .main-nav .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 13px 45px;
    }

    .main-nav .navbar > .container .navbar-brand, .main-nav .navbar > .container-fluid .navbar-brand {
        margin-left: 15px;
    }
}

@media (max-width: 767px) {
    .news .btn, .videos .btn, .reviews .btn, .events .btn {
        float: none;
    }

    .news ul li {
        margin-bottom: 0;
        padding: 20px 15px;
        border-top: 1px solid #ebebeb;
    }

        .news ul li:last-child {
            border-bottom: 1px solid #ebebeb;
        }

    .content-block h2, .content-block .header2 {
        text-align: center;
    }

    .reviews ul li {
        width: calc(100% - 30px);
    }

    footer .site-creator {
        display: block;
        text-align: center;
        float: none;
        margin-top: 8px;
    }

    footer .old-site-lnk {
        margin: 9px auto;
    }

    footer .bottom-info .left-pnl a {
        display: none;
    }

    footer .left-pnl {
        text-align: center;
        margin-bottom: 15px;
    }

    .content-block.light-gray {
        padding-top: 0px;
        padding-bottom: 1px;
        overflow: hidden;
    }

        .content-block.light-gray > div {
            padding: 0;
        }

    .carousel-inner > .item {
        padding: 30px 25px 50px 25px;
        text-align: center;
    }

    .top-slider.carousel .carousel-control {
        display: none;
    }

    .top-slider .carousel-inner > .item .info {
        margin-top: 30px;
    }

    .reviews ul li {
        margin-bottom: 25px;
    }

        .reviews ul li:last-child {
            margin-bottom: 0;
        }

    .page-header h1 {
        text-align: center;
        font-size: 30px;
        line-height: 1.3;
        display: block;
    }

    .page-header i.fa, .page-header i.glyphicon {
        display: none;
    }

    article h2 {
        text-align: left;
    }

    .photos-page ul.items :nth-child(2n+1) {
        clear: both;
    }

    .photos-page ul.items :nth-child(3n+1) {
        clear: none;
    }

    .event-page .preview {
        padding-bottom: 10px;
    }

        .event-page .preview hr {
            display: none;
        }

        .event-page .preview .registration-info {
            width: calc(100% + 30px);
            margin: 20px 0 20px -15px;
            padding: 30px 30px 20px;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
        }

    .event-page .btns {
        width: 100%;
        text-align: center;
    }

        .event-page .btns .btn {
            margin-bottom: 10px;
        }

    .table-responsive {
        border: 0 none;
    }

        .table-responsive table {
            margin-bottom: 0;
        }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        ::-webkit-scrollbar:vertical {
            width: 12px;
        }

        ::-webkit-scrollbar:horizontal {
            height: 12px;
        }

    ::-webkit-scrollbar-thumb {
        background-color: #b6cadc;
        border-radius: 10px;
        border: 2px solid #ffffff;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ffffff;
    }
}

@media (max-width: 580px) {
    .videos ul li {
        width: 100%;
    }

    .events ul.list > li {
        width: 100%;
        margin-bottom: 10px;
    }

    .events .thumbnail a.topic {
        min-height: 30px;
    }

    .photos-page ul.items li {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .seminars .items .item .date {
        margin: 2px 0 5px;
        float: none;
    }

    .seminars .items .item .name {
        float: none;
    }

    .seminars .items .item .level-bars {
        float: none;
        clear: both;
    }

    .seminars .items .item .location {
        margin-top: 0px;
    }

    .seminars .items .item .register-pnl {
        text-align: center;
        clear: both;
    }

        .seminars .items .item .register-pnl .btn.register {
            float: none;
        }
}

@media (max-width: 480px) {
	body {padding-top:78px;}

    .main-nav.navbar-default {
        min-height: 50px;
    }

    .navbar-toggle {
        padding: 14px 10px;
    }

    .main-nav .navbar-brand img:first-child {
        display: none;
        height: auto;
    }

    .main-nav .navbar-brand img:nth-child(2) {
        display: block;
        height: auto;
        width: 108px;
    }

    .main-nav .navbar-header {
        min-height: 50px;
    }

    .top-slider .carousel-inner > .item {
        padding: 10px 15px 30px 15px;
    }

        .top-slider .carousel-inner > .item .info {
            margin-top: 10px;
        }

    .content-col .item .left {
        display: none;
    }

    .content-col .item .right {
        width: 100% !important;
    }

    ul.pagination > li:not(:first-child):not(:last-child) {
        display: none;
    }

    .top-selectors {
        padding: 0 20px;
    }

        .top-selectors .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
        }

        .top-selectors .bootstrap-select .btn-default {
            width: 100%;
            background-color: #f3f3f3 !important;
            border: 1px solid #b7b7b7 !important;
            height: 40px;
            margin-bottom: 20px;
            padding-left: 10px;
        }

        .top-selectors .bootstrap-select.btn-group .dropdown-toggle .filter-option,
        .top-selectors .bootstrap-select .caret:before {
            color: #505050;
        }

        .top-selectors .bootstrap-select.btn-group .dropdown-toggle .filter-option {
            font-family: open_sansregular;
        }

        .top-selectors .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
            margin-top: 10px;
        }

        .top-selectors .dropdown-menu {
            width: 100%;
            top: 40px;
        }

            .top-selectors .dropdown-menu > li > a {
                padding: 10px 20px;
            }

    .events-page .buttons span, .events-page .buttons a {
        margin: 5px 0;
    }

    .events-page .buttons {
        text-align: center;
    }

    .content-col > hr:first-of-type {
        display: none;
    }

    .breadcrumbs-wrapper {
        display: none;
    }

    article > img, article .photo-slider, article .embed-responsive {
        margin-left: -30px;
        width: calc(100% + 60px);
    }

    .speakers-page .left a {
        display: inline-block;
    }

    .speakers-page .left, .speakers-page .right {
        text-align: center;
        display: block !important;
        width: 100%;
    }

    .speakers-page .left {
        margin-bottom: 0;
    }

    .news-page .items .item .left a {
        display: block !important;
    }

    .news-page .items .right p {
        display: none;
    }

    .news-page .items .right h4 {
        font-size: 16px;
        line-height: 23px;
    }

    .news-page .items .right .date {
        font-size: 13px;
        margin-bottom: 0;
    }

    .news-page .items {
        background-color: white;
        -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
    }

        .news-page .items .item {
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 0;
        }

        .news-page .items .white-pnl {
            box-shadow: none;
            padding: 20px 30px;
        }
}

@media (max-width: 400px) {
    .top-slider .carousel-inner > .item .info {
        margin-top: 0px;
    }

    .register-modal .modal-dialog {
        width: auto;
    }
}

@media (min-width: 871px) {
    .main-nav .navbar-collapse ul.bottom li.academy:before {
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        background-color: #9bbdda;
        position: absolute;
        top: 15px;
    }

    .main-nav .navbar-collapse ul.bottom li.academy:hover:before {
        display: none;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        float: left;
        margin: 0;
    }

        .navbar-nav > li {
            float: left;
        }

            .navbar-nav > li > a {
                padding: 0 15px;
                height: 50px;
                line-height: 50px;
            }

    .main-nav .navbar-collapse {
        position: relative;
        min-height: 150px;
        padding-top: 26px;
    }

    .dropdown a.dropdown-toggle {
        padding-right: 19px;
    }

    .main-nav.shrink .navbar-brand {
        display: none;
    }

    .main-nav.shrink .navbar-collapse .top-nav {
        margin-top: -25px;
    }

    .main-nav.shrink .navbar-collapse ul.top {
        margin-top: 3px;
        float: left;
    }

    .main-nav .navbar-collapse .top-nav {
        margin-top: 4px;
    }

    .main-nav.navbar-default, .main-nav.navbar-default.shrink {
        min-height: 100px;
    }

    .main-nav .navbar-collapse, .main-nav.shrink .navbar-collapse,
    .main-nav .navbar-collapse .top-nav, .main-nav.shrink .navbar-collapse .top-nav,
    .main-nav .navbar-brand, .main-nav.shrink .navbar-brand,
    .main-nav .navbar-collapse .top-nav > .top, .main-nav.shrink .navbar-collapse .top-nav > .top {
        transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
    }

    .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: transparent !important;
        color: #fff !important;
    }

    .navbar-default .navbar-nav > .dropdown.open > a, .navbar-default .navbar-nav > .dropdown.open > a:hover {
        padding-bottom: 11px !important;
        border-bottom: 4px solid #07477d !important;
    }

    .navbar-default .navbar-nav > .active > a {
        background-color: transparent !important;
        color: white !important;
        border-bottom: 4px solid #2aa8ec !important;
    }

    .main-nav .navbar-collapse ul.bottom li.dropdown:hover, .main-nav .navbar-collapse ul.bottom li.dropdown.open {
        background-color: #07477d !important;
        color: white !important;
    }

    .main-nav .navbar-collapse ul.bottom li.cabinet .dropdown-menu {
        left: auto;
        right: 0;
        text-align: right;
    }

    .main-nav .txt-portal {
        display: block;
    }
}

@media (max-width: 880px) {
    .main-nav .search, .main-nav .email {
        display: none;
    }

    .main-nav.shrink .social-icons {
        display: none !important;
    }

    .caret:before {
        content: "\f107";
    }

    .seminars .items .item .seminar-icon {
        margin-right: 10px;
    }
}

@media (min-width: 871px) and (max-width: 980px) {
    .nav > li > a {
        padding-right: 10px;
        padding-left: 10px;
    }

    .main-nav .navbar-collapse ul.bottom li.academy {
        margin-left: 5px;
    }

        .main-nav .navbar-collapse ul.bottom li.academy:before {
            margin-left: 0px;
        }
}

@media (min-width: 980px) {

    .main-nav .navbar-collapse ul.bottom li.cabinet a {
        padding-right: 15px;
    }

    .main-nav .navbar-collapse ul.bottom li.academy {
        margin-left: 25px;
    }

        .main-nav .navbar-collapse ul.bottom li.academy:before {
            margin-left: -10px;
        }

        .main-nav .navbar-collapse ul.bottom li.academy:hover:before {
            display: block;
        }
}

@media (max-width: 1050px) {
    .main-nav .navbar-collapse ul.bottom li.academy {
        margin-left: 5px;
    }

        .main-nav .navbar-collapse ul.bottom li.academy:before {
            margin-left: 0;
        }

        .main-nav .navbar-collapse ul.bottom li.academy:hover:before {
            display: none;
        }
}

@media (min-width: 1205px) {
    .container-fluid {
        width: 1180px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
