<div id="receipt" style="font-size: 13px;">
	<div style="width: 180mm;">
		Для оплаты выбранных товаров, пожалуйста, распечатайте данную квитанцию <a href="#" onclick="window.print();">Печать</a>.
		<br>
		Вы сможете произвести по ней оплату в Сбербанке или любом другом банке, обслуживающем физических лиц.
		<br>
		<hr>
	</div>
	<table border="0" style="width: 100%; height: 145mm; border-collapse: collapse; empty-cells: show; font-family: Arial; border-spacing: 0; padding: 0;" class="table">
		<tr style="height: 70mm; font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
			<td class="center border width_50 strong" style="font-size: 12px; border-spacing: 0; text-align: center; font-weight: bold; width: 50mm; margin: 0; padding: 0 0 0 4px; border: 1px solid #000;" align="center"> Извещение<div style="height: 53mm; font-size: 0; margin: 0; padding: 0;"></div>Кассир </td>
			<td class="border" style="width: 128mm;font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px; border: 1px solid #000;">
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="right" style="font-size: 12px; border-spacing: 0; text-align: right; margin: 0; padding: 0 0 0 4px;" align="right"><i class="small" style="font-size: 9px; margin: 0; padding: 0;">Форма № ПД-4</i></td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">ООО "Ормко" </td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="small center" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(наименование получателя платежа)</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="underline" style="width: 37mm; font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">7806182285 </td>
					<td style="width: 9mm; font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">40702810303000085241 </td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="small center" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(ИНН получателя платежа)</td>
					<td class="small" style="font-size: 9px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="small center" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(номер счета получателя платежа)</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;">в </td>
					<td class="small underline" style="width: 73mm; font-size: 9px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">Ф-Л "СЕВЕРНАЯ СТОЛИЦА" АО "РАЙФФАЙЗЕНБАНК" </td>
					<td class="right" style="font-size: 12px; border-spacing: 0; text-align: right; margin: 0; padding: 0 0 0 4px;" align="right">БИК </td>
					<td class="underline" style="width: 33mm; font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">044030723 </td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="small center" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(наименование банка получателя платежа)</td>
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td width="1%" class="wrap" style="font-size: 12px; border-spacing: 0; white-space: nowrap; margin: 0; padding: 0 0 0 4px;">Номер кор./сч. банка получателя платежа </td>
					<td width="100%" class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">30101810100000000723</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="underline" style="width: 60mm; font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">Счет № <span id="py-order-name-1" style="font-size: 12px; margin: 0; padding: 0;">И/23942/Ф</span> от 27.06.2017</td>
					<td style="width: 2mm; font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;"></td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="small center" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(наименование платежа)</td>
					<td class="small" style="font-size: 9px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="small center" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(номер лицевого счета (код) плательщика)</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td width="1%" class="wrap" style="font-size: 12px; border-spacing: 0; white-space: nowrap; margin: 0; padding: 0 0 0 4px;">Ф.И.О. плательщика </td>
					<td width="99%" class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;"><span id="py-fio-1" style="font-size: 12px; margin: 0; padding: 0;">Rumyantsev Pavel Андреевич</span></td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td width="1%" class="wrap" style="font-size: 12px; border-spacing: 0; white-space: nowrap; margin: 0; padding: 0 0 0 4px;">Адрес плательщика </td>
					<td width="99%" class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;"><span id="py-address-1" style="font-size: 12px; margin: 0; padding: 0;">198262, Ленинградская область, Санкт-Петербург, ул. Большая Пушкарская, д. 2, кв.44</span></td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;">Сумма платежа <span class="u" id="py-order-price-1" style="font-size: 12px; text-decoration: underline; margin: 0 2px; padding: 0;">700</span> руб. <span class="u" style="font-size: 12px; text-decoration: underline; margin: 0 2px; padding: 0;"> 0 </span> коп.</td>
					<td class="right" style="font-size: 12px; border-spacing: 0; text-align: right; margin: 0; padding: 0 0 0 4px;" align="right"> Сумма платы за услуги  _____ руб. ____ коп.</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;">Итого  _______ руб. ____ коп.</td>
					<td class="right" style="font-size: 12px; border-spacing: 0; text-align: right; margin: 0; padding: 0 0 0 4px;" align="right"> «______»________________ 201____ г.</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="small" style="font-size: 9px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"> С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка, ознакомлен и согласен. </td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="right strong" style="font-size: 12px; border-spacing: 0; text-align: right; font-weight: bold; margin: 0; padding: 0 0 0 4px;" align="right">Подпись плательщика _____________________</td>
				</tr>
			</table></td>
		</tr>
		<tr valign="top" style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
			<td class="width_50 border center strong" style="height: 70mm; font-size: 12px; border-spacing: 0; text-align: center; font-weight: bold; width: 50mm; margin: 0; padding: 0 0 0 4px; border: 1px solid #000;" align="center"><div style="height: 58mm; font-size: 0; margin: 0; padding: 0;"></div>Квитанция<div style="height: 11px; font-size: 0; margin: 0; padding: 0;"></div>Кассир </td>
			<td class="border" style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px; border: 1px solid #000;">
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="right small" style="font-size: 9px; border-spacing: 0; text-align: right; margin: 0; padding: 0 0 0 4px;" align="right"></td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">ООО "Ормко" </td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="center small" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(наименование получателя платежа)</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="underline" style="width: 37mm; font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">7806182285</td>
					<td style="width: 9mm; font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">40702810500390068001</td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="center small" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(ИНН получателя платежа)</td>
					<td class="small" style="font-size: 9px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="center small" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(номер счета получателя платежа)</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;">в </td>
					<td class="underline small" style="width: 73mm; font-size: 9px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">ФИЛИАЛ АО КБ "СИТИБАНК"  В Г.САНКТ-ПЕТЕРБУРГЕ </td>
					<td class="right" style="font-size: 12px; border-spacing: 0; text-align: right; margin: 0; padding: 0 0 0 4px;" align="right">БИК </td>
					<td class="underline" style="width: 33mm; font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">044030765 </td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="center small" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(наименование банка получателя платежа)</td>
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td width="1%" class="wrap" style="font-size: 12px; border-spacing: 0; white-space: nowrap; margin: 0; padding: 0 0 0 4px;">Номер кор./сч. банка получателя платежа </td>
					<td width="100%" class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">30101810100000000765</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="underline" style="width: 60mm; font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;">Счет № <span id="py-order-name-2" style="font-size: 12px; margin: 0; padding: 0;">И/23942/Ф</span> от 27.06.2017</td>
					<td style="width: 2mm; font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;"></td>
				</tr>
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="center small" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(наименование платежа)</td>
					<td class="small" style="font-size: 9px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"></td>
					<td class="center small" style="font-size: 9px; border-spacing: 0; text-align: center; margin: 0; padding: 0 0 0 4px;" align="center">(номер лицевого счета (код) плательщика)</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td width="1%" class="wrap" style="font-size: 12px; border-spacing: 0; white-space: nowrap; margin: 0; padding: 0 0 0 4px;">Ф.И.О. плательщика </td>
					<td width="99%" class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;"><span id="py-fio-2" style="font-size: 12px; margin: 0; padding: 0;">Rumyantsev Pavel Андреевич</span></td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td width="1%" class="wrap" style="font-size: 12px; border-spacing: 0; white-space: nowrap; margin: 0; padding: 0 0 0 4px;">Адрес плательщика </td>
					<td width="99%" class="underline" style="font-size: 12px; border-spacing: 0; border-bottom-width: 1px; border-bottom-color: #000; border-bottom-style: solid; margin: 0; padding: 0 0 0 4px;"><span id="py-address-2" style="font-size: 12px; margin: 0; padding: 0;">198262, Ленинградская область, Санкт-Петербург, ул. Большая Пушкарская, д. 2, кв.44</span></td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;">Сумма платежа <span class="u" id="py-order-price-2" style="font-size: 12px; text-decoration: underline; margin: 0 2px; padding: 0;">700</span> руб. <span class="u" style="font-size: 12px; text-decoration: underline; margin: 0 2px; padding: 0;"> 0 </span> коп.</td>
					<td class="right" style="font-size: 12px; border-spacing: 0; text-align: right; margin: 0; padding: 0 0 0 4px;" align="right">Сумма платы за услуги  _____ руб. ____ коп.</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td style="font-size: 12px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;">Итого  _______ руб. ____ коп.</td>
					<td class="right" style="font-size: 12px; border-spacing: 0; text-align: right; margin: 0; padding: 0 0 0 4px;" align="right"> «______»________________ 201____ г.</td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="small" style="font-size: 9px; border-spacing: 0; margin: 0; padding: 0 0 0 4px;"> С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка, ознакомлен и согласен. </td>
				</tr>
			</table>
			<table border="0" class="margin width_122" style="font-size: 0; border-spacing: 0; width: 122mm; margin: 4px 0 0; padding: 0;">
				<tr style="font-size: 0; border-spacing: 0; margin: 0; padding: 0;">
					<td class="right strong" style="font-size: 12px; border-spacing: 0; text-align: right; font-weight: bold; margin: 0; padding: 0 0 0 4px;" align="right">Подпись плательщика _____________________</td>
				</tr>
			</table></td>
		</tr>
	</table>
</div>