@font-face {
	font-family: 'AvenirNextCyr';
	src: url('fonts/AvenirNextCyr-Bold.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Bold.woff') format('woff'), url('fonts/AvenirNextCyr-Bold.ttf') format('truetype'), url('fonts/AvenirNextCyr-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNextCyr';
	src: url('fonts/AvenirNextCyr-Medium.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Medium.woff') format('woff'), url('fonts/AvenirNextCyr-Medium.ttf') format('truetype'), url('fonts/AvenirNextCyr-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNextCyr';
	src: url('fonts/AvenirNextCyr-Regular.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Regular.woff') format('woff'), url('fonts/AvenirNextCyr-Regular.ttf') format('truetype'), url('fonts/AvenirNextCyr-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@charset "UTF-8";a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,var,video{margin:0;padding:0;border:0;vertical-align:baseline}img{margin:0;padding:0}fieldset,ul{vertical-align:baseline}ul{border:0}fieldset{margin:0;padding:0}html{box-sizing:border-box;font-size:16px;text-rendering:optimizelegibility;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;-moz-tap-highlight-color:transparent;-moz-text-size-adjust:none;-moz-font-smoothing:antialiased;-ms-tap-highlight-color:transparent;-ms-text-size-adjust:none;-ms-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#FFFFFF;overflow:hidden;height:100%;opacity:0;transition:.3s all}a img,fieldset,img{border:none}input[type=email],input[type=tel],input[type=text],textarea{-webkit-appearance:none}button,input[type=submit]{cursor:pointer}button::-moz-focus-inner,input[type=submit]::-moz-focus-inner{padding:0;border:0}textarea{overflow:auto}button,input{margin:0;padding:0;border:0}a,a:focus,button,div,h1,h2,h3,h4,h5,h6,input,select,span,textarea{outline:none}ol,ul{list-style-type:none}table{border-spacing:0;border-collapse:collapse;width:100%}:after,:before{box-sizing:inherit}
.col-md-6{width:50%}.col-md-4{width:33.333%}.max-994{margin-left:auto;margin-right:auto;max-width:994px}.container,.container-fluid{width:100%;padding:0;margin:0 auto;position:relative}.color-black{color:#000}.title div{display:inline-block;overflow:hidden}.title div span{position:relative;display:block}.title-lg,.title-md{font-size:5rem;line-height:5.3125rem;font-weight:300}.title-md{font-size:3.4375rem;line-height:3.625rem}.subtitle-md{font-size:1.125rem;font-weight:700;text-transform:uppercase;line-height:1.5625rem}.text-white{color:#fff}.text-center{text-align:center}.full-vp{height:100vh}.flex,.flex-wrap{display:-ms-flexbox;display:flex}.flex-wrap{-ms-flex-flow:wrap;flex-flow:wrap}.flex-vbottom,.flex-vcenter{display:-ms-flexbox;display:flex;-ms-flex-align:end;align-items:flex-end}.flex-vcenter{-ms-flex-align:center;align-items:center}.flex-hcenter,.flex-vhcenter{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center}.flex-vhcenter{-ms-flex-align:center;align-items:center}.text-block{font-size:1.125rem;line-height:1.75rem}.section{min-height:100vh}*{outline:none!important;box-sizing:border-box}.js-overflow,body.compensate-for-scrollbar{overflow:hidden}ul{margin:0;padding:0}a{transition:.2s all;text-decoration:none}img{max-width:100%;height:auto;vertical-align:middle}.footer .scroll-down{opacity:0}.fp-viewing-first .footer .scroll-down{opacity:1;visibility:visible}.fancybox-close-small:hover svg,.fp-enabled.is-ready,.is-ready{opacity:1}.fp-enabled.is-ready .header{animation:animateHeader 1s ease-out 0s 1 normal forwards;animation-delay:.35s}.fp-enabled.is-ready .footer{animation:animateFooter 1s ease-out 0s 1 normal forwards;animation-delay:.35s}.page-inner{overflow:hidden;height:100vh}.page-inner .out{min-height:100vh}.page-inner .footer{z-index:10}.page-inner .single{-ms-transform:translateX(0);transform:translateX(0);color:#fff;background:linear-gradient(180deg,#a0cf50 0%,#0fac81 100%)}[data-disabled]{pointer-events:none}.fancybox-active{height:auto}.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}.fancybox-container{-webkit-backface-visibility:hidden;backface-visibility:hidden;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;height:100%;left:0;position:fixed;-webkit-tap-highlight-color:transparent;top:0;transform:translateZ(0);width:100%;z-index:99992}.fancybox-container *{box-sizing:border-box}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}.fancybox-outer{-webkit-overflow-scrolling:touch;overflow-y:auto}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.87;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption,.fancybox-infobar,.fancybox-toolbar{opacity:0;position:absolute}.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;transition:opacity .25s,visibility 0s linear .25s;visibility:hidden;z-index:99997}.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s,visibility 0s;visibility:visible}.fancybox-show-nav .fancybox-navigation .fancybox-button{opacity:1;visibility:visible}.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;text-align:center;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-toolbar{right:0;top:0}.fancybox-stage{direction:ltr;overflow:visible;-webkit-transform:translateZ(0);z-index:99994}.fancybox-is-open .fancybox-stage{overflow:hidden}.fancybox-slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:absolute;text-align:center;top:0;transition-property:transform,opacity;white-space:normal;width:100%;z-index:99994}.fancybox-slide:before{content:"";display:inline-block;height:100%;margin-right:-.25em;vertical-align:middle;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--next{z-index:99995}.fancybox-slide--image{overflow:visible;padding:44px 0}.fancybox-slide--image:before{display:none}.fancybox-slide--html{padding:6px 6px 0}.fancybox-slide--iframe{padding:44px 44px 0}.fancybox-content{background:#fff;display:inline-block;margin:0 0 6px;max-width:100%;overflow:auto;padding:24px;position:relative;text-align:left;vertical-align:middle}.fancybox-slide--image .fancybox-content{animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;backface-visibility:hidden;background:0 0;background-repeat:no-repeat;background-size:100% 100%;left:0;margin:0;max-width:none;overflow:visible;padding:0;position:absolute;top:0;-ms-transform-origin:top left;transform-origin:top left;transition-property:transform,opacity;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99995}.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}.fancybox-can-drag .fancybox-content{cursor:-webkit-grab;cursor:grab}.fancybox-is-dragging .fancybox-content{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-container [data-selectable=true]{cursor:text}.fancybox-image,.fancybox-spaceball{background:0 0;border:0;height:100%;left:0;margin:0;max-height:none;max-width:none;padding:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.fancybox-spaceball{z-index:1}.fancybox-slide--html .fancybox-content{margin-bottom:6px}.fancybox-slide--iframe .fancybox-content{height:100%;overflow:visible;padding:0;width:100%}.fancybox-iframe,.fancybox-slide--map .fancybox-content,.fancybox-slide--video .fancybox-content,.fancybox-video{height:100%;margin:0;overflow:visible;padding:0;width:100%}.fancybox-slide--video .fancybox-content{background:#000}.fancybox-slide--map .fancybox-content{background:#e5e3df}.fancybox-slide--iframe .fancybox-content{background:#fff;height:calc(100% - 44px);margin:0 0 44px}.fancybox-iframe,.fancybox-video{background:0 0;border:0;overflow:hidden}.fancybox-iframe{vertical-align:top}.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}.fancybox-button{background:rgba(30,30,30,.6);border:0;border-radius:0;cursor:pointer;display:inline-block;height:44px;margin:0;outline:none;padding:10px;transition:color .2s;vertical-align:top;width:44px;color:#ccc}.fancybox-button:link,.fancybox-button:visited{color:#ccc}.fancybox-button:focus,.fancybox-button:hover{color:#fff}.fancybox-button.disabled,.fancybox-button.disabled:hover,.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default}.fancybox-button svg{display:block;overflow:visible;position:relative;shape-rendering:geometricPrecision}.fancybox-button svg path{fill:transparent;stroke:currentColor;stroke-linejoin:round;stroke-width:3}.fancybox-button--pause svg path:nth-child(1),.fancybox-button--play svg path:nth-child(2){display:none}.fancybox-button--play svg path,.fancybox-button--share svg path,.fancybox-button--thumbs svg path{fill:currentColor}.fancybox-button--share svg path{stroke-width:1}.fancybox-navigation .fancybox-button{height:38px;opacity:0;padding:6px;position:absolute;top:50%;width:38px}.fancybox-show-nav .fancybox-navigation .fancybox-button{transition:opacity .25s,visibility 0s,color .25s}.fancybox-navigation .fancybox-button:after{content:"";left:-25px;padding:50px;position:absolute;top:-25px}.fancybox-navigation .fancybox-button--arrow_left{left:6px}.fancybox-navigation .fancybox-button--arrow_right{right:6px}.fancybox-close-small{background:0 0;border:0;border-radius:0;color:#555;cursor:pointer;height:44px;margin:0;padding:6px;position:absolute;right:0;top:0;width:44px;z-index:10}.fancybox-close-small svg{fill:transparent;opacity:.8;stroke:currentColor;stroke-width:1.5;transition:stroke .1s}.fancybox-close-small:focus{outline:none}.fancybox-slide--iframe .fancybox-close-small,.fancybox-slide--image .fancybox-close-small,.fancybox-slide--video .fancybox-close-small{color:#ccc;padding:5px;right:-12px;top:-44px}.fancybox-slide--iframe .fancybox-close-small:hover svg,.fancybox-slide--image .fancybox-close-small:hover svg,.fancybox-slide--video .fancybox-close-small:hover svg{background:0 0;color:#fff}.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small{display:none}.fancybox-caption{bottom:0;color:#fff;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:25px 44px;right:0}.fancybox-caption:before{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);background-repeat:repeat-x;background-size:contain;bottom:0;content:"";display:block;left:0;pointer-events:none;position:absolute;right:0;top:-25px;z-index:-1}.fancybox-caption:after{border-bottom:1px solid rgba(255,255,255,.3);content:"";display:block;left:44px;position:absolute;right:44px;top:0}.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}.fancybox-caption a:hover{color:#fff;text-decoration:underline}.fancybox-loading{animation:a .8s infinite linear;background:0 0;border:6px solid rgba(99,99,99,.5);border-radius:100%;border-top-color:#fff;height:60px;left:50%;margin:-30px 0 0 -30px;opacity:.6;padding:0;position:absolute;top:50%;width:60px;z-index:99999}@keyframes a{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{opacity:0;transform:translate3d(-100%,0,0)}.fancybox-fx-slide.fancybox-slide--next{opacity:0;transform:translate3d(100%,0,0)}.fancybox-fx-slide.fancybox-slide--current{opacity:1;transform:translateZ(0)}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current,.fancybox-thumbs .fancybox-thumbs-active:before{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;transform:scale3d(1.5,1.5,1.5)}.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;transform:scale3d(.5,.5,.5)}.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;-ms-transform:scaleX(1);transform:scaleX(1)}.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;-ms-transform:rotate(-1turn);transform:rotate(-1turn)}.fancybox-fx-rotate.fancybox-slide--next{opacity:0;-ms-transform:rotate(1turn);transform:rotate(1turn)}.fancybox-fx-rotate.fancybox-slide--current{opacity:1;-ms-transform:rotate(0deg);transform:rotate(0deg)}.fancybox-fx-circular.fancybox-slide--previous{opacity:0;transform:scale3d(0,0,0) translate3d(-100%,0,0)}.fancybox-fx-circular.fancybox-slide--next{opacity:0;transform:scale3d(0,0,0) translate3d(100%,0,0)}.fancybox-fx-circular.fancybox-slide--current{opacity:1;transform:scaleX(1) translateZ(0)}.fancybox-fx-tube.fancybox-slide--previous{transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{transform:translateZ(0) scale(1)}.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}.fancybox-share p{margin:0;padding:0}.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}.fancybox-share__button:hover{text-decoration:none}.fancybox-share__button--fb{background:#3b5998}.fancybox-share__button--fb:hover{background:#344e86}.fancybox-share__button--pt{background:#bd081d}.fancybox-share__button--pt:hover{background:#aa0719}.fancybox-share__button--tw{background:#1da1f2}.fancybox-share__button--tw:hover{background:#0d95e8}.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}.fancybox-share__button svg path{fill:#fff}.fancybox-share__input{background:0 0;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:none;padding:10px 15px;width:100%}.fancybox-thumbs{background:#fff;bottom:0;display:none;margin:0;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;-webkit-tap-highlight-color:transparent;top:0;width:212px;z-index:99995}.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:212px}.fancybox-thumbs>ul{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:relative;white-space:nowrap;width:100%}.fancybox-thumbs-x>ul{overflow:hidden}.fancybox-thumbs-y>ul::-webkit-scrollbar{width:7px}.fancybox-thumbs-y>ul::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0,.3)}.fancybox-thumbs-y>ul::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}.fancybox-thumbs>ul>li,.swiper-container{position:relative;overflow:hidden;padding:0}.fancybox-thumbs>ul>li{-webkit-backface-visibility:hidden;backface-visibility:hidden;cursor:pointer;float:left;height:75px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:none;-webkit-tap-highlight-color:transparent;width:100px;background-position:50%;background-repeat:no-repeat;background-size:cover;margin:2px}.fancybox-thumbs-loading{background:rgba(0,0,0,.1)}.fancybox-thumbs>ul>li:before,.selectric .button:after{content:"";position:absolute;top:0;right:0;bottom:0;left:0}.fancybox-thumbs>ul>li:before{border:4px solid #4ea7f9;opacity:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}.swiper-container{margin:0 auto;list-style:none;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-ms-flex-direction:column;flex-direction:column}.swiper-slide,.swiper-wrapper{width:100%;height:100%;position:relative;transition-property:transform}.swiper-wrapper{z-index:1;display:-ms-flexbox;display:flex;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-ms-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-ms-flex-negative:0;flex-shrink:0}.swiper-invisible-blank-slide{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-ms-flex-align:start;align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),transparent)}.swiper-container-wp8-horizontal,.swiper-container-wp8-horizontal>.swiper-wrapper{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-container-wp8-vertical,.swiper-container-wp8-vertical>.swiper-wrapper{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:300ms opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-ms-transform:scale(.33);transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{-ms-transform:scale(1);transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{-ms-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{-ms-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{-ms-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{-ms-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;-ms-transform:translateY(-50%);transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:200ms transform,200ms top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:200ms transform,200ms left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:200ms transform,200ms right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-ms-transform:scale(0);transform:scale(0);-ms-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{-ms-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill,.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-progressbar.swiper-pagination-white{background:rgba(255,255,255,.25)}.swiper-pagination-black .swiper-pagination-bullet-active,.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill{background:#000}.swiper-pagination-progressbar.swiper-pagination-black{background:rgba(0,0,0,.25)}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-ms-transform-origin:50%;transform-origin:50%;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:'';width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@keyframes swiper-preloader-spin{to{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;filter:blur(50px);z-index:0}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}[data-simplebar]{position:relative;z-index:0;overflow:hidden!important;max-height:inherit;-webkit-overflow-scrolling:touch}[data-simplebar=init]{display:-ms-flexbox;display:flex}.simplebar-scroll-content{overflow-x:hidden!important;overflow-y:scroll;min-width:100%!important;max-height:inherit!important;box-sizing:content-box!important}.simplebar-content{overflow-y:hidden!important;overflow-x:scroll;box-sizing:border-box!important;min-height:100%!important}.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;width:11px}.simplebar-scrollbar{position:absolute;right:2px;width:10px;min-height:10px}.simplebar-scrollbar:before{position:absolute;content:"";background:#fff;border-radius:7px;left:0;right:0;opacity:0;transition:opacity .2s linear}.simplebar-track .simplebar-scrollbar.visible:before,.simplebar-track:hover .simplebar-scrollbar:before{opacity:1;transition:opacity 0 linear}.simplebar-track.vertical{top:0}.simplebar-track.vertical .simplebar-scrollbar:before{top:2px;bottom:2px}.simplebar-track.horizontal{left:0;width:auto;height:11px;display:none!important}.simplebar-track.horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px}.horizontal.simplebar-track .simplebar-scrollbar{right:auto;top:2px;height:7px;min-height:0;min-width:10px;width:auto}.selectric-wrapper{position:relative;cursor:pointer}.selectric-responsive{width:100%}.selectric{border:0 solid #ddd;border-radius:5px;background:#fff;position:relative;overflow:hidden}.selectric .button,.selectric .label{display:block;height:2.5rem;line-height:2.5rem;overflow:hidden}.selectric .label{white-space:nowrap;text-overflow:ellipsis;margin:0 2.5rem 0 .9375rem;font-size:1rem;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight:700;color:#303030}.selectric .button{position:absolute;right:0;top:0;width:3.375rem;background-color:#fff;color:#bbb;text-align:center;text-indent:-999px}.selectric .button:after{background-image:url(../img/svg/arrow-select.svg);background-size:1.5625rem .9375rem;background-repeat:no-repeat;background-position:center center}.selectric-focus .selectric{border-color:#aaa}.selectric-hover .selectric{border-color:#c4c4c4}.selectric-hover .selectric .button{color:#a2a2a2}.selectric-open{z-index:9999}.selectric-open .selectric{border-color:#c4c4c4;border-bottom-left-radius:0;border-bottom-right-radius:0}.selectric-open .selectric-items{display:block}.selectric-disabled{filter:alpha(opacity=50);opacity:.5;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.selectric-hide-select{position:relative;overflow:hidden;width:0;height:0}.selectric-hide-select select{position:absolute;left:-100%}.selectric-hide-select.selectric-is-native{position:absolute;width:100%;height:100%;z-index:10}.selectric-hide-select.selectric-is-native select{position:absolute;top:0;left:0;right:0;height:100%;width:100%;border:none;z-index:1;box-sizing:border-box;opacity:0}.selectric-input{position:absolute!important;top:0!important;left:0!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;margin:0!important;padding:0!important;width:1px!important;height:1px!important;outline:none!important;border:none!important;*font:0/0 a!important;background:0 0!important}.selectric-temp-show{position:absolute!important;visibility:hidden!important;display:block!important}.selectric-items{display:none;position:absolute;top:100%;left:0;background:#fff;border:1px solid #e3e3e3;z-index:-1;box-shadow:0 0 10px -6px}.selectric-items .selectric-scroll{height:100%;overflow:auto}.selectric-above .selectric-items{top:auto;bottom:100%}.selectric-items li,.selectric-items ul{list-style:none;padding:0;margin:0;font-size:1rem;line-height:20px;min-height:20px}.selectric-items li{display:block;padding:10px 15px;color:#303030;cursor:pointer}.selectric-items li.selected{background:#e0e0e0}.selectric-items li.highlighted{background:#e3f9f7}.selectric-items li:hover{background:#b9f0eb}.selectric-items .disabled{filter:alpha(opacity=50);opacity:.5;cursor:default!important;background:0 0!important;color:#666!important;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.selectric-items .selectric-group .selectric-group-label{font-weight:700;padding-left:10px;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:0 0;color:#444}.selectric-items .selectric-group.disabled li{filter:alpha(opacity=100);opacity:1}.selectric-items .selectric-group li{padding-left:25px}
.fp-enabled body,html.fp-enabled{margin:0;padding:0;overflow:hidden;-webkit-tap-highlight-color:transparent}.fp-section{position:relative;box-sizing:border-box}.fp-slide{float:left}.fp-slide,.fp-slidesContainer{height:100%;display:block}.fp-slides{z-index:1;height:100%;overflow:hidden;position:relative;transition:all .3s ease-out}.fp-section.fp-table,.fp-slide.fp-table{display:table;table-layout:fixed;width:100%}.fp-tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%}.fp-slidesContainer{float:left;position:relative}.fp-controlArrow{-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none;position:absolute;z-index:4;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px;-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fp-controlArrow.fp-prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}.fp-controlArrow.fp-next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}.fp-scrollable{position:relative}.fp-scrollable,.fp-scroller{overflow:hidden}.iScrollIndicator{border:0!important}.fp-notransition{transition:none!important}#fp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1;-webkit-transform:translate3d(0,0,0)}#fp-nav.fp-right{right:17px}#fp-nav.fp-left{left:17px}.fp-slidesNav{position:absolute;z-index:4;opacity:1;-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);left:0!important;right:0;margin:0 auto!important}.fp-slidesNav.fp-bottom{bottom:17px}.fp-slidesNav.fp-top{top:17px}#fp-nav ul,.fp-slidesNav ul{margin:0;padding:0}#fp-nav ul li,.fp-slidesNav ul li{display:block;width:14px;height:13px;margin:7px;position:relative}.fp-slidesNav ul li{display:inline-block}#fp-nav ul li a,.fp-slidesNav ul li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}#fp-nav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li a.active span,.fp-slidesNav ul li:hover a.active span{height:12px;width:12px;margin:-6px 0 0 -6px;border-radius:100%}#fp-nav ul li a span,.fp-slidesNav ul li a span{border-radius:50%;position:absolute;z-index:1;height:4px;width:4px;border:0;background:#EB7929;left:50%;top:50%;margin:-2px 0 0 -2px;transition:all .1s ease-in-out}#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span{width:10px;height:10px;margin:-5px 0 0 -5px}#fp-nav ul li .fp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px;overflow:hidden;display:block;opacity:0;width:0;cursor:pointer}#fp-nav ul li:hover .fp-tooltip,#fp-nav.fp-show-active a.active+.fp-tooltip{transition:opacity .2s ease-in;width:auto;opacity:1}#fp-nav ul li .fp-tooltip.fp-right{right:20px}#fp-nav ul li .fp-tooltip.fp-left{left:20px}.fp-auto-height .fp-slide,.fp-auto-height .fp-tableCell,.fp-auto-height.fp-section,.fp-responsive .fp-auto-height-responsive .fp-slide,.fp-responsive .fp-auto-height-responsive .fp-tableCell,.fp-responsive .fp-auto-height-responsive.fp-section{height:auto!important}.input{background-color:#fff;border-radius:5px;height:2.5rem;font-size:1.125rem;color:#303030;padding-left:.75rem}.input::-webkit-input-placeholder{color:#303030}.input:-ms-input-placeholder{color:#303030}.input::placeholder{color:#303030}.form,.menuBox .menu a span{position:relative}.form .form__success,.form.is-success .form__inner{opacity:0;visibility:hidden}.form.is-success .form__success{opacity:1;visibility:visible;transition:.3s all}.form .form__success{position:absolute;top:0;left:0;right:0;bottom:0;font-size:.875rem;line-height:1.125rem;border-radius:5px;border:1px solid #fff;padding:1.0625rem 1.4375rem}.form-default,.modal article{color:#303030}.form-default .form__success{border:0;text-align:center;display:-ms-flexbox;display:flex;-ms-flex-flow:column;flex-flow:column;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.form-default .form__success .form__title{margin-bottom:1.25rem}.form-default .form__success .form__subtitle{font-size:1.125rem;line-height:1.4}.form-default .form__title{margin-bottom:2.1875rem}.form-default .form__field{padding-left:6.75rem;position:relative;display:inline-block;padding-right:5rem;margin-bottom:.9375rem}.form-default .form__field.is-error .form__error{display:block}.form-default .form__field .form__error{display:none}.form-default .form__checkbox{padding-left:6.75rem;margin-top:-.3125rem}.form-default .label{font-size:.875rem;color:#303030;position:absolute;top:50%;-ms-transform:translateY(-50%);transform:translateY(-50%);left:0}.form-default .input{background:#fff;border:1px solid #cfcfcf;border-radius:5px;min-width:16.5rem}.form-default .form__error{color:#ff2b2b;font-size:.8125rem;line-height:1.125rem;position:absolute;top:50%;-ms-transform:translateY(-50%);transform:translateY(-50%);right:0}.form-default .form__button{text-align:right;margin-top:-.3125rem}.form__title{font-size:1.875rem;font-weight:700}.form__close{position:absolute;top:0;right:0;z-index:2;width:4.375rem;height:3.4375rem;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.form__close svg{width:1.25rem;height:1.25rem}
.form__checkbox{position:relative;font-size:.75rem}.form__checkbox [type=checkbox]{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;cursor:pointer;z-index:2}.form__checkbox [type=checkbox]:checked+label:before{background-image:url(../img/svg/checked.svg);background-repeat:no-repeat;background-position:center center}.form__checkbox label{position:relative;padding-left:1.125rem;display:block;cursor:pointer}.form__checkbox label:before{content:'';position:absolute;top:.125rem;left:0;width:.8125rem;height:.8125rem;background:#fff;border:1px solid #bdbdbd}.form-order .form__field.is-error:before{content:'';position:absolute;bottom:0;left:0;right:0;top:0;border-radius:5px;border:2px solid red;pointer-events:none}
.btn{position:relative;display:inline-block;border-radius:0;border:0;transition:.3s all;background-color:transparent;font-family:inherit;text-align:center}
.btn-burger{display:-ms-flexbox;display:flex;-ms-flex-flow:column;flex-flow:column;-ms-flex-align:end;align-items:flex-end;margin-left:auto}.btn-burger:before{content:'';position:absolute;top:50%;left:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100px;height:100px}.btn-burger.is-active .bar:not(:first-child){margin-top:0}.btn-burger.is-active .bar:nth-child(1){-ms-transform:rotate(45deg) translate(2px,1px);transform:rotate(45deg) translate(2px,1px);width:1.75rem}.btn-burger.is-active .bar:nth-child(2){opacity:0}.btn-burger.is-active .bar:nth-child(3){width:1.75rem;-ms-transform:rotate(-45deg) translate(5px,-4px);transform:rotate(-45deg) translate(5px,-4px)}.btn-burger .bar{background-color:#fff;border-radius:100px;display:inline-block;height:4px;transition:.3s all}.btn-burger .bar:not(:first-child){margin-top:.1875rem}.btn-burger .bar:nth-child(1){width:1.75rem}.btn-burger .bar:nth-child(2){width:1.4375rem}.btn-burger .bar:nth-child(3){width:2rem}
@media only screen and (max-width:360px){html{font-size:14.5px!important}}@media (prefers-reduced-motion:reduce){*{transition:none!important}}
body {
	font-family: 'AvenirNextCyr', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	font-style: normal;
	background-color: #181842;
	color: #FFFFFF;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body.hold {
	overflow-y: hidden;
}
h1 {
	font-size: 3.5rem;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 1.1;
	margin: 0;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1;
	color: #FFFFFF;
}
h3 {
	font-size: 1.25rem;
	font-weight: 500;
	color: #FFFFFF;
}
h4 {
	color: #FFFFFF;
	font-size: 1.125rem;
	font-weight: 500;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
	color: #164476;
}
h6 {
	font-size: 0.875rem;
	font-weight: 500;
}
a {
	color: #FFFFFF;
	text-decoration: underline;
}
a:hover {
	color: #BBBBDD;
	text-decoration: none;
}
input, select, textarea {
	font-family: 'AvenirNextCyr', sans-serif;
	color: #303030;
}
button {
	font-family: 'Montserrat', sans-serif;
	width: 12rem;
	height: 2.75rem;
	background-color: #EB7929;
	border-radius: 2rem;
	color: #FFFFFF;
	font-size: 0.875rem;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.5s;
}
button.blue {
	width: auto;
	padding: 0 40px;
	height: 40px;
	border-radius: 20px;
    background-color: #42b8f5;
}
button:hover {
	background-color: #10e076;
}
hr {
	display: block;
	width: calc(100% - 120px);
	height: 1px;
	border: none;
    height: 1px;
    color: #FFFFFF;
    background-color: #FFFFFF;
	margin: 50px auto;
}
hr.between {
	float: left;
	width: 100%;
    color: #999999;
	background-color: #999999;
	margin: 0 auto;
}
hr.blue {
	width: 100%;
	height: 1px;
	border: none;
    height: 1px;
    color: #C4C4C4;
    background-color: #C4C4C4;
	margin: 5px auto 20px auto;
}
.left {
	float: left;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 7rem;
	text-align: left;
	transition: top 0.5s, opacity 0.8s;
	z-index: 5;
}
.header.out {
	opacity: 0.2;
}
.header:hover {
	opacity: 1;
}
.logo img {
	height: 2.825rem;
	padding-left: 6.375rem;
}
.header button {
	position: absolute;
	top: 2rem;
	right: 2.9rem;
}
.menu {
	margin-left: 2.25rem;
}
.menu ul li {
	display: inline-block;
	list-style-type: none;
	margin-bottom: 0.5rem;
}
.menu ul li a {
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
	padding: 0.5rem 1.125rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.menu ul li a:hover {
	color: #66CCFF;
}
.menu ul li.ch {
	color: #66CCFF;
}
.top {
	background-image: url('images/back1.png');
	background-size: cover;
}
.aniback {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('images/back1_.png');
	background-size: cover;
	opacity: 0;
	-webkit-animation: op 2s linear infinite;
	-moz-animation: op 2s linear infinite;
	animation: op 2s linear infinite;
}
.top h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	padding: 3rem 0 0 6rem;
	text-transform: uppercase;
	letter-spacing: -0.125rem;
}
.top h2 {
	position: absolute;
	top: 50%;
	margin-left: 26rem;
	margin-top: 7.325rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;
	color: #EB7929;
}
.top h2 span {
	font-size: 0.875rem;
	font-weight: 500;
}
.top h3 {
	position: absolute;
	top: 50%;
	margin-left: 26rem;
	margin-top: -7.75rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.7;
	font-weight: 500;
	letter-spacing: 0.05rem;
	color: #EB7929;
}
.top h3 span {
	font-size: 0.875rem;
	font-weight: 800;
	letter-spacing: 0;
}
.top h4 {
	position: absolute;
	top: 50%;
	margin-left: 30rem;
	margin-top: -2.2rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1.125;
	font-size: 1.625rem;
	color: #EB7929;
	text-align: right;
}
.top h4 time {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 0.925rem;
}
.top h4 time span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 3.075rem;
}
.section {
	padding: 9.7rem 3.1rem;
}
.on_left {
	position: absolute;
	width: 70%;
}
.speakers {
	background-image: url('images/back2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	color: #FFFFFF;	
	position: relative;
}
.on_right {
	padding-left: 50.6%;
	padding-top: 4.5rem;
	padding-right: 8rem;
}
.on_right h2 {
	font-size: 2.375rem;
	margin-bottom: 1.25rem;
}
.plain_text {
	font-size: 0.95rem;
	line-height: 1.325;
}
.plain_text p {
	padding: 0.65rem 0;
}
.speakers_more {
	margin-top: 1.8rem;
	color: #EB7929;
	font-weight: 700;
}
.speakers_more > div {
	padding-right: 2rem;
}
.quote_sign {
	position: absolute;
	left: 29.7rem;
	top: 29rem;
	width: 7.6rem;
	height: 3.46rem;
	padding: 0.5rem 2rem;
	font-weight: 700;
	color: #181842;
	background-image: url("images/quote.svg");
	background-size: cover;
	cursor: pointer;
	transition: color 0.5s;
}
.quote_sign:hover {
	color: #FFFFFF;
}
.quote button {
	display: table;
	margin: 1rem auto 0 auto;
}
.popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	max-height: 80%;
	overflow: auto;
	padding: 50px 30px;
	color: #181842;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #181842;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 22;
}
.popup a {
	color: #333333;
}
.popup p {
	margin: 15px 0;
}
.programm {
	padding: 6.7rem 3.1rem;
}
.programm h2 {
    margin-bottom: 2.2rem;
	margin-left: 3.4rem;
}
.prog_third {
	border: solid 1px #2575AA;
	padding: 0.5rem;
	background-image: url('images/flow.png');
	background-position: 100% 50%;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.prog_third_in {
	border: solid 1px #2575AA;
	padding: 3rem 0;
}
.prog_third_ {
	width: 33.33%;
	padding: 0 3.3rem 0 2.7rem;
}
.prog_third_:last-child {
	border-left: solid 2px #EB7929;
}
.prog_third_ ul li {
	margin-bottom: 1rem;
	font-size: 0.875rem;
}
.prog_third_ ul li:last-child {
	margin-bottom: 0;
}
.prog_third_middle img {
	margin-right: 1rem;
}
.prog_third_middle > div {
	margin: 2rem 0;
}
.price_div {
	padding: 9rem 3.1rem;
}

.mobmenu {
	display: none;
}
.txt, .txtdiv {
	color: #164476;
	width: 80%;
	margin: 0 auto 50px auto;
}
.progtabbs {
	margin-top: 30px;
	width: 100%;
	height: 27px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
}
.progline {
	flex-grow: 1;
	border-bottom: solid 2px #FFFFFF;
}
.progtabs {
	display: table;
	height: 55px;
	margin-top: -2px;
	border: solid 2px #FFFFFF;
	border-radius: 51px;
}
.progtab {
	display: table-cell;
	width: 230px;
	height: 51px;
	border-radius: 51px;
	font-size: 20px;
	font-size: 1.25rem;
	letter-spacing: 0.8px;
	padding-top: 13px;
	cursor: pointer;
	-webkit-transition: border 0.6s, background 0.6s, color 0.6s;
	transition: border 0.6s, background 0.6s, color 0.6s;
}
.progtab.sel {
	background: #FFFFFF;
	color: #2B94D3;
}
.progtab:first-child {
	margin-left: -2px;
}
.progtab:last-child {
	margin-right: -2px;
}
.progs_cont {
	width: 100%;
	margin-bottom: 30px;
}
.progspace {
	width: 100%;
	height: 20px;
}
.prog1 {
	width: 70%;
	margin-left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	background: #FFFFFF;
	color: #FF6666;
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.prog2 {
	display: none;
	width: 70%;
	margin-left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	background: #FFFFFF;
	color: #FF6666;
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.prog2 h3 {
	color: #FF6666;
	font-weight: 700;
}
.prog2 img {
	max-width: 100%;
	margin: 0 35px;
}
.prog {
	width: calc(100% - 120px);
	max-width: 1250px;
	min-height: 120px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.21);
	padding: 18px 0;
	margin: 0 auto 6px auto;
	color: #2b608d;
	text-align: left;
}
.prog.faded {
	opacity: 0.6;
}
.event1 {
	display: none;
}
.event2 {
	display: none;
	padding-top: 20px;
}
.pspeaker {
	float: left;
	width: 35%;
	padding: 0 2% 0 3%;
	color: #858686;	
	/* border-right: 1px solid #c2c2c2; */
	font-size: 14px;
	font-size: 0.813rem;
	font-weight: 300;
	line-height: 20px;
	line-height: 1.25rem;
}
.psimg {
	float: left;
	width: 40%;
	margin-right: 7%;
}
.psimg img {
	width: 105px;
	height: 105px;
	margin-right: 35px;
	/* border: 5px solid rgb(56,54,120); */
	border: 1px solid #c2c2c2;
	border-radius: 105px;
}
.psd {
	position: relative;
	float: left;
	width: 53%;
}
.event {
	float: left;
	position: relative;
	width: 65%;
	min-height: 110px;
	border-left: 1px solid #c2c2c2;
	/* border-right: 1px solid #c2c2c2; */
	padding: 0 140px 0 44px;
}
.event time {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 900;
}
.event1 time {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 900;
}
.event h4 {
	display: inline-block;
	display: none;
}
.event button {
	display: none;
	width: 120px;
	height: 26px;
	font-size: 11px;
	font-size: 0.688rem;
	font-weight: 500;
	letter-spacing: 0.55px;
	letter-spacing: 0.034rem;
	color: #FFFFFF;
	padding-bottom: 1px;
	background-color: rgb(56,54,120);
	border-radius: 26px;
	margin-left: 20px;
	margin-bottom: 6px;
	cursor: default;
}
.event2 button {
	display: none;
	width: 120px;
	height: 26px;
	font-size: 11px;
	font-size: 0.688rem;
	font-weight: 500;
	letter-spacing: 0.55px;
	letter-spacing: 0.034rem;
	color: #FFFFFF;
	padding-bottom: 1px;
	background-color: rgb(56,54,120);
	border-radius: 26px;
	margin-top: 15px;
	cursor: default;
}
.event2 .psd {
	display: none;
}
.event img {
	position: absolute;
	top: 20px;
	right: 44px;
	cursor: pointer;
}
.eshort a {
	color: #42b8f5;
}
.elong {
	display: none;
	font-size: 14px;
	font-size: 0.875rem;
	padding-top: 20px;
	padding-bottom: 40px;
}
.mkcount {
	display: inline-block;
	margin-left: 20px;
	margin-top: -6px;
	width: 190px;
	height: 40px;
	border-radius: 20px;
	border: solid 1px #42b8f5;
	padding: 8px 4px;
	text-align: center;
}
.igo {
	position: absolute;
	bottom: 0;
	right: 20px;
	padding: 10px 26px;
}
input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.igo.sel {
	border: solid 1px #2ECB81;
}
.igo.sel label {
	color: #2ECB81;
}
.dt {
	display: none;
	float: left;
	width: 14%;
	text-align: center;
	color: #175f8e;
	line-height: 19px;
	line-height: 1.188rem;
	
}
.dt span {
	color: #175f8e;
	font-size: 60px;
	font-size: 3.75rem;
	font-weight: 300;
	line-height: 72px;
	line-height: 4.5rem;
}
.dt img {
	position: absolute;
	top: 20px;
	right: 44px;
	cursor: pointer;
}
.mobile {
	display: none;
}
.spec {
	display: table;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 700;
	font-size: 1.375rem;
	line-height: 20px;
	line-height: 1.25rem;
	text-align: center;
	background-color: #FFFFFF;
	/* border: solid 1px #2ECB81;
	border-radius: 6px; */
	color: #FF6766;
	padding: 15px 60px;
	cursor: pointer;
}
.spec_desc {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-height: 80%;
	overflow: auto;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 20;
}
.spec_desc h4 {
	color: #666666;
}
.spec_desc h2 {
	color: #333333;
}
.spec_desc a {
	color: #42b8f5;
}
.spec_desc a span {
	font-size: 140%;
}
.spec_desc p {
	margin: 15px 0;
}
.speakerdata {
	width: 180px;
	margin: 0 auto;
	/* padding: 0 20px; */
	text-align: left;
	font-weight: 700;
}
.speakerdata1 {
	width: 80%;
	/* width: 180px; */
	margin: 20px auto;
	/* padding: 0 20px; */
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
.speakerdata h4 {
	text-align: center;
	color: #003c79;
}
.speaker img {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	border: solid 3px #164476;
	border-radius: 240px;
	cursor: pointer;
	transition: transform 0.5s;
	backface-visibility: hidden;
}
.speaker img:hover {
	transform: scale(1.05);
}
.speakersdiv {
	position: relative;
}
.speakers span.link, .speakers1 span.link {
	cursor: pointer;
	text-decoration: underline;
}
.speakers span.link:hover, .speakers1 span.link:hover {
	text-decoration: none;
}
.collage {
	width: 90%;
	margin: 40px auto;
}
.speakersdiv p {
	margin: 10px 0;
}
.place {
	position: relative;
	padding: 0;
	padding-top: 15%;
}
.onmap h4 {
	color: #181842;
}
.arrright {
	display: none;
	position: absolute;
	top: 200px;
	right: 20px;
}
.arrleft {
	display: none;
	position: absolute;
	top: 200px;
	left: 20px;
}
.spbullets, .spbullets1 {
	display: none;
}
.spbullet {
	float: left;
	width: 6px;
	height: 6px;
	border: 2px solid transparent;
	border-radius: 6px;
	margin-top: 2px;
	margin-right: 12px;
	background-color: #FFFFFF;
	cursor: pointer;
}
.spbullet.active {
	width: 10px;
	height: 10px;
	margin-top: 0;
	border: 2px solid #fff;
	background-color: #24c0f2;
}
.prices.opa {
	opacity: 0.6;
}
.prices.opa a {
	cursor: default;
}
.prices.opa button {
	cursor: default;
}
.prices.opa button:hover {
	background: #FFFFFF;
	color: #2b608d;
	border: 1px solid #38c2dc;
}
.cb {
	padding: 10px 0;
}
.hdr {
	color: #333333;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 20px;
}
.button {
	width: 20%;
	margin: 20px auto;
	text-align: center;
}
/*
.button button {
	width: 80%;
	height: 60px;
	background-color: #44cc60;
	border: 1px solid #38c2dc;
	border: 0.125rem solid #38c2dc;
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 17px;
	line-height: 1.063rem;
	transition: all 0.3s;
}
.button button:hover {
	background-color: #38c2dc;
}
*/
.button button:disabled {
	background: #DDDDDD;
	color: #666666;
	border: 1px solid #333333;
	border: 0.125rem solid #333333;
	cursor: default;
}
.button button:disabled:hover {
	background: #DDDDDD;
	color: #666666;
}
.afterprices {
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 28px;
	line-height: 1.2;
	margin-top: 40px;
}
.afterprice {
	display: inline;
	color: #FF9F90;
	font-size: 34px;
	line-height: 0.9;
}
.places {
	margin-top: 65px;
	width: 100%;
	height: 27px;
	margin-bottom: 50px;
}
.placeline {
	float: left;
	width: calc(50% - 236px);
	border-bottom: solid 2px #FFFFFF;
}
.placetabs {
	float: left;
	width: 472px;
	height: 55px;
	margin-top: -26px;
	border: solid 2px #003c79;
	border-radius: 55px;
}
.placetab {
	float: left;
	width: 236px;
	height: 51px;
	border-radius: 51px;
	font-size: 20px;
	font-size: 1.25rem;
	letter-spacing: 0.8px;
	padding-top: 13px;
	cursor: pointer;
	-webkit-transition: border 0.6s, background 0.6s, color 0.6s;
	transition: border 0.6s, background 0.6s, color 0.6s;
}
.placetab.sel {
	background: #003c79;
	color: #FFFFFF;
}
.placetab:first-child {
	margin-left: -2px;
}
.placetab:last-child {
	margin-right: -2px;
}
.gallery {
	position: relative;
	width: 807px;
	margin: 0 auto;
	border: 5px solid #FFFFFF;
	height: 347px;
	overflow: hidden;
}
.gallery1 {
	position: relative;
	width: 800px;
	margin: 0 auto;
	border: 5px solid #FFFFFF;
	height: 560px;
	overflow: hidden;
}
.gal_slider, .gal_slider1 {
	width: 99999px;
	height: 100%;
}
.gal_slide {
	float: left;
	width: 797px;
	height: 100%;
}
.gal_slide img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}
.gal_navs {
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -50px;
	display: table;
	width: 102px;
}
.gal_nav {
	display: table-cell;
	width: 51px;
	height: 61px;
	text-align: left;
	padding: 10px;
	cursor: pointer;
}
.gal_nav:hover {
	background: rgba(0, 0, 0, 0.5);
}
.gal_nav:last-child {
	text-align: right;
}
.map {
	width: 100%;
	height: 100%;
}
#map {
	width: 100%;
	height: 100%;
}
.beforemap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	padding: 6.5rem 6.5rem 1.5rem;
}
.beforemap h5 {
	color: #FFFFFF;
}
.formbox {
	width: calc(100% - 120px);
	max-width: 1250px;
	margin: 0 auto 60px auto;
	border-radius: 5px;
	text-align: left;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
}
.formleft {
	float: left;
	width: 50%;
	background-image: url("images/fback.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px;
	border-radius: 3px 0 0 3px;
}
.formleft .ttl {
	float: left;
	width: 28%;
	height: 50px;
	font-size: 14px;
	line-height: 15px;
	padding-top: 7px;
}
.formleft .fld {
	float: left;
	width: 72%;
	height: 50px;
	text-align: right;
}
.formleft .ttlc {
	float: left;
	width: 28%;
	height: 80px;
	line-height: 26px;
}
.formleft .fldc {
	float: left;
	width: 72%;
	height: 80px;
	text-align: right;
}
.formleft .uploaded {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
}
.captcha {
	width: 43%;
}
.code {
	width: 57%;
}
.formleft .ttla {
	float: left;
	width: 70%;
	padding-right: 20px;
	font-size: 14px;
	padding-top: 6px;
	margin-bottom: 10px;
}
.formleft .double {
	padding-top: 3px;
	line-height: 16px;
}
.formleft .flda {
	float: left;
	width: 30%;
	text-align: right;
	margin-bottom: 10px;
}
.formleft .fldf {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}
.formleft .fldu {
	width: 100%;
	text-align: center;
}
.formleft .fldu button {
	display: none;
	width: 100%;
	background: #CCCCCC;
	color: #000000;
	margin-bottom: 3px;
	cursor: pointer;
	outline: none;
}
.formleft .fldu button.done {
	background: #EEEEEE;
	color: #AAAAAA;
	cursor: default;
}
.formleft .fld input[type=checkbox] {
	float: left;
	-webkit-appearance: checkbox;
	margin-top: 11px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.smll {
	cursor: pointer;
}
.redfld {
	border: solid 1px #FF9999!important;
	background: #FFDDDD!important;
}
.formleft input[type=text], .formleft input[type=email], .formleft input[type=tel], .formleft select {
	width: 91.5%;
	height: 38px;
	background-color: #FFFFFF;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 0 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
}
.formleft .fldc input[type=text] {
	width: 20%;
	float: right;
}
.formleft select {
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 0 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
}
.formleft select.short {
	width: 150px;
}
.formleft select.small {
	width: 90px;
}
.formleft select option {
	padding: 8.5px 0 15px 0;
}
.formleft select option:last-child {
	padding: 8.5px 0 10px 0;
}
.formleft input[type=text].short {
	width: 70%;
}
.formright {
	float: left;
	width: 50%;
	color: #135683;
	padding: 50px;
	border-radius: 0 3px 3px 0;
}
.formright img {
	float: left;
	width: 105px;
	height: 105px;
	border-radius: 105px;
	margin-bottom: 20px;
	margin-right: 35px;
}
.formprice {
	width: 100%;
	margin-top: 20px;
	border: 1px solid #33a3dc;
	border-radius: 5px;
	padding: 15px 30px 20px 36px;
	color: #135683;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 900;
	line-height: 26px;
	line-height: 1.625rem;
}
.finalprice {
	color: #125482;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 1.2;
	letter-spacing: 1.2px;
	letter-spacing: 0.075rem;
	padding: 15px 0;
}
.finalpriced {
	float: left;
	width: 90px;
	color: #175f8e;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 15px;
	line-height: 0.938rem;
	padding-top: 17px;
}
.formsend {
	margin-top: 30px;
}
.formsend a {
	color: #175f8e;
}
.formagree {
	/* float: left;
	width: 40%; */
	color: #a5a5a5;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 15px;
	line-height: 0.938rem;
	padding-top: 10px;
	margin-top: 30px;
}
.formagree a {
	color: #333333;
}
.formsend button {
	width: 200px;
	float: right;
}
.formsend button[disabled] {
	background-color: #CBCBCB;
	cursor: default;
}
.formleft h3 {
	margin-top: 30px;
}
.igosel {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	background: #FFFFFF url("images/arr_down.png") 97% 12px no-repeat;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 7px 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
	cursor: pointer;
}
.igosel.sel {
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background: #FFFFFF url("images/arr_up.png") 97% 12px no-repeat;
}
.igodd {
	display: none;
	width: 100%;
	background: #FFFFFF;
	padding: 0;
	border: 2px solid #33a3dc;
	border-top: 1px solid #C8C8C8;
	border-radius: 0 0 5px 5px;
	color: #333333;
}
.igoset {
	padding: 10px 20px;
}
.igoset.faded {
	text-decoration: line-through;
}
.igoset input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.igotime {
	padding: 8px 20px;
	font-weight: 700;
}
.igo1 {
	background: #FFDDE6;
}
.igo2 {
	background: #DFFAAE;
}
.igo3 {
	background: #DCCFA0;
}
.prodsel {
	width: 100%;
	height: 40px;
	background: #FFFFFF url("images/arr_down.png") 97% 12px no-repeat;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 7px 15px;
	color: #000000;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
	text-align: left;
	cursor: pointer;
}
.prodsel.sel {
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background: #FFFFFF url("images/arr_up.png") 97% 12px no-repeat;
}
.proddd {
	display: none;
	position: absolute;
	text-align: left;
	width: 250px;
	background: #FFFFFF;
	padding: 0;
	border: 2px solid #33a3dc;
	border-top: 1px solid #C8C8C8;
	border-radius: 0 0 5px 5px;
	color: #333333;
}
.prodset {
	padding: 10px 20px;
}
.prodset.faded {
	text-decoration: line-through;
}
.prodset input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.chosen {
	padding: 20px;
	color: #333333;
}
.chitem {
	margin-top: 10px;;
}
.igonum {
	float: left;
	width: 30px;
}
.igodesc {
	float: left;
	width: calc(100% - 130px);
	padding-right: 20px;
}
.igodel {
	float: left;
	width: 100px;
	cursor: pointer;
}
.igodel span {
	color: #FF0000;
	margin-right: 7px;
}
.footer {
	width: 100%;
	min-height: auto;
	height: 10rem;
	background-color: #003c79;
	color: #FFFFFF;
	line-height: 25px;
	text-align: right;
	padding: 2rem 3.5rem;
}
.footer a {
	color: #FFFFFF;
}
sup {
	color: #FF0000;
	line-height: 8px;
}
.err {
	color: #FF0000;
	padding: 0 5px;
	line-height: 14px;
	margin-bottom: 40px;
}
.burger {
	display: none;
}
.ic {
	display: none;
}
.ib {
	display: block;
}
.on .ib {
	display: none;
}
.on .ic {
	display: block;
}
.right {
	left: auto;
	right: 0.5rem;
}
.right img {
	position: absolute;
	top: -250px;
	right: -170px;
}
.lefter {
	position: relative;
	height: 100px;
	pointer-events: none;
}
.lefter img {
	position: absolute;
	top: -100px;
	left: -320px;
}
.lnk {
	cursor: pointer;
	color: #333333;
	text-decoration: underline;
}
#pol {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	width: 90%;
	max-width: 1000px;
	height: 70%;
	background: #FFFFFF;
	border: solid 1px #666666;
	border-radius: 20px;
	padding: 50px 20px 20px 20px;
	z-index: 201;
}
#inpol {
	height: 100%;
	overflow-y: auto;
	color: #2b608d;
	padding: 20px;
}
#inpol h2 {
	color: #2b608d;
}
#inpol h4 {
	margin-top: 10px;
}
.close {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 27px;
	height: 27px;
	padding: 6px;
	cursor: pointer;
}
.red {
	color: #FF0000;
}
.eshort {
	padding-right: 10%;
}
.mask, .mask1 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
}
.mask1 {
	z-index: 11;
}
#bells {
	-webkit-animation: ring 8s 1s ease-in-out infinite;
	-webkit-transform-origin: 50% 4px;
	-moz-animation: ring 8s 1s ease-in-out infinite;
	-moz-transform-origin: 50% 4px;
	animation: ring 8s 1s ease-in-out infinite;
	transform-origin: 50% 4px;
}
@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(30deg); }
	3% { -moz-transform: rotate(-28deg); }
	5% { -moz-transform: rotate(34deg); }
	7% { -moz-transform: rotate(-32deg); }
	9% { -moz-transform: rotate(30deg); }
	11% { -moz-transform: rotate(-28deg); }
	13% { -moz-transform: rotate(26deg); }
	15% { -moz-transform: rotate(-24deg); }
	17% { -moz-transform: rotate(22deg); }
	19% { -moz-transform: rotate(-20deg); }
	21% { -moz-transform: rotate(18deg); }
	23% { -moz-transform: rotate(-16deg); }
	25% { -moz-transform: rotate(14deg); }
	27% { -moz-transform: rotate(-12deg); }
	29% { -moz-transform: rotate(10deg); }
	31% { -moz-transform: rotate(-8deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }

	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }

	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}
@-webkit-keyframes op {
	50% {opacity:1;}
	100% {opacity:0;}
}
@-moz-keyframes op {
	50% {opacity:1;}
	100% {opacity:0;}
}
@keyframes op {
	50% {opacity:1;}
	100% {opacity:0;}
}
.kavo img {
	width: 80%;
	margin: 0 auto;
}
.onmap {
	color: #444444;
}
.onmap h3 {
	color: #444444;
}
.prices {
	width: 49.4%;
	border: solid 1px #FFFFFF;
	padding: 0.5rem;
}
.prices_ {
	border: solid 1px #FFFFFF;
	padding: 3.3rem 2.4rem 2.3rem;
}
.prices_ span {
	display: block;
	width: 85%;
	font-size: 0.875rem;
}
.prices_ h2 {
	margin-bottom: 2.7rem;
	letter-spacing: 0.1rem;
}
.price {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}
.pr_title {
	width: 70%;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 2.5rem;
}
.prices_ h4 {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1rem;
	letter-spacing: 0.1rem;
}
.prices_image {
	position: absolute;
	bottom: 4rem;
	right: 3rem;
	width: 42.7rem;
	height: 23rem;
	opacity: 0.6;
	background-image: url("images/gal_4.jpg");
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: 92% 55%;
	z-index: -1;
}
.form_ {
	background-image: url('images/flow.png');
	background-position: 50% 50%;
	background-size: auto 100%;
	padding: 9.1rem 3.1rem;
}
.form_ h2 {
	margin-bottom: 3.82rem;
	margin-left: 3rem;
}
.openform {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 100px 0;
	color: #000000;
	z-index: 11;
}
.openform h2, .openform h3, .openform h4 , .openform h5 {
	color: #212121;
	margin-bottom: 1.5rem;
}
.openform_ {
	position: relative;
	width: 100%;
	text-align: center;
	background: transparent;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.openform h2 {
	color: #000000;
}
.formbox1 {
	position: relative;
	width: 595px;
	height: 369px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox1 h2 {
	color: #000000;
	margin-bottom: 50px;
}
.newform .uploaded {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
	color: #303030;
}
.newform h3 {
	color: #606d76;
	margin-bottom: 30px;
}
.newform input, .newform select, .newform textarea {
	float: left;
	width: calc(100% - 140px);
	height: 46px;
	font-size: 18px;
	padding: 0 8px;
	border-radius: 4px 0 0 4px;
	background-color: #f3f9fc;
	border-left: solid 2px #3a97cc;
	border-top: solid 2px #63c0f1;
	border-bottom: solid 2px #3a97cc;
}
.newform select {
	font-size: 16px;
}
.newform_link {
	text-align: right;
	margin: 10px 0;
}
.newform_link span {
	color: #333333;
	cursor: pointer;
	padding: 4px;
}
.newform_link span:hover {
	color: #000000;
}
.newform input.invalid {
	background-color: #FF9999;
}
.newform input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
	background-color: #f3f9fc;
	border-style: solid;
	border-width: 2px;
	border-image-source: linear-gradient(to bottom, #63bff0, #3a97cc);
	border-image-slice: 1;
}
.newform button {
	position: relative;
	float: left;
	width: 120px;
	height: 46px;
	border-radius: 0 5px 5px 0;
	font-size: 16px;
	padding-right: 30px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
}
.newform button:after {
	content: "→";
	position: absolute;
	top: 16px;
	right: 19px;
	color: #9bdcfe;
}
.formbox_close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
}
.formbox_close .shape1 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(45deg);
	-webkit-backface-visibility: hidden;
}
.formbox_close .shape2 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(-45deg);
	-webkit-backface-visibility: hidden;
}
.formbox_close:hover .shape1 {
	background-color: #909fb0;
}
.formbox_close:hover .shape2 {
	background-color: #909fb0;
}
.f_anim {
	position: absolute;
	display: table;
	opacity: 0;
	text-align: center;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
}
.at {
	display: inline;
	font-size: 28px;
	font-weight: 600;
	text-align: left;
	color: #47aadf;
	padding-right: 10px;
}
.arr {
	display: inline;
	font-size: 20px;
	line-height: 1.5;
	margin: 0 3px;
	color: #e7e7e7;
}
.dash {
	display: inline-block;
	width: 15px;
	height: 3px;
	margin: 13px 4px;
	background-color: #e7e7e7;
	-webkit-animation: arr 1s ease-in-out infinite;
	-moz-animation: arr 1s ease-in-out infinite;
	animation: arr 1s ease-in-out infinite;
}
.db {
	display: inline-block;
	width: 40px;
	margin-left: 10px;
}
.db div {
	float: left;
	height: 3px;	
}
.db1 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.1s ease-in-out infinite;
	-moz-animation: db 1.1s ease-in-out infinite;
	animation: db 1.1s ease-in-out infinite;
}
.db2 {
	width: 13px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1s ease-in-out infinite;
	-moz-animation: db 1s ease-in-out infinite;
	animation: db 1s ease-in-out infinite;
}
.db3 {
	width: 25px;
	margin: 1px 0;
	-webkit-animation: db 1.2s ease-in-out infinite;
	-moz-animation: db 1.2s ease-in-out infinite;
	animation: db 1.2s ease-in-out infinite;
}
.db4 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.5s ease-in-out infinite;
	-moz-animation: db 1.5s ease-in-out infinite;
	animation: db 1.5s ease-in-out infinite;
}
.db5 {
	width: 25px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1.2s ease-in-out infinite;
	-moz-animation: db 1.2s ease-in-out infinite;
	animation: db 1.2s ease-in-out infinite;
}
.db6 {
	width: 13px;
	margin: 1px 0;
	-webkit-animation: db 0.8s ease-in-out infinite;
	-moz-animation: db 0.8s ease-in-out infinite;
	animation: db 0.8s ease-in-out infinite;
}
.db7 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.1s ease-in-out infinite;
	-moz-animation: db 1.1s ease-in-out infinite;
	animation: db 1.1s ease-in-out infinite;
}
.db8 {
	width: 10px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1s ease-in-out infinite;
	-moz-animation: db 1s ease-in-out infinite;
	animation: db 1s ease-in-out infinite;
}
.db9 {
	width: 28px;
	margin: 1px 0;
	-webkit-animation: db 1.4s ease-in-out infinite;
	-moz-animation: db 1.4s ease-in-out infinite;
	animation: db 1.4s ease-in-out infinite;
}
.f_desc {
	color: #303030;
	margin: 5px 0;
}
@-webkit-keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@-moz-keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@-webkit-keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
@-moz-keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
@keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
.formmiddle {
	border: solid 1px #2575AA;
	padding: 0.5rem;
	color: #333333;
}
.formtable {
	border: solid 1px #2575AA;
	height: 13rem;
	padding: 0 8.7rem;
	color: #FFFFFF;
}
.formtable img {
	width: 6rem;
	height: 6rem;
	border-radius: 6rem;
	margin-right: 3.25rem;
}
.formtable button {
	background: none;
	transition: background 0.5s;
	border: solid 1px #FFFFFF;
	color: #FFFFFF;
	margin-left: auto;
	width: 27rem;
}
.formtable button:hover {
	border: solid 1px #EB7929;
	background-color: #EB7929;
}
.formtable a {
	display: inline-block;
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
	color: #EB7929;
}
.formtable a:hover {
	color: #FFFFFF;
}
.formtxt {
	padding-right: 16rem;
	line-height: 1.5;
}
.formbox2 {
	display: none;
	position: relative;
	width: 640px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox2 h2 {
	margin-bottom: 50px;
	color: #000000;
}
.form_msg {
	margin: 10px 0 20px 0;
	color: #CC2020;
	display: none;
	text-align: center;
}
.form_msg1 {
	margin: 10px 0 20px 0;
	color: #20CC20;
	display: none;
	text-align: center;
}
.formbox3 {
	display: none;
	position: relative;
	width: 640px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox4 {
	display: none;
	position: relative;
	width: 640px;
	padding-bottom: 80px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.newform_field {
	width: 100%;
	clear: both;
}
.newform_ttl {
	float: left;
	width: 24%;
	height: 50px;
	font-size: 15px;
	color: #616d76;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.newform_fld {
	float: left;
	width: 76%;
}
.newform_ttl.big {
	height: 78px;
}
.newform_flda {
	width: 100%;
	color: #606d76;
}
.exists {
	display: none;
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
	color: #3a97cc;
}
.wrong {
	display: none;
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
	color: #AA0000;
}
.newform_fld input, .newform_flda input, .newform_fld select, .newform_fld textarea {
	background-color: #FFFFFF;
	border-radius: 4px;
	border: solid 2px #cddee9;
	margin-bottom: 10px;
}
.newform_fld input:focus, .newform_flda input:focus, .newform_fld select:focus, .newform_fld textarea:focus {
	background-color: #f3f9fc;
	border-radius: 4px;
	border-left: solid 2px #3a97cc;
	border-top: solid 2px #63c0f1;
	border-bottom: solid 2px #3a97cc;
	border-right: solid 2px #63c0f1;
}
.newform_fld textarea {
	height: 120px;
}
.newform_fld button {
	width: calc(100% - 122px);
	height: 60px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
	padding: 0;
	transition: background 0.5s;
	margin-bottom: 0.5rem;
}
.newform_fld button:after {
	content: '';
}
.newform_fld button[disabled] {
	background-image: linear-gradient(to bottom, #DDDDDD, #AAAAAA);
}
.newform_fld img {
	float: left;
	margin-left: 10px;
	width: 48px;
	cursor: pointer;
}
::-webkit-input-placeholder {color:#95aab7;}
::-moz-placeholder          {color:#95aab7;}
:-moz-placeholder           {color:#95aab7;}
:-ms-input-placeholder      {color:#95aab7;}
.partbuts {
	color: #e3e3e3;
	line-height: 2.3;
}
.partbut {
	display: inline-block;
	padding: 8px 13px 6px 13px;
	border-radius: 100px;
	font-size: 13px;
	line-height: 1.54;
	text-align: left;
	color: #303030;
	margin: 0 15px;
	cursor: pointer;
}
.partbut:first-child {
	margin-left: 0;
}
.partbut.active {
	background-color: #e7f2f9;
}
hr.hr {
	margin: 25px -40px 40px -40px;
	width: calc(100% + 80px);
	height: 1px;
	border: none;
    color: #FFFFFF;
	background-color: #FFFFFF;
}
button.upload {
	border: none;
	width: 175px;
	height: 40px;
	border-radius: 5px;
    background-image: none;
	background-color: #f3f3f3;
	padding: 0;
	float: none;
	color: #606d76;
	font-size: 15px;
	margin-top: 30px;
	margin-left: 20px;
}
button.upload:after {
	content: '';
}

.tabbut {
	display: inline-block;
	padding: 8px 13px 6px 13px;
	height: 40px;
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 2px transparent;
	margin: 0 15px 30px 15px;
	cursor: pointer;
	font-size: 16px;
	line-height: 1.3;
	color: #3d3d3d;
}
.tabbut.active {
	border: solid 2px #2fd030;
}
.newform_reg {
	margin: 20px 0;
}
.newform_fldu {
	color: #3d3d3d;
}
.addyur {
	display: table;
	margin: 20px auto;
	font-size: 18px;
	text-align: left;
	line-height: 1.7;
	color: #23be24;
	cursor: pointer;
}
.addyur span {
	font-size: 30px;
	font-weight: 900;
	line-height: 1;
	display: inline-block;
	vertical-align: bottom;
	padding-right: 6px;
}
.addyur small {
	display: block;
	font-size: 12px;
	line-height: 2;
	color: #606d76;
}
.addyurform {
	margin: 0 -30px;
	padding: 30px;
	border-radius: 5px;
	background-color: #e7f1f8;
}
.addyurform small {
	display: block;
	clear: both;
	font-size: 13px;
	line-height: 0.6;
	margin-bottom: 15px;
	color: #23be24;
}
.addyurform button {
	float: none;
	width: calc(100% - 122px);
	height: 60px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
	padding: 0;
	margin-top: 30px;
	transition: background 0.5s;
}
.addyurform button:after {
	content: '';
}
.addyur_close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
}
.addyur_close .shape1 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(45deg);
	-webkit-backface-visibility: hidden;
}
.addyur_close .shape2 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(-45deg);
	-webkit-backface-visibility: hidden;
}
.addyur_close:hover .shape1 {
	background-color: #909fb0;
}
.addyur_close:hover .shape2 {
	background-color: #909fb0;
}
.notfound {
	margin-bottom: 30px;
}
.hidden {
	display: none;
}
.discount {
	padding: 20px 0 30px 0;
	color: #333333;
	font-size: 24px;
}
#discount {
	color: #3a97cc;
}
.moreprog {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
	width: 80%;
	max-width: 1250px;
	max-height: 80%;
	border-radius: 5px;
	text-align: left;
	background-color: #FFFFFF;
	color: #333333;
	padding: 80px 50px;
	overflow: auto;
	z-index: 21;
}
.moreprog h2, .moreprog h3 {
	line-height: 1.2;
	color: #3a97cc;
}
.form_error {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 12;
}
.form_error h3 {
	color: #333333;
}
.small {
	color: #333333;
	font-size: 12px;
	margin-bottom: 10px;
}
.mktime {
	display: none;
	max-width: 1250px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.21);
	padding: 6px 15px;
	margin: 0 auto 6px auto;
	color: #2b608d;
	font-size: 24px;
	text-align: center;
}
/* .superback, .superback1 {
    background: linear-gradient(45deg, #2C9A9A, #010931, #bc5b80, #2C9A9A, #010931, #bc5b80, #fadf8d);
    background-size: 1500% 20000px;
    -webkit-animation: Gradient 35s ease infinite;
    -moz-animation: Gradient 35s ease infinite;
    animation: Gradient 35s ease infinite;
    background: linear-gradient(45deg, #2C9A9A, #010931, #bc5b80, #2C9A9A, #010931, #bc5b80, #fadf8d);
    background-size: 1500% 20000px;
    -webkit-animation: Gradient 35s ease infinite;
    -moz-animation: Gradient 35s ease infinite;
    animation: Gradient 35s ease infinite;
}
*/
.superback_ {
    background-image: url("images/map-header-01.png");
    background-position: 0 -100px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 2473px 634px;
	display: flex;
	width: 100%;
	padding: 60px 0;
}
.superback1_ {
	display: flex;
	width: 100%;
	padding: 120px 0;
}
.superback_left {
	width: 40%;
}
.superback_right {
	font-weight: 700;
	text-align: left;
	width: 60%;
	padding-left: 30px;
}
.superback h2, .superback1 h2 {
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.superback h3, .superback1 h3 {
	color: #65cbc9;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.superback h1, .superback1 h1 {
	font-weight: 700;
    font-size: 75px;
	color: #ffffff;
    line-height: 75px;
    margin: 0;
    text-align: right;
    padding-right: 30px;
    border-right: 2px solid #65cbc9;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4), 0 4px 12px rgba(0,0,0,0.6);
}
.eng {
	position: absolute;
	right: 20px;
	top: 10px;
	padding: 8px 8px;
	width: 40px;	
	height: 40px;
	border: solid 1px #FFFFFF;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
	pointer-events: auto;
	cursor: pointer;
}
.eng:hover {
	color: #DFDF9F;
	border: solid 1px #DFDF9F;
}
.hidedesktop {
	display: none;
}
.menu ul li.hidedesktop {
	display: none;
}
@media only screen and (max-width: 1360px) {
	.mkcount {
		margin: 5px 0;
	}
}
@media only screen and (max-width: 1024px) {
	.eng {
		right: 50px;
	}
	.right {
		display: none;
	}
	.lefter {
		display: none;
	}
	.menu {
		right: 100px;
	}
	.pspeaker img {
		margin-bottom: 25px;
	}
	.pr_title {
		width: 50%;
		padding-top: 4px;
	}
	.pr_desc {
		width: 0%;
		padding-top: 16px;
		padding-left: 40px;
	}
	.button {
		padding-top: 5px;
	}
	h2 {
		font-size: 22px;
		font-size: 1.375rem;
	}
	.formleft .ttlc {
		width: 37%;
	}
	.formleft .fldc {
		width: 63%;
	}
	.formsend button {
		width: 160px;
	}
}
@media only screen and (max-width: 960px) {
	.mobmenu {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding-top: 80px;
		background: rgba(0, 60, 121, 0.9);
		border: solid 2px #FFFFFF;
		z-index: 200;
	}
	.close2 {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 36px;
		height: 36px;
		padding: 7px;
		cursor: pointer;
	}
	.mobmenu ul li {
		list-style-type: none;
		text-align: center;
		height: 60px;
	}
	.mobmenu ul li a {
		color: #FFFFFF;
		height: 60px;
		font-size: 28px;
		font-size: 1.75rem;
		font-weight: 900;
		letter-spacing: 0.6px;
		text-decoration: none;
		padding: 15px 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.menu ul li a:hover {
		color: #66CCFF;
	}
	.menu ul li.ch {
		color: #66CCFF;
	}
	.menu {
		right: 60px;
	}
	.progline {
		width: calc(50% - 127px);
	}
	.progtabs {
		width: 254px;
	}
	.progtab {
		width: 127px;
		font-size: 14px;
		font-size: 0.875rem;
		letter-spacing: 0.56px;
		letter-spacing: 0.035rem;
		padding-top: 13px;
	}
	.placeline {
		width: calc(50% - 127px);
	}
	.placetabs {
		width: 254px;
	}
	.placetab {
		width: 127px;
		font-size: 14px;
		font-size: 0.875rem;
		letter-spacing: 0.56px;
		letter-spacing: 0.035rem;
		padding-top: 13px;
	}
	.txt {
		width: 90%;
	}
	.prog {
		width: calc(100% - 20px);
		min-height: 0;
		padding: 15px 20px;
		background-image: url("images/arr_mob.png");
		background-position: 94% 20px;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.prog.open {
		background-image: url("images/arr_mob1.png");
	}
	.event1 {
		display: block;
	}
	.pspeaker {
		display: none;
	}
	.event {
		display: none;
	}
	.dt {
		display: none;
	}
	.psimg {
		width: 100px;
		margin-right: 0;
	}
	.psimg img {
		width: 80px;
		height: 80px;
		margin-right: 0;
		border: 1px solid #c2c2c2;
		border-radius: 80px;
		margin-bottom: 20px;
	}
	.psd {
		float: left;
		width: calc(100% - 130px);
		text-align: left;
		padding-top: 15px;
		color: #175f8e;
		font-size: 12px;
		font-size: 0.75rem;
	}
	.psd span {
		color: #175f8e;
		font-size: 40px;
		font-size: 2.5rem;
		font-weight: 300;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.speakersdiv {
		width: 100%;
		overflow: hidden;
	}
	.arrright {
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 5px;
		cursor: pointer;
	}
	.arrleft {
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 5px;
		cursor: pointer;
	}
/*
 	.spbullets {
		display: table;
		margin: 20px auto;
	}
*/	
	.pr_title {
		width: 100%;
	}
	.pr_desc {
		width: 100%;
		padding-left: 0;
	}
	.button {
		width: 100%;
		text-align: center;
	}
	.button button {
		width: 100%;
		background-color: #38c2dc;
		color: #FFFFFF;
	}
	.gallery, .gallery1 {
		width: calc(100% - 20px);
		height: auto;
	}
	.seminar h1.h1 {
		font-size: 50px;
		line-height: 38px;
	}
	.seminar h1.h1 span {
		font-size: 40px;
	}
	.seminar h2.h2 {
		font-size: 20px;
	}
	.seminar h2.h2 span {
		font-size: 22px;
	}
	.seminar h3.h3 {
		font-size: 18px;
	}
	.seminar {
		height: auto;
		background-position: 60% 50%;
	}
	hr {
		width: calc(100% - 20px);
	}
	hr.between {
		display: none;
	}
	.map {
		height: 300px;
	}
	#map {
		height: 300px;
	}
	.formbox {
		width: calc(100% - 20px);
		height: auto;
	}
	.formleft {
		width: 100%;
		padding: 20px;
		border-radius: 3px 3px 0 0;
	}
	.formright {
		width: 100%;
		border: solid 2px #FFFFFF;
		border-radius: 0 0 3px 3px;
		padding: 20px;
	}
	.formright img {
		margin-right: 20px;
	}
	.formprice {
		height: auto;
		padding: 15px;
	}
	.finalprice {
		width: 50%;
		font-size: 24px;
		font-size: 1.5rem;
	}
	.finalprice {
		width: 50%;
	}
	.formagree {
		width: 100%;
	}
	.container {
		background-size: auto 505px;
	}
	.formsend {
		width: 100%;
	}
	.formsend button {
		margin-top: 30px;
		width: 100%;
	}
	.ttl {
		display: none;
	}
	.formleft .fld {
		width: 100%;
	}
	.formleft .fld input {
		width: 86%;
	}
	.formleft .ttlc {
		display: none;
	}
	.formleft .fldc {
		width: 100%;
	}
	.formleft .fldc .code input[type=text] {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 100%;
	}
	.mkcount {
		display: block;
		margin: 20px 0 0 0;
	}
	.igo {
		position: relative;
		right: 0;
		margin: 10px 0;
	}
	.formbox3 {
		padding: 30px 15px;
	}
	.prog_text_ {
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
	h1 {
		font-size: 32px;
		line-height: 1.4;
	}
	.arrleft, .arrright {
		top: 160px;
	}
	.seminar h1.h1 {
		font-size: 40px;
		line-height: 36px;
		margin-bottom: 30px;
	}
	.seminar h1.h1 span {
		font-size: 32px;
	}
	.seminar h2.h2 {
		font-size: 18px;
	}
	.seminar h2.h2 span {
		font-size: 22px;
	}
	.seminar h3.h3 {
		font-size: 16px;
		margin-bottom: 30px;
	}
	.prog_text_ {
		font-size: 18px;
	}
	.main {
		margin-top: 0;
	}
	.formleft .ttla {
		width: 77%;
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 13px;
		line-height: 0.813rem;
	}
	.formleft .flda {
		width: 23%;
		text-align: center;
	}
	.formleft .flda select.small {
		width: 60px;
	}
	#left {
		top: 40px;
		left: -140px;
		margin-left: 0;
	}
	#right {
		top: 0;
		right: -200px;
		margin-left: 0;
	}
	#bells {
		top: 440px;
	}
	.smll {
		font-size: 13px;
	}
	.hdr {
		display: none;
	}
	.mhide {
		display: none;
	}
}
@media only screen and (max-width: 960px) {
	.newform_ttl {
		width: 35%;
	}
	.newform_fld {
		width: 65%;
	}
	.formmiddle img {
		float: none;
	}
	.addyurform button {
		width: 100%;
	}
	.newform_fld button {
		width: 100%;
	}
	.newform input, .newform select, .newform textarea {
		width: 88%;
		border-radius: 4px;
		border-left: solid 2px #3a97cc;
		border-top: solid 2px #63c0f1;
		border-bottom: solid 2px #3a97cc;
		border-right: solid 2px #63c0f1;
	}
	.newform button {
		width: 100%;
		border-radius: 5px;
		float: none;
		margin-top: 20px;
	}
	.f_anim {
		display: none;
	}
	.formbox1 {
		height: auto;
	}
	.formbox2 {
		height: auto;
		padding: 20px;
	}
	.newform_fld img {
		display: none;
	}
	.superback_, .superback1_ {
		display: block;
		padding: 20px 0;
		height: 505px;
	}
	.superback_left {
		width: 100%;
		text-align: left;
		padding-left: 30px;
	}
	.superback h1, .superback1 h1 {
		border: none;
		font-size: 60px;
		margin-bottom: 40px;
		text-align: left;
	}
	.superback_right {
		width: 100%;
	}
}
@-webkit-keyframes Gradient {
 0% {
 background-position: 0% 50%
}
 50% {
 background-position: 100% 50%
}
 100% {
 background-position: 0% 50%
}
}
 @-moz-keyframes Gradient {
 0% {
 background-position: 0% 50%
}
 50% {
 background-position: 100% 50%
}
 100% {
 background-position: 0% 50%
}
}
 @keyframes Gradient {
 0% {
 background-position: 0% 50%
}
 50% {
 background-position: 100% 50%
}
 100% {
 background-position: 0% 50%
}
}
.nointerval {
	margin-bottom: 0;
}
iframe {
	max-width: 100%;
}
.captcha_err {
	display: none;
	color: #FF6660;
	font-size: 15px;
}
.g-recaptcha {
	display: inline-block;
	margin-top: 15px;
}
.centered {
	text-align: center;
}
#discounts {
	display: none;
}
.semitransp {
	opacity: 0.3;
}
.places_left {
	color: #333333;
	text-align: center;
	padding: 15px 0;
}
.up {
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background-color: rgba(107, 107, 134, 0.3);
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	transition: background 0.5s;
}
.up:hover {
	background-color: rgba(107, 107, 134, 0.8);
}
.up.vis {
	display: block;
}
@media (orientation: portrait) and (max-width:1000px) {
  .up {
	  display: none;
  }
  .hidedesktop {
	display: block;
  }
  .flex {
    -ms-flex-flow:wrap;
	flex-flow:wrap
  }
  .burger {
	display: block;
	position: fixed;
	right: 1rem;
	padding: 1rem;
  }
  .header {
	height: 4.75rem;
  }
  .header button {
	  display: none;
  }
  .menu ul li button {
	display: block;
	position: relative;
	top: auto;
	right: auto;
	margin-top: 1rem;
  }
  .logo img {
	height: 2.175rem;
	padding-left: 1.175rem;
  }
  .menu {
	  display: none;
  }
  .section {
	  padding: 1.2rem;
	  height: auto!important;
  }
  .top {
	padding-bottom: 54rem;
	background-image: url('images/backm1.png');
	background-position: 50% 100%;
	position: relative;
  }
  .top button {
	  position: absolute;
	  top: auto;
	  right: auto;
	  bottom: 1rem;
	  left: 50%;
	  transform: translateX(-50%);
  }
  .on_left {
	top: 5rem;
  }
  .top h1, .top h2, .top h3, .top h4 {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	text-align: left;
  }
  .top h1 {
	font-size: 2rem;
	line-height: 1;
	margin-bottom: 1rem;
  }
  .top h3 {
	font-size: 1.15rem;
	margin-bottom: 1rem;
  }
  .top h3 span {
	font-size: 1.225rem;
	font-weight: 400;
  }
  .top h2 {
	font-size: 1.15rem;
	margin-bottom: 3rem;
  }
  .top h2 span {
	font-size: 1.15rem;
  }
  .top h4 {
	font-size: 1.15rem;
	margin-bottom: 1rem;
  }
  .top h4 time {
	font-size: 1.15rem;
  }
  .top h4 time span {
	font-size: 2.3rem;
  }
  .on_right {
	  padding: 0;
  }
  .quote_sign {
	  left: auto;
	  top: auto;
	  bottom: 1.6rem;
	  right: 2.4rem;
  }
  .speakers {
	padding-top: 2rem;
	padding-bottom: 22rem;
	background-image: url('images/backm2.png');
	background-position: 50% 100%;
	background-size: 100% auto;
	background-repeat: no-repeat;
  }
  .quote {
	  padding: 1rem;
	  position: fixed;
  }
  .prog_third_ {
	  width: 100%;
	  padding: 1rem;
  }
  .prog_third_:last-child {
	  border: none;
  }
  .price_div {
	  padding-bottom: 12rem;
  }
  .prices {
	  width: 100%;
  }
  .prices_ {
	  padding: 1rem;
  }
  .prices_image {
	  bottom: 1rem;
	  right: 0;
	  margin-top: -2rem;
	  width: 90%;
	  height: 12rem;
  }
  .place {
	  padding: 0;
  }
  .footer {
	  padding: 1rem;
  }
  #map {
	height: 40rem;  
  }
  .formtable {
	  padding: 2.75rem 1.5rem;
	  height: auto;
  }
  .formtable > * {
	  width: 100%;
  }
  .formtable img {
	  margin: 0;
	  margin-bottom: 2rem;
  }
  .formtable button {
	  margin-top: 3rem;
	  margin: 3rem auto 0 auto;
	  width: 12rem;
  }
  .formtxt {
	  padding: 0;
	  font-size: 1.25rem;
  }
  .menu {
	position: fixed;
	top: 0;
	left: 0;
	height: auto;
	background-color: #181842;
	padding: 3.5rem;
	margin-left: 0;
	width: 100%;
  }
  .menu ul li {
	  display: block;
	  font-size: 1.25rem;
  }
  .aniback {
	  display: none;
  }
  .speaker_about {
	  margin-bottom: 1rem;
  }
}
