@font-face {
	font-family: 'Conv_AvenirNextCyr';
	src: url('fonts/AvenirNextCyr-Bold.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Bold.woff') format('woff'), url('fonts/AvenirNextCyr-Bold.ttf') format('truetype'), url('fonts/AvenirNextCyr-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr';
	src: url('fonts/AvenirNextCyr-Medium.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Medium.woff') format('woff'), url('fonts/AvenirNextCyr-Medium.ttf') format('truetype'), url('fonts/AvenirNextCyr-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr';
	src: url('fonts/AvenirNextCyr-Regular.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Regular.woff') format('woff'), url('fonts/AvenirNextCyr-Regular.ttf') format('truetype'), url('fonts/AvenirNextCyr-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
/* ------------------- clear ----------------- */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	background: transparent;
	outline: none;
	-webkit-appearance: none;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, span {
	vertical-align: baseline;
}
img {
	max-width: 100%;
	vertical-align: top;
	text-decoration: none;
}
strong {
	font-weight: 700;
}
div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* -------------------- general styles ------------------- */
html, body {
	width: 100%;
	height: 100%;
}
html {
	font-size: 100%;
}
body {
	position: relative;
	height: auto;
	min-height: 100%;
	font-family: 'Conv_AvenirNextCyr', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 24px;
	line-height: 1.5rem;
	font-style: normal;
	color: #252525;
	background: #ffffff;
}
body.hold {
	overflow-y: hidden;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	/* margin: 1% 0 1% 1.6%; */
	margin: 0 0 0 1.6%;
}
.col:first-child {
	margin-left: 0;
}
/*  GROUPING  */
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
/*  GRID OF TWO */
.span_1_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}
/*  GRID OF FOUR */
.span_4_of_4 {
	width: 100%; 
}
.span_3_of_4 {
	width: 74.6%; 
}
.span_2_of_4 {
	width: 49.2%; 
}
.span_1_of_4 {
	width: 23.8%; 
}
/*  GRID OF FIVE */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
  	width: 79.68%; 
}
.span_3_of_5 {
  	width: 59.36%; 
}
.span_2_of_5 {
  	width: 39.04%;
}
.span_1_of_5 {
  	width: 18.72%;
}
/*  GRID OF SIX */
.span_6_of_6 {
	width: 100%;
}
.span_5_of_6 {
  	width: 83.06%;
}
.span_4_of_6 {
  	width: 66.13%;
}
.span_3_of_6 {
  	width: 49.2%;
}
.span_2_of_6 {
  	width: 32.26%;
}
.span_1_of_6 {
  	width: 15.33%;
}
.hidden {
	display: none;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}
@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
	.span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%; 
	}
	.span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%; 
	}
}
p {
	font-family: 'Conv_AvenirNextCyr', sans-serif;
	font-size: 16px;
	font-size: 1rem;	
}
h1 {
	font-size: 52px;
	font-size: 3.25rem;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 1.1;
}
h2 {
	font-size: 44px;
	font-size: 2.75rem;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 1.1;
}
h2 span {
	color: #327ACD;
}
h3 {
	font-size: 28px;
	font-size: 1.75rem;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 1.15;
}
h4 {
	font-size: 18px;
	font-size: 1.125rem;
    line-height: 1.375;
    margin-bottom: 4rem;}
h5 {
	font-size: 1rem;
	font-weight: 700;
	color: #FFFFFF;
}
h6 {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 500;
}
a {
	color: #FFFFFF;
	text-decoration: underline;
}
a:hover {
	color: #BBBBDD;
	text-decoration: none;
}
select {
	font-family: 'Conv_AvenirNextCyr', sans-serif;
}
input, select, textarea {
	color: #303030;
}
button {
	font-family: 'Conv_AvenirNextCyr', sans-serif;
	color: #327ACD;
	font-size: 16px;
	font-size: 1rem;
	border: none;
	outline: none;
	transition: color 0.3s, opacity 0.3s;
	cursor: pointer;
}
button:hover {
	opacity: 0.97;
	color: #769ecc;
}
hr {
	display: block;
	width: calc(100% - 4rem);
	height: 1px;
	border: none;
    height: 1px;
    color: #FFFFFF;
    background-color: #FFFFFF;
	margin: 5px auto;
}
hr.between {
	float: left;
	width: 100%;
}
hr.blue {
	width: 100%;
	height: 1px;
	border: none;
    height: 1px;
    color: #C4C4C4;
    background-color: #C4C4C4;
	margin: 5px auto 20px auto;
}
.flex,.flex-wrap{display:-ms-flexbox;display:flex}
.flex-wrap{-ms-flex-flow:wrap;flex-flow:wrap}
.flex-vbottom,.flex-vcenter{display:-ms-flexbox;display:flex;-ms-flex-align:end;align-items:flex-end}
.flex-vcenter{-ms-flex-align:center;align-items:center}
.flex-hcenter,.flex-vhcenter{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center}
.flex-vhcenter{-ms-flex-align:center;align-items:center}
.left {
	float: left;
}
.to1000 {
	margin: 0 auto;
	width: 1000px;
}
.to960 {
	margin: 0 auto;
	width: 960px;
}
.section {
	text-align: center;
}
.container {
	width: 100%;
}
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-height: 80%;
	overflow: auto;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 20;
}
.popup h3 {
	color: #333333;
}
.popup button {
	display: block;
	margin: 20px auto -40px auto;
	background-color: transparent;
	background-image: url("images/btn1.png");
	background-repeat: no-repeat;
	width: 242px;
	height: 103px;
	padding-bottom: 35px;
	font-weight: 700;
}
.popup a {
	color: #333333;
}
.top {
	background-image: url("images/back1.jpg");
	background-size: cover;
	padding-top: 100px;
	height: 100vh;
}
.header button {
	background-color: transparent;
	background-image: url("images/btn1.png");
	background-repeat: no-repeat;
	width: 242px;
	height: 103px;
	padding-bottom: 35px;
	font-weight: 700;
	margin-top: 30px;
}
.header {
	width: 100%;
	height: 100px;
	-ms-flex-pack:space-around;
	justify-content:space-around;
	position: fixed;
	top: 0;
	z-index: 5;
}
.header.out {
	background: rgba(0, 0, 0, 0.4);
}
.header:hover {
	opacity: 1;
}
.header img {
	width: auto;
	max-width: none;
}
.baseinfo {
	padding: 9rem 1.25rem;
	/* height: 78.23529411764706vw; */
	overflow: hidden;
	background-image: url("images/back2.jpg");
	transition: background 0.5s;
	background-position: 0 0;
	background-size: 100% auto;
}
.baseinfo.fixed {
	background-attachment: fixed;
	/* background-position: 0 50px; */
}
.programm_h2 {
	width: 34%;
	text-align: left;
	padding-left: 4rem;
}
.programm_h2 h2 {
	margin-top: -1.2rem;
}
.programm_self {
	width: 66%;
}
.mobmenu {
	display: none;
}
.mobmenu button {
	display: block;
	margin: 20px auto -40px auto;
	background-color: transparent;
	background-image: url("images/btn1.png");
	background-repeat: no-repeat;
	width: 242px;
	height: 103px;
	padding-bottom: 35px;
	font-weight: 700;
}
.menu {
	display: table;
}
.menu ul {
	display: table-row;
	height: 40px;
}
.menu ul li {
	display: table-cell;
	list-style-type: none;
	height: 40px;
}
.menu ul li a {
	color: #FFFFFF;
	display: inline-block;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: 0.6px;
	text-decoration: none;
	padding: 8px 35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.menu ul li a:hover {
	color: #66CCFF;
}
.menu ul li.ch a {
	color: #66CCFF;
}
.seminar {
	width: 100%;
	height: 100%;
	color: #7BB0FF;
	text-align: left;
}
.owl {
	width: 32.5%;
	position: relative;
	overflow: hidden;
}
.owl img {
	position: absolute;
	bottom: 0;
}
.h1 {
	width: 40%;
	padding-top: 10%;
	font-size: 2.75rem;
	font-weight: 700;
}
.h1 h1 {
	margin: 20px 0 50px 0;
	padding-right: 7%;
}
.h3 h3 {
	padding-right: 10%;
	margin: 15px 0 50px 0;
}
.h1 h1 span {
	color: #7BB0FF;
}
.h3 {
	width: 27.5%;
	padding-top: 10.3%;
	font-size: 1.875rem;
	font-weight: 700;
}
.main {
	background-image: url("images/back3.jpg");
	background-repeat: repeat-y;
	background-size: 100% auto;
}
.first {
	margin-top: -70px;
	width: 100%;
}
.txt {
	color: #FFFFFF;
}
.progtabbs {
	margin-top: 30px;
	width: 100%;
	height: 27px;
	margin-bottom: 50px;
}
.progline {
	float: left;
	width: calc(50% - 236px);
	border-bottom: solid 2px #FFFFFF;
}
.progtabs {
	float: left;
	width: 472px;
	height: 55px;
	margin-top: -26px;
	border: solid 2px #FFFFFF;
	border-radius: 51px;
}
.progtab {
	float: left;
	width: 236px;
	height: 51px;
	border-radius: 51px;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 0.8px;
	padding-top: 13px;
	color: #164476;
	cursor: pointer;
	-webkit-transition: border 0.6s, background 0.6s, color 0.6s;
	transition: border 0.6s, background 0.6s, color 0.6s;
}
.progtab.sel {
	background: #FFFFFF;
	color: #2B94D3;
}
.progtab:first-child {
	margin-left: -2px;
}
.progtab:last-child {
	margin-right: -2px;
}
.progs_cont {
	width: 100%;
	margin-bottom: 30px;
}
.progspace {
	width: 100%;
	height: 20px;
}
.prog1 {
	width: 70%;
	margin-left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	background: #FFFFFF;
	color: #FF6666;
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.prog2 {
	width: 80%;
	margin-left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	background: #FFFFFF;
	color: #FF6666;
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.prog2 h3 {
	color: #FF6666;
	font-weight: 700;
}
.prog2 img {
	max-width: 100%;
	margin: 0 35px;
}
.progs {
	width: calc(100% - 4rem);
	max-width: 1250px;
}
.prog {
	display: flex;
	justify-content: flex-start;
	/* align-items: center; */
	background: rgba(255, 255, 255, 0.96);
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.21);
	padding: 0.625rem 0;
	margin-bottom: 0.375rem;
	color: #2b608d;
	text-align: left;
}
.prog.faded {
	opacity: 0.6;
}
.prog h4, .prog h5 {
	color: #3e3e3e;
}
.event1 {
	display: none;
}
.event2 {
	display: none;
	padding-top: 20px;
}
.pspeaker {
	display: flex;
	justify-content: flex-start;
	/* align-items: center; */
	width: 25%;
	/* min-height: 100px; */
	padding: 0 2% 0 3%;
	color: #858686;	
	/* border-right: 1px solid #c2c2c2; */
	font-size: 14px;
	font-size: 0.813rem;
	font-weight: 300;
	line-height: 20px;
	line-height: 1.25rem;
}
.psimg {
	display: none;
	width: 40%;
	margin-right: 7%;
}
.psimg img {
	width: 105px;
	height: 105px;
	margin-right: 35px;
	/* border: 5px solid rgb(56,54,120); */
	border: 1px solid #c2c2c2;
	border-radius: 105px;
}
.psd {
	position: relative;
}
.psd h4 {
	margin-bottom: 0;
}
.event {
	position: relative;
	width: 75%;
	height: 100%;
	/* min-height: 110px; */
	/* border-left: 1px solid #c2c2c2; */
	/* border-right: 1px solid #c2c2c2; */
	padding: 0 140px 0 44px;
}
/* .event .mkcount { */
	/* display: none; */
/* } */
.event time {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
}
.event1 time {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
}
.event button, .event1 button {
	font-size: 14px;
	font-size: 0.825rem;
	font-weight: 500;
	letter-spacing: 0.55px;
	letter-spacing: 0.034rem;
	color: #FFFFFF;
	padding-bottom: 1px;
	background-color: #42b8f5;
	border-radius: 26px;
	margin-left: 20px;
	margin-bottom: 6px;
	padding: 5px 10px;
	cursor: pointer;
}
.event2 button {
	width: 120px;
	height: 26px;
	font-size: 11px;
	font-size: 0.688rem;
	font-weight: 500;
	letter-spacing: 0.55px;
	letter-spacing: 0.034rem;
	color: #FFFFFF;
	padding-bottom: 1px;
	background-color: #42b8f5;
	border-radius: 26px;
	margin-top: 15px;
	cursor: default;
}
.event img {
	position: absolute;
	top: 5px;
	right: 15px;
	padding: 5px;
	cursor: pointer;
}
.eshort {
	font-size: 18px;
	padding-right: 10%;
}
.prog_mk .eshort {
	padding-bottom: 30px;
}
.eshort a {
	color: #42b8f5;
}
.elong {
	display: none;
	font-size: 14px;
	font-size: 0.875rem;
	padding-top: 20px;
	padding-bottom: 40px;
}
.eshort2 {
	font-size: 18px;
	padding-right: 10%;
	height: 90px;
}
.eshort2 a {
	color: #42b8f5;
}
.elong2 {
	font-size: 14px;
	font-size: 0.875rem;
	padding-bottom: 20px;
}
.mkcount {
	display: inline-block;
	/* margin-left: 20px; */
	/* margin-top: -6px; */
	margin-bottom: 6px;
	width: 190px;
	height: 40px;
	border-radius: 20px;
	border: solid 1px #42b8f5;
	padding: 8px 4px;
	text-align: center;
}
.igo {
	position: absolute;
	bottom: 0;
	right: 45px;
	padding: 10px 26px;
}
input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.igo.sel {
	border: solid 1px #2ECB81;
}
.igo.sel label {
	color: #2ECB81;
}
.dt {
	width: 14%;
	text-align: center;
	color: #175f8e;
	line-height: 19px;
	line-height: 1.188rem;
	
}
.dt span {
	color: #175f8e;
	font-size: 60px;
	font-size: 3.75rem;
	font-weight: 300;
	line-height: 72px;
	line-height: 4.5rem;
}
.dt img {
	position: absolute;
	top: 20px;
	right: 44px;
	cursor: pointer;
}
.mobile {
	display: none;
}
.spec {
	color: #FFFFFF;
	cursor: pointer;
}
.spec:hover {
	color: #cacaca;
}
.spec_desc {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-height: 80%;
	overflow: auto;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 20;
}
.spec_desc h4 {
	color: #666666;
}
.spec_desc h2 {
	color: #333333;
}
.spec_desc a {
	color: #42b8f5;
}
.spec_desc a span {
	font-size: 140%;
}
.spec_desc p {
	margin: 15px 0;
}
.speakers {
	padding: 7rem 1.25rem;
}
.speakers_h2 {
	width: 34%;
	text-align: left;
	padding-left: 4rem;
}
.speakers_h2 h2 {
	margin-top: -1.2rem;
}
.speakers_self {
	width: 66%;
}
.speaker {
	width: 23%;
	margin: 0 2% 2% 0;
	font-size: 15px;
	font-weight: 300;
	font-size: 0.9375rem;
	line-height: 20px;
	line-height: 1.25rem;
	text-align: center;
	cursor: pointer;
}
.speaker_desc {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-height: 80%;
	overflow: auto;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 20;
}
.speaker_desc h4 {
	color: #333333;
	margin-bottom: 1rem;
	font-size: 2rem;
}
.speaker_desc a {
	color: #333333;
}
.speaker_desc p {
	margin: 15px 0;
}
.speakerdata {
	margin: 0 auto;
	/* padding: 0 20px; */
	text-align: left;
	font-weight: 700;
}
.speakerdata h4 {
	text-align: center;
	color: #FFFFFF;
}
.speaker img {
	width: 100%;
	margin-bottom: 20px;
	cursor: pointer;
	transition: transform 0.5s;
}
.speaker img:hover {
	transform: scale(1.05);
}
.speakersdiv {
	position: relative;
	width: calc(100% - 4rem);
	max-width: 1250px;
}
.speakers span.link, .speakers1 span.link {
	cursor: pointer;
	text-decoration: underline;
}
.speakers span.link:hover, .speakers1 span.link:hover {
	text-decoration: none;
}
.arrright {
	display: none;
	position: absolute;
	top: 200px;
	right: 20px;
}
.arrleft {
	display: none;
	position: absolute;
	top: 200px;
	left: 20px;
}
.spbullets {
	display: none;
}
.spbullet {
	float: left;
	width: 6px;
	height: 6px;
	border: 2px solid transparent;
	border-radius: 6px;
	margin-top: 2px;
	margin-right: 12px;
	background-color: #FFFFFF;
	cursor: pointer;
}
.spbullet.active {
	width: 10px;
	height: 10px;
	margin-top: 0;
	border: 2px solid #fff;
	background-color: #24c0f2;
}
.prices {
	padding: 5.6rem 1.25rem;
	color: #FFFFFF;
	font-size: 0.875rem;
	line-height: 1.4;
}
.prices_h2 {
	width: 34%;
	text-align: left;
	padding-left: 4rem;
}
.prices_self {
	width: 66%;
	text-align: left;
}
.prices_split {
	margin-top: 2rem;
}
.prices_discount {
	margin-top: 2rem;
}
.price {
	width: 50%;
	color: #ffffff;
	font-size: 2rem;
	font-weight: 700;
}
.price.opa {
	opacity: 0.6;
}
.price.opa a {
	cursor: default;
}
.price.opa button {
	cursor: default;
}
.price.opa button:hover {
	background: #FFFFFF;
	color: #2b608d;
	border: 1px solid #38c2dc;
}
.pr_title {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	padding-right: 30%;
}
.pr_desc {
	font-size: 13px;
	font-size: 0.813rem;
	line-height: 22px;
	line-height: 1.375rem;
	padding-top: 11px;
}
.prices_left {
	width: 57%;
}
.prices_right {
	width: 43%;
}
.prices_left .txt {
	padding-right: 10%;
}
.prices_right h5 {
	font-size: 0.875rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.prices button {
	background-color: transparent;
	background-image: url("images/btn2.png");
	background-repeat: no-repeat;
	width: 288px;
	height: 102px;
	padding-bottom: 35px;
	font-weight: 700;
	margin-top: 2rem;
	margin-left: -21px;
	margin-bottom: -3rem;
}
.button {
	float: left;
	width: 20%;
	text-align: right;
}
.button button {
	width: 80%;
	height: 40px;
	background-color: #FFFFFF;
	border: 1px solid #38c2dc;
	border-radius: 4px;
	color: #125482;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 17px;
	line-height: 1.063rem;
}
.button button:hover {
	color: #FFFFFF;
	background-color: #38c2dc;
	border: 0.125rem solid #38c2dc;
}
.button button:disabled {
	background: #DDDDDD;
	color: #666666;
	border: 1px solid #333333;
	border: 0.125rem solid #333333;
	cursor: default;
}
.button button:disabled:hover {
	background: #DDDDDD;
	color: #666666;
}
.places {
	margin-top: 65px;
	width: 100%;
	height: 27px;
	margin-bottom: 50px;
}
.place {
	padding-left: 1.25rem;
}
.place_h2 {
	width: 34%;
	text-align: left;
	padding-left: 4rem;
}
.place_h2 h2 {
	margin-top: -1.2rem;
	margin-bottom: 2rem;
}
.place_h2 h4 {
	color: #FFFFFF;
	width: 80%;
}
.hrtop {
	margin: 0;
	width: calc(100% - 7rem);
	margin-bottom: 7rem;
}
.hrbottom {
	margin: 0;
	width: calc(100% - 7rem);
	margin-top: 7rem;
}
.place_self {
	width: 66%;
}
.placeline {
	float: left;
	width: calc(50% - 236px);
	border-bottom: solid 2px #FFFFFF;
}
.placetabs {
	float: left;
	width: 472px;
	height: 55px;
	margin-top: -26px;
	border: solid 2px #FFFFFF;
	border-radius: 55px;
}
.placetab {
	float: left;
	width: 236px;
	height: 51px;
	border-radius: 51px;
	font-size: 20px;
	font-size: 1.25rem;
	letter-spacing: 0.8px;
	padding-top: 13px;
	color: #164476;
	cursor: pointer;
	-webkit-transition: border 0.6s, background 0.6s, color 0.6s;
	transition: border 0.6s, background 0.6s, color 0.6s;
}
.placetab.sel {
	background: #FFFFFF;
	color: #2B94D3;
}
.placetab:first-child {
	margin-left: -2px;
}
.placetab:last-child {
	margin-right: -2px;
}
.gallery {
	position: relative;
	width: 807px;
	margin: 0 auto;
	border: 5px solid #FFFFFF;
	height: 348px;
	overflow: hidden;
}
.gal_slider, .gal_slider1 {
	width: 9999px;
	height: 100%;
}
.gal_slide {
	float: left;
	width: 797px;
	height: 100%;
}
.gal_slide img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}
.gal_navs {
	position: absolute;
	top: 270px;
	left: 50%;
	margin-left: -50px;
	display: table;
	width: 102px;
}
.gal_nav {
	display: table-cell;
	width: 51px;
	height: 61px;
	text-align: left;
	padding: 10px;
	cursor: pointer;
}
.gal_nav:hover {
	background: rgba(0, 0, 0, 0.3);
}
.gal_nav:last-child {
	text-align: right;
}
.map {
	width: 100%;
	height: 100%;
}
#map {
	width: 100%;
	height: 100%;
}
.formbox {
	display: none;
	width: calc(100% - 4rem);
	max-width: 1250px;
	margin: 0 auto 60px auto;
	border-radius: 5px;
	text-align: left;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
}
.formleft {
	float: left;
	width: 50%;
	background-image: url("images/fback.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px;
	border-radius: 3px 0 0 3px;
}
.formleft .ttl {
	float: left;
	width: 28%;
	height: 50px;
	font-size: 14px;
	line-height: 15px;
	padding-top: 7px;
}
.formleft .fld {
	float: left;
	width: 72%;
	height: 50px;
	text-align: right;
}
.formleft .ttlc {
	float: left;
	width: 28%;
	height: 80px;
	line-height: 26px;
}
.formleft .fldc {
	float: left;
	width: 72%;
	height: 80px;
	text-align: right;
}
.formleft .uploaded {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
}
.captcha {
	width: 43%;
}
.code {
	width: 57%;
}
.formleft .ttla {
	float: left;
	width: 70%;
	padding-right: 20px;
	font-size: 14px;
	padding-top: 6px;
	margin-bottom: 10px;
}
.formleft .double {
	padding-top: 3px;
	line-height: 16px;
}
.formleft .flda {
	float: left;
	width: 30%;
	text-align: right;
	margin-bottom: 10px;
}
.formleft .fldf {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}
.formleft .fldu {
	width: 100%;
	text-align: center;
}
.formleft .fldu button {
	display: none;
	width: 100%;
	background: #CCCCCC;
	color: #000000;
	margin-bottom: 3px;
	cursor: pointer;
	outline: none;
}
.formleft .fldu button.done {
	background: #EEEEEE;
	color: #AAAAAA;
	cursor: default;
}
.formleft .fld input[type=checkbox] {
	float: left;
	-webkit-appearance: checkbox;
	margin-top: 11px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.smll {
	cursor: pointer;
}
.redfld {
	border: solid 1px #FF9999!important;
	background: #FFDDDD!important;
}
.formleft input[type=text] {
	width: 91.5%;
	height: 38px;
	background-color: #FFFFFF;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 0 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
}
.formleft .fldc input[type=text] {
	width: 20%;
	float: right;
}
.formleft select {
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 0 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
}
.formleft select.short {
	width: 150px;
}
.formleft select.small {
	width: 90px;
}
.formleft select option {
	padding: 8.5px 0 15px 0;
}
.formleft select option:last-child {
	padding: 8.5px 0 10px 0;
}
.formleft input[type=text].short {
	width: 70%;
}
.formright {
	float: left;
	width: 50%;
	color: #135683;
	padding: 50px;
	border-radius: 0 3px 3px 0;
}
.formright img {
	float: left;
	width: 105px;
	height: 105px;
	border-radius: 105px;
	margin-bottom: 20px;
	margin-right: 35px;
}
.formtxt {
	width: 350px;
	padding-top: 15px;
}
.formtxt a {
	color: #666666;
	text-decoration: none;
}
.formtxt a:hover {
	color: #5454A5;
}
.formprice {
	width: 100%;
	margin-top: 20px;
	border: 1px solid #33a3dc;
	border-radius: 5px;
	padding: 15px 30px 20px 36px;
	color: #135683;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 26px;
	line-height: 1.625rem;
}
.finalprice {
	color: #125482;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 1.2px;
	letter-spacing: 0.075rem;
	padding: 15px 0 45px 0;
}
.finalpriced {
	float: left;
	width: 90px;
	color: #175f8e;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 15px;
	line-height: 0.938rem;
	padding-top: 17px;
}
.formsend {
	margin-top: 30px;
}
.formsend a {
	color: #175f8e;
}
.formagree {
	float: left;
	width: 40%;
	color: #a5a5a5;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 15px;
	line-height: 0.938rem;
	padding-top: 3px;
	padding-right: 20px;
	margin-top: 30px;
}
.formagree a {
	color: #333333;
}
.formsend button {
	width: 200px;
	float: right;
}
.formsend button[disabled] {
	background-color: #CBCBCB;
	cursor: default;
}
.formleft h3 {
	margin-top: 30px;
}
#igosel {
	margin-top: 2rem;
	width: 80%;
	max-width: 1200px;
	margin: 2rem auto;
}
#igosel h3 {
	margin: 10px 0 30px 0;
}
.igosel {
	width: 80%;
	height: 40px;
	margin: 20px auto 0 auto;
	background: #FFFFFF url("images/arr_down.png") 97% 12px no-repeat;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 7px 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
	cursor: pointer;
}
.igosel.sel {
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background: #FFFFFF url("images/arr_up.png") 97% 12px no-repeat;
}
.igodd {
	display: none;
	width: 80%;
	margin: 20px auto 0 auto;
	background: #FFFFFF;
	padding: 0;
	border: 2px solid #33a3dc;
	border-top: 1px solid #C8C8C8;
	border-radius: 0 0 5px 5px;
	color: #333333;
}
.igoset {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	margin-bottom: 0.5rem;
	color: #333333;
	font-size: 120%;
}
.igoset.faded {
	/* text-decoration: line-through; */
	opacity: 0.6;
}
.igoset label {
	padding-right: 5%;
}
.igoset div:first-child {
	width: calc(100% - 20px);
}
.igoset div:last-child {
	width: 20px;
}
.igoset input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	width: 16px;
	height: 16px;
}
.igotime {
	padding: 8px 20px;
	font-weight: 700;
}
.igo1 {
	background: #FFDDE6;
}
.igo2 {
	background: #DFFAAE;
}
.igo3 {
	background: #DCCFA0;
}
.prodsel {
	width: 100%;
	height: 40px;
	background: #FFFFFF url("images/arr_down.png") 97% 12px no-repeat;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 7px 15px;
	color: #000000;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
	text-align: left;
	cursor: pointer;
}
.prodsel.sel {
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background: #FFFFFF url("images/arr_up.png") 97% 12px no-repeat;
}
.proddd {
	display: none;
	position: absolute;
	text-align: left;
	width: 250px;
	background: #FFFFFF;
	padding: 0;
	border: 2px solid #33a3dc;
	border-top: 1px solid #C8C8C8;
	border-radius: 0 0 5px 5px;
	color: #333333;
}
.prodset {
	padding: 10px 20px;
}
.prodset.faded {
	text-decoration: line-through;
}
.prodset input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.chosen {
	padding: 20px;
	color: #333333;
}
.chitem {
	margin-top: 10px;;
}
.igonum {
	float: left;
	width: 30px;
}
.igodesc {
	float: left;
	width: calc(100% - 130px);
	padding-right: 20px;
}
.igodel {
	float: left;
	width: 100px;
	cursor: pointer;
}
.igodel span {
	color: #FF0000;
	margin-right: 7px;
}
.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #666699;
	line-height: 20px;
	text-align: right;
	padding: 0 10% 20px 0;
}
.footer a {
	color: #666699;
}
sup {
	color: #FF0000;
	line-height: 8px;
}
.err {
	color: #FF0000;
	padding: 0 5px;
	line-height: 14px;
	margin-bottom: 40px;
}
.burger {
	display: none;
}
.right {
	position: relative;
	height: 100px;
	pointer-events: none;
}
.right img {
	position: absolute;
	top: -250px;
	right: -170px;
}
.lefter {
	position: relative;
	pointer-events: none;
}
.lefter img {
	position: absolute;
	top: -130px;
	left: -320px;
}
.righter {
	position: relative;
	pointer-events: none;
}
.righter img {
	position: absolute;
	top: -170px;
	left: calc(100% - 400px);
}
.lnk {
	cursor: pointer;
	color: #333333;
	text-decoration: underline;
}
#pol {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	width: 90%;
	max-width: 1000px;
	height: 70%;
	background: #FFFFFF;
	border: solid 1px #666666;
	border-radius: 20px;
	padding: 50px 20px 20px 20px;
	z-index: 201;
}
#inpol {
	height: 100%;
	overflow-y: auto;
	color: #2b608d;
	padding: 20px;
}
#inpol h2 {
	color: #2b608d;
}
#inpol h4 {
	margin-top: 10px;
}
.close {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 27px;
	height: 27px;
	padding: 6px;
	cursor: pointer;
}
.red {
	color: #FF0000;
}
.mask, .mask1 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
}
.mask1 {
	z-index: 11;
}
@media only screen and (max-width: 1360px) {
	.mkcount {
		margin: 5px 0;
	}
}
@media only screen and (max-width: 1024px) {
	.right {
		display: none;
	}
	.lefter {
		display: none;
	}
	.menu {
		right: 20px;
	}
	.pspeaker img {
		margin-bottom: 25px;
	}
	.prices {
		height: 90px;
	}
	.pr_title {
		width: 60%;
		padding-top: 4px;
	}
	.pr_desc {
		width: 0%;
		padding-top: 16px;
		padding-left: 40px;
	}
	.button {
		padding-top: 5px;
	}
	h2 {
		font-size: 22px;
		font-size: 1.375rem;
	}
	.formtxt {
		width: 320px;
		padding-top: 8px;
	}
	.formleft .ttlc {
		width: 37%;
	}
	.formleft .fldc {
		width: 63%;
	}
	.formsend button {
		width: 160px;
	}
}
#bells {
	-webkit-animation: ring 8s 1s ease-in-out infinite;
	-webkit-transform-origin: 50% 4px;
	-moz-animation: ring 8s 1s ease-in-out infinite;
	-moz-transform-origin: 50% 4px;
	animation: ring 8s 1s ease-in-out infinite;
	transform-origin: 50% 4px;
}
@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(30deg); }
	3% { -moz-transform: rotate(-28deg); }
	5% { -moz-transform: rotate(34deg); }
	7% { -moz-transform: rotate(-32deg); }
	9% { -moz-transform: rotate(30deg); }
	11% { -moz-transform: rotate(-28deg); }
	13% { -moz-transform: rotate(26deg); }
	15% { -moz-transform: rotate(-24deg); }
	17% { -moz-transform: rotate(22deg); }
	19% { -moz-transform: rotate(-20deg); }
	21% { -moz-transform: rotate(18deg); }
	23% { -moz-transform: rotate(-16deg); }
	25% { -moz-transform: rotate(14deg); }
	27% { -moz-transform: rotate(-12deg); }
	29% { -moz-transform: rotate(10deg); }
	31% { -moz-transform: rotate(-8deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }

	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }

	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}
.kavo img {
	width: 80%;
	margin: 0 auto;
}
.onmap {
	color: #444444;
}
.onmap h3 {
	color: #444444;
}
.openform {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 100px 0;
	z-index: 11;
}
.openform_ {
	position: relative;
	width: 100%;
	text-align: center;
	background: transparent;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.formbox1 {
	position: relative;
	width: 595px;
	height: 360px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px 20px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox1 h2 {
	color: #000000;
	margin-bottom: 50px;
}
.formbox1 h4 {
	margin-bottom: 30px;
}
.newform .uploaded {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
	color: #303030;
}
.newform h3, .newform h2 {
	color: #606d76;
	margin-bottom: 30px;
}
.newform input, .newform select, .newform textarea {
	float: left;
	width: calc(100% - 140px);
	height: 46px;
	font-size: 18px;
	padding: 0 8px;
	border-radius: 4px 0 0 4px;
	background-color: #f3f9fc;
	border-left: solid 2px #3a97cc;
	border-top: solid 2px #63c0f1;
	border-bottom: solid 2px #3a97cc;
}
.newform select {
	font-size: 16px;
}
.newform_link {
	text-align: right;
	margin: 10px 0;
}
.newform_link span {
	color: #333333;
	cursor: pointer;
	padding: 4px;
}
.newform_link span:hover {
	color: #000000;
}
.newform input.invalid {
	background-color: #FF9999;
}
.newform input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
	background-color: #f3f9fc;
	border-style: solid;
	border-width: 2px;
	border-image-source: linear-gradient(to bottom, #63bff0, #3a97cc);
	border-image-slice: 1;
}
.newform button {
	position: relative;
	float: left;
	width: 120px;
	height: 50px;
	color: #FFFFFF;
	border-radius: 0 5px 5px 0;
	font-size: 16px;
	padding-right: 30px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
}
.newform button:after {
	content: "→";
	position: absolute;
	top: 16px;
	right: 19px;
	color: #9bdcfe;
}
.formbox_close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
}
.formbox_close .shape1 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(45deg);
	-webkit-backface-visibility: hidden;
}
.formbox_close .shape2 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(-45deg);
	-webkit-backface-visibility: hidden;
}
.formbox_close:hover .shape1 {
	background-color: #909fb0;
}
.formbox_close:hover .shape2 {
	background-color: #909fb0;
}
.f_anim {
	position: absolute;
	display: table;
	opacity: 0;
	width: 100%;
	text-align: center;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
}
.at {
	display: inline;
	font-size: 28px;
	font-weight: 600;
	text-align: left;
	color: #47aadf;
	padding-right: 10px;
}
.arr {
	display: inline;
	font-size: 20px;
	line-height: 1.5;
	margin: 0 3px;
	color: #e7e7e7;
}
.dash {
	display: inline-block;
	width: 15px;
	height: 3px;
	margin: 13px 4px;
	background-color: #e7e7e7;
	-webkit-animation: arr 1s ease-in-out infinite;
	-moz-animation: arr 1s ease-in-out infinite;
	animation: arr 1s ease-in-out infinite;
}
.db {
	display: inline-block;
	width: 40px;
	margin-left: 10px;
}
.db div {
	float: left;
	height: 3px;	
}
.db1 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.1s ease-in-out infinite;
	-moz-animation: db 1.1s ease-in-out infinite;
	animation: db 1.1s ease-in-out infinite;
}
.db2 {
	width: 13px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1s ease-in-out infinite;
	-moz-animation: db 1s ease-in-out infinite;
	animation: db 1s ease-in-out infinite;
}
.db3 {
	width: 25px;
	margin: 1px 0;
	-webkit-animation: db 1.2s ease-in-out infinite;
	-moz-animation: db 1.2s ease-in-out infinite;
	animation: db 1.2s ease-in-out infinite;
}
.db4 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.5s ease-in-out infinite;
	-moz-animation: db 1.5s ease-in-out infinite;
	animation: db 1.5s ease-in-out infinite;
}
.db5 {
	width: 25px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1.2s ease-in-out infinite;
	-moz-animation: db 1.2s ease-in-out infinite;
	animation: db 1.2s ease-in-out infinite;
}
.db6 {
	width: 13px;
	margin: 1px 0;
	-webkit-animation: db 0.8s ease-in-out infinite;
	-moz-animation: db 0.8s ease-in-out infinite;
	animation: db 0.8s ease-in-out infinite;
}
.db7 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.1s ease-in-out infinite;
	-moz-animation: db 1.1s ease-in-out infinite;
	animation: db 1.1s ease-in-out infinite;
}
.db8 {
	width: 10px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1s ease-in-out infinite;
	-moz-animation: db 1s ease-in-out infinite;
	animation: db 1s ease-in-out infinite;
}
.db9 {
	width: 28px;
	margin: 1px 0;
	-webkit-animation: db 1.4s ease-in-out infinite;
	-moz-animation: db 1.4s ease-in-out infinite;
	animation: db 1.4s ease-in-out infinite;
}
.f_desc {
	color: #303030;
	margin: 5px 0;
}
@-webkit-keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@-moz-keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@-webkit-keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
@-moz-keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
@keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
.regform {
	padding: 5rem 1.25rem;
}
.regform_h2 {
	width: 34%;
	text-align: left;
	padding-left: 4rem;
}
.regform_h2 h2 {
	color: #3E3E3E;
}
.regform_self {
	width: 66%;
}
.regform_self img {
	width: 28%;
}
.regform_phone {
	margin-top: 2rem;
}
.regform_phone a {
	font-size: 2rem;
	font-weight: 700;
	color: #3c3c3c;
	text-decoration: none;
}
.regform_email {
	margin-top: 0.5rem;
}
.regform_email a {
	font-size: 1.25rem;
	font-weight: 500;
	color: #3c3c3c;
	text-decoration: none;
}
.formmiddle {
	text-align: left;
	width: 56%;
	padding-right: 10%;
	color: #333333;
}
.formmiddle button {
	background-color: transparent;
	background-image: url("images/btn.png");
	background-repeat: no-repeat;
	width: 366px;
	height: 110px;
	padding-bottom: 23px;
	font-weight: 700;
	margin-top: 2rem;
	margin-left: -21px;
	margin-bottom: -3rem;
	color: #FFFFFF;
}
.formmiddle button:hover {
	color: #cacfea;
}
.formbox2 {
	display: none;
	position: relative;
	width: 640px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox2 h2 {
	margin-bottom: 50px;
	color: #000000;
}
.form_msg {
	margin: 10px 0 20px 0;
	color: #CC2020;
	display: none;
	text-align: center;
}
.formbox3 {
	display: none;
	position: relative;
	width: 640px;
	padding-bottom: 80px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox4 {
	display: none;
	position: relative;
	width: 640px;
	padding-bottom: 80px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.newform_field {
	
}
.newform_ttl {
	float: left;
	width: 24%;
	height: 50px;
	font-size: 15px;
	color: #616d76;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.newform_ttl.big {
	height: 70px;
}
.newform_fld {
	float: left;
	width: 76%;
}
.newform_flda {
	width: 100%;
	color: #606d76;
}
.exists {
	display: none;
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
	color: #3a97cc;
}
.wrong {
	display: none;
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
	color: #AA0000;
}
.newform_fld input, .newform_flda input, .newform_fld select, .newform_fld textarea {
	background-color: #FFFFFF;
	border-radius: 4px;
	border: solid 2px #cddee9;
	margin-bottom: 10px;
}
.newform_fld input:focus, .newform_flda input:focus, .newform_fld select:focus, .newform_fld textarea:focus {
	background-color: #f3f9fc;
	border-radius: 4px;
	border-left: solid 2px #3a97cc;
	border-top: solid 2px #63c0f1;
	border-bottom: solid 2px #3a97cc;
	border-right: solid 2px #63c0f1;
}
.newform_fld textarea {
	height: 120px;
}
.newform_fld button {
	width: calc(100% - 122px);
	height: 60px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
	padding: 0;
	transition: background 0.5s;
}
.newform_fld button:after {
	content: '';
}
.newform_fld button[disabled] {
	background-image: linear-gradient(to bottom, #DDDDDD, #AAAAAA);
}
.newform_fld img {
	float: left;
	margin-left: 10px;
	width: 48px;
	cursor: pointer;
}
::-webkit-input-placeholder {color:#95aab7;}
::-moz-placeholder          {color:#95aab7;}
:-moz-placeholder           {color:#95aab7;}
:-ms-input-placeholder      {color:#95aab7;}
.partbuts {
	color: #e3e3e3;
	line-height: 2.3;
}
.partbuts h4 {
	margin-bottom: 30px;
}
.partbut {
	display: inline-block;
	padding: 8px 13px 6px 13px;
	border-radius: 100px;
	font-size: 13px;
	line-height: 1.54;
	text-align: left;
	color: #303030;
	margin: 0 15px;
	cursor: pointer;
}
.partbut:first-child {
	margin-left: 0;
}
.partbut.active {
	background-color: #e7f2f9;
}
hr.hr {
	margin: 25px -40px 40px -40px;
	width: 100%;
	height: 1px;
	border: none;
    color: #d8d8d8;
	background-color: #d8d8d8;
}
button.upload {
	border: none;
	width: 175px;
	height: 40px;
	border-radius: 5px;
    background-image: none;
	background-color: #f3f3f3;
	padding: 0;
	float: none;
	color: #606d76;
	font-size: 15px;
	margin-top: 30px;
	margin-left: 20px;
}
button.upload:after {
	content: '';
}

.tabbut {
	display: inline-block;
	padding: 8px 13px 6px 13px;
	height: 40px;
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 2px transparent;
	margin: 0 15px 30px 15px;
	cursor: pointer;
	font-size: 16px;
	line-height: 1.3;
	color: #3d3d3d;
}
.tabbut.active {
	border: solid 2px #2fd030;
}
.newform_reg {
	margin: 20px 0;
}
.newform_fldu {
	color: #3d3d3d;
}
.addyur {
	display: table;
	margin: 20px auto;
	font-size: 18px;
	text-align: left;
	line-height: 1.7;
	color: #23be24;
	cursor: pointer;
}
.addyur span {
	font-size: 30px;
	font-weight: 700;
	line-height: 1;
	display: inline-block;
	vertical-align: bottom;
	padding-right: 6px;
}
.addyur small {
	display: block;
	font-size: 12px;
	line-height: 2;
	color: #606d76;
}
.addyurform {
	margin: 0 -30px;
	padding: 30px;
	border-radius: 5px;
	background-color: #e7f1f8;
}
.addyurform small {
	display: block;
	clear: both;
	font-size: 13px;
	line-height: 0.6;
	margin-bottom: 15px;
	color: #23be24;
}
.addyurform button {
	float: none;
	width: calc(100% - 122px);
	height: 60px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
	padding: 0;
	margin-top: 30px;
	transition: background 0.5s;
}
.addyurform button:after {
	content: '';
}
.addyur_close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
}
.addyur_close .shape1 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(45deg);
	-webkit-backface-visibility: hidden;
}
.addyur_close .shape2 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(-45deg);
	-webkit-backface-visibility: hidden;
}
.addyur_close:hover .shape1 {
	background-color: #909fb0;
}
.addyur_close:hover .shape2 {
	background-color: #909fb0;
}
.notfound {
	margin-bottom: 30px;
}
.discount {
	padding: 20px 0 30px 0;
	color: #333333;
	font-size: 24px;
}
#discount {
	color: #3a97cc;
}
.form_error {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 12;
}
.small {
	color: #333333;
	font-size: 12px;
	margin-bottom: 10px;
}
.mktime {
	display: table;
	max-width: 1250px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.21);
	padding: 6px 15px;
	margin: 0 auto 6px auto;
	color: #2b608d;
	font-size: 24px;
	text-align: center;
}
.blur {
	width: 100%;
}
.blur img {
	width: 100%;
	max-width: 1280px;
}
.allow50 {
	opacity: 0.35;
}
.allow50.is-active {
	opacity: 1;
}
@media only screen and (max-width: 960px) {
	.seminar, .programm, .speakers, .place, .prices_, .prices_self, .regform, .regform_self, .prices_split {
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.header {
		height: 60px;
		-ms-flex-pack: start;
		justify-content: start;
	}
	.header img {
		max-width: 100%;
		margin-left: 15px;
	}
	.logo {
		width: 80px;
	}
	.top {
		height: auto;
		padding-top: 60px;
	}
	.programm, .speakers, .prices, .regform {
		padding: 15px;
	}
	.h1 {
		width: 100%;
		padding: 20px 15px 0 15px;
		order: 1;
		font-size: 1.5rem;
	}
	.h1 h1 {
		padding-right: 0;
		margin: 10px 0 0 0;
		letter-spacing: 0;
	}
	.h3 {
		width: 100%;
		padding: 25px 15px;
		order: 2;
		font-size: 1.25rem;
		display:-ms-flexbox;
		display:flex;
	}
	.h3 div {
		width: 50%;
	}
	.h3 h3 {
		font-size: 1.25rem;
		margin: 8px 0 0 0;
		line-height: 1.1;
	}
	.owl {
		width: 100%;
		order: 3;
		text-align: left;
	}
	.owl img {
		position: relative;
		width: 75%;
	}
	.header button {
		display: none;
	}
	.baseinfo {
		padding: 3rem 0;
	}
	.programm_h2, .speakers_h2, .prices_h2, .place_h2, .regform_h2 {
		width: 100%;
		padding-left: 0;
	}
	.programm_self, .speakers_self, .prices_self, .place_self, .regform_self {
		width: 100%;
	}
	h2 {
		font-size: 1.875rem;
		margin-bottom: 1rem;
	}
	.progs {
		width: 100%;
	}
	.speakers_h2 h2 {
		margin-top: 1.2rem;
	}
	.speaker {
		width: 49%;
	}
	.speaker:nth-of-type(2n) {
		margin-right: 0;
	}
	.place {
		padding-left: 0;
	}
	.place_h2 {
		padding: 15px;
	}
	.regform_self button {
		display: none;
	}
	.burger {
		display: block;
		position: fixed;
		top: 15px;
		right: 10px;
		width: 36px;
		height: 36px;
		padding: 7px;
		cursor: pointer;
		z-index: 100;
	}
	.mobmenu {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding-top: 80px;
		background: rgba(0, 70, 127, 0.9);
		border: solid 2px #FFFFFF;
		z-index: 200;
	}
	.close2 {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 36px;
		height: 36px;
		padding: 7px;
	}
	.mobmenu ul li {
		list-style-type: none;
		text-align: center;
		height: 60px;
	}
	.mobmenu ul li a {
		color: #FFFFFF;
		height: 60px;
		font-size: 28px;
		font-size: 1.75rem;
		font-weight: 700;
		letter-spacing: 0.6px;
		text-decoration: none;
		padding: 15px 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.menu {
		display: none;
	}
	.menu ul li a:hover {
		color: #66CCFF;
	}
	.menu ul li.ch {
		color: #66CCFF;
	}
	.menu ul li {
		display: none;
	}
	.menu ul a button {
		width: 112px;
		padding-bottom: 2px;
		font-size: 14px;
		font-size: 0.875rem;
	}
	.progline {
		width: calc(50% - 127px);
	}
	.progtabs {
		width: 254px;
	}
	.progtab {
		width: 127px;
		font-size: 14px;
		font-size: 0.875rem;
		letter-spacing: 0.56px;
		letter-spacing: 0.035rem;
		padding-top: 13px;
	}
	.placeline {
		width: calc(50% - 127px);
	}
	.placetabs {
		width: 254px;
	}
	.placetab {
		width: 127px;
		font-size: 14px;
		font-size: 0.875rem;
		letter-spacing: 0.56px;
		letter-spacing: 0.035rem;
		padding-top: 13px;
	}
	.txt {
		width: 90%;
	}
	.prog {
		display: block;
		width: 100%;
		min-height: 0;
		padding: 15px 20px;
		background-image: url("images/arr_mob.png");
		background-position: 94% 20px;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.prog.open {
		background-image: url("images/arr_mob1.png");
	}
	.event1 {
		align-self: flex-start;
		display: block;
	}
	.pspeaker {
		display: none;
	}
	.event {
		display: none;
	}
	.dt {
		display: none;
	}
	.psimg {
		width: 100px;
		margin-right: 0;
	}
	.psimg img {
		width: 80px;
		height: 80px;
		margin-right: 10px;
		border: 5px solid #34a3dc;
		border-radius: 80px;
	}
	.main {
		background-size: cover;
	}
	.psd {
		float: left;
		width: calc(100% - 100px);
		text-align: left;
		padding-top: 15px;
		color: #175f8e;
		font-size: 12px;
		font-size: 0.75rem;
	}
	.psd span {
		color: #175f8e;
		font-size: 40px;
		font-size: 2.5rem;
		font-weight: 300;
	}
	.event2 .psd {
		width: 100%;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.speakersdiv {
		width: 100%;
		overflow: hidden;
	}
	.arrright {
		display: block;
	}
	.arrleft {
		display: block;
	}
	.speakerdata h4 {
		font-size: 1rem;
		margin-bottom: 2rem;
	}
	.hrtop {
		width: 100%;
		margin-bottom: 3.5rem;
	}
	.hrbottom {
		display: none;
	}
	.prices {
		padding-top: 2.4rem;
		height: auto;
	}
	.pr_title {
		width: 100%;
		padding-right: 0;
	}
	.pr_desc {
		width: 100%;
		padding-left: 0;
	}
	.price {
		width: 100%;
		padding-left: 0;
		text-align: left;
	}
	.prices_split {
		margin-top: 1rem;
	}
	.prices_left, .prices_right {
		width: 100%;
	}
	.prices_right {
		padding-top: 2rem;
	}
	.prices_right button {
		margin: 2.5rem auto 3rem auto;
	}
	.regform_h2 h2 {
		margin-top: 1.5rem;
	}
	.formmiddle {
		width: 100%;
		padding-right: 0;
	}
	.regform_phone {
		margin: 2rem 0;
	}
	.regform_self img {
		width: 100%;
		margin-top: 2rem;
	}
	.regform_phone a {
		font-size: 1.875rem;
	}
	.button {
		width: 100%;
		text-align: center;
	}
	.button button {
		width: 100%;
		background-color: #38c2dc;
		color: #FFFFFF;
	}
	.gallery {
		width: calc(100% - 20px);
	}
	.seminar h1.h1 {
		font-size: 80px;
	}
	.seminar h1.h1 span {
		font-size: 70px;
	}
	.seminar h2.h2 {
		font-size: 20px;
	}
	.seminar h2.h2 span {
		font-size: 22px;
	}
	.seminar h3.h3 {
		font-size: 18px;
	}
	hr {
		width: calc(100% - 20px);
	}
	hr.between {
		display: none;
	}
	.map {
		height: 300px;
	}
	#map {
		height: 300px;
	}
	.formbox {
		width: calc(100% - 20px);
		height: auto;
	}
	.formleft {
		width: 100%;
		padding: 20px;
		border-radius: 3px 3px 0 0;
	}
	.formright {
		width: 100%;
		border: solid 2px #FFFFFF;
		border-radius: 0 0 3px 3px;
		padding: 20px;
	}
	.formright img {
		margin-right: 20px;
	}
	.formtxt {
		width: auto;
		padding-top: 0;
		font-size: 13px;
		font-size: 0.813rem;
	}
	.formprice {
		height: auto;
		padding: 15px;
	}
	.finalprice {
		width: 50%;
		font-size: 24px;
		font-size: 1.5rem;
	}
	.finalprice {
		width: 50%;
	}
	.formagree {
		width: 100%;
	}
	.formsend {
		width: 100%;
	}
	.formsend button {
		margin-top: 30px;
		width: 100%;
	}
	.ttl {
		display: none;
	}
	.formleft .fld {
		width: 100%;
	}
	.formleft .fld input {
		width: 86%;
	}
	.formleft .ttlc {
		display: none;
	}
	.formleft .fldc {
		width: 100%;
	}
	.formleft .fldc .code input[type=text] {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 100%;
	}
	.mkcount {
		display: block;
		margin: 20px 0 0 0;
		width: 160px;
	}
	.igo {
		position: relative;
		right: 0;
		margin: 10px 0;
	}
}
@media only screen and (max-width: 960px) {
	.formtable .formtxt {
		float: none;
		width: 100%;
	}
	.formmiddle img {
		float: none;
	}
	.addyurform button {
		width: 100%;
	}
	.newform_fld button {
		width: 100%;
	}
	.newform input, .newform select, .newform textarea {
		width: 100%;
		border-radius: 4px;
		border-left: solid 2px #3a97cc;
		border-top: solid 2px #63c0f1;
		border-bottom: solid 2px #3a97cc;
		border-right: solid 2px #63c0f1;
	}
	.newform button {
		width: 100%;
		border-radius: 5px;
		float: none;
		margin-top: 20px;
	}
	.f_anim {
		display: none;
	}
	.formbox1 {
		height: auto;
	}
	.formbox2 {
		height: auto;
	}
	.newform_fld img {
		display: none;
	}	
}
/* foreground (ballons/landscape) */
#parallax-bg3 {
	display: none;
	z-index: 3;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 100%;
	margin-left: -50%; /* move left by half element's width */
	}
	/* balloon */
	#bg3-1 {
		position: absolute;
		top: 1001px;
		left: 0;
		}
	#bg3-2 {
		position: absolute;
		top: 925px;
		left: 60%;
		}
/* midground (clouds) */
#parallax-bg2 {
	z-index: -1;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 100%;
	margin-left: -50%; /* move left by half element's width */
	}
	#bg2-1 {
		position: absolute;
		top: 3200px;
		left: 72%;
		}
	#bg2-2 {
		position: absolute;
		top: 2200px;
		left: 56%;
		}
	#bg2-3 {
		position: absolute;
		top: 1743px;
		left: 20%;
		}
	#bg2-4 {
		position: absolute;
		top: 1680px;
		left: 65%;
		}
	#bg2-5 {
		position: absolute;
		top: 260px;
		left: 62%;
		}
	#bg2-6 {
		position: absolute;
		top: 1400px;
		left: 70%;
		}
/* background (clouds) */
#parallax-bg1 {
	z-index: -1;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 100%;
	margin-left: -50%; /* move left by half element's width */
	}
	#bg1-1 {
		position: absolute;
		top: 1895px;
		left: 37%;
		}
	#bg1-2 {
		position: absolute;
		top: 700px;
		left: 69%;
		}
	#bg1-3 {
		position: absolute;
		top: 1900px;
		left: -13%;
		}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 45%;
		}
	#bg1-5 {
		position: absolute;
		top: 1320px;
		left: -5%;
		}
	#bg1-6 {
		position: absolute;
		top: 340px;
		left: 22%;
		}

.ny1 {
	width: 90%;
	max-width: 1280px;
	text-align: center;
	margin: 0 auto;
}
.ny1 img {
	width: 100%;
}
.sugrob {
	width: 100%;
	height: 123px;
	background-size: cover;
}
.sugrob img {
	width: 100%;
}
.xtree {
	position: absolute;
	bottom: 66px;
	width: 26%;
	left: 4%;
	z-index: -1;
}
@media only screen and (max-width: 480px) {
	h1 {
		font-size: 30px;
		letter-spacing: 0.6px;
		margin-bottom: 20px;
	}
	.seminar h1.h1 {
		font-size: 60px;
		margin-bottom: 30px;
	}
	.seminar h1.h1 span {
		font-size: 50px;
	}
	.seminar h2.h2 {
		font-size: 18px;
	}
	.seminar h2.h2 span {
		font-size: 20px;
	}
	.seminar h3.h3 {
		font-size: 16px;
		margin-bottom: 30px;
	}
	.formleft .ttla {
		width: 77%;
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 13px;
		line-height: 0.813rem;
	}
	.formleft .flda {
		width: 23%;
		text-align: center;
	}
	.formleft .flda select.small {
		width: 60px;
	}
	#left {
		top: 40px;
		left: -140px;
		margin-left: 0;
	}
	#right {
		top: 0;
		right: -200px;
		margin-left: 0;
	}
	#bells {
		top: 440px;
	}
	.smll {
		font-size: 13px;
	}
	.xtree {
		display: none;
	}
	.sugrob {
		margin-top: 3rem;
	}
	.prog1, .prog2 {
		width: calc(100% - 20px);
	}
	.event1 button {
		margin: 0;
		width: 140px;
		height: 30px;
	}
	.event1 .psd {
		float: none;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		justify-items: center;
	}
	.event1 .mkcount {
		border: none;
		padding: 0;
		margin: 0;
		height: auto;
	}
	.popup button {
		width: 100%;
	}
}
