@font-face {
  font-family: 'PosterizerKGSketch';
  src: url('fonts/PosterizerKGSketch.eot');
  src: url('fonts/PosterizerKGSketch.eot?#iefix') format('embedded-opentype'),
       url('fonts/PosterizerKGSketch.ttf') format('truetype'),
       url('fonts/PosterizerKGSketch.woff') format('woff'),
       url('fonts/PosterizerKGSketch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr-Bold';
	src: url('fonts/AvenirNextCyr-Bold.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Bold.woff') format('woff'), url('fonts/AvenirNextCyr-Bold.ttf') format('truetype'), url('fonts/AvenirNextCyr-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr-Medium';
	src: url('fonts/AvenirNextCyr-Medium.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Medium.woff') format('woff'), url('fonts/AvenirNextCyr-Medium.ttf') format('truetype'), url('fonts/AvenirNextCyr-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr-Regular';
	src: url('fonts/AvenirNextCyr-Regular.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Regular.woff') format('woff'), url('fonts/AvenirNextCyr-Regular.ttf') format('truetype'), url('fonts/AvenirNextCyr-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ------------------- clear ----------------- */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	background: transparent;
	outline: none;
	-webkit-appearance: none;
	-webkit-backface-visibility: hidden;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, span {
	vertical-align: baseline;
}
img {
	max-width: 100%;
	vertical-align: top;
	text-decoration: none;
}
strong {
	font-weight: 900;
}
div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* -------------------- general styles ------------------- */
html, body {
	width: 100%;
	height: 100%;
}
html {
	font-size: 100%;
}
body {
	height: auto;
	min-height: 100%;
	font-family: 'Conv_AvenirNextCyr-Regular', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 24px;
	line-height: 1.5rem;
	font-style: normal;
	color: #181818;
	background: #F7F7F7;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body.hold {
	overflow-y: hidden;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	/* margin: 1% 0 1% 1.6%; */
	margin: 0 0 0 1.6%;
}
.col:first-child {
	margin-left: 0;
}
/*  GROUPING  */
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
/*  GRID OF TWO */
.span_1_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}
/*  GRID OF FOUR */
.span_4_of_4 {
	width: 100%; 
}
.span_3_of_4 {
	width: 74.6%; 
}
.span_2_of_4 {
	width: 49.2%; 
}
.span_1_of_4 {
	width: 23.8%; 
}
/*  GRID OF FIVE */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
  	width: 79.68%; 
}
.span_3_of_5 {
  	width: 59.36%; 
}
.span_2_of_5 {
  	width: 39.04%;
}
.span_1_of_5 {
  	width: 18.72%;
}
/*  GRID OF SIX */
.span_6_of_6 {
	width: 100%;
}
.span_5_of_6 {
  	width: 83.06%;
}
.span_4_of_6 {
  	width: 66.13%;
}
.span_3_of_6 {
  	width: 49.2%;
}
.span_2_of_6 {
  	width: 32.26%;
}
.span_1_of_6 {
  	width: 15.33%;
}
.hidden {
	display: none;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}
@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
	.span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%; 
	}
	.span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%; 
	}
}
p {
	padding: 0.5rem 0;
}
h1, h2, h3 {
	font-family: 'PosterizerKGSketch', Arial;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 1rem;
}
h1 {
	font-size: 3.375rem;
	color: #FFFFFF;
}
h2 {
	font-size: 3.5rem;
	color: #FFFFFF;
}
h3 {
	font-size: 2.25rem;
}
h4 {
	font-size: 1.125rem;
	color: #303030;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.875rem;
	font-weight: 500;
}
a {
	color: #FFFFFF;
	text-decoration: underline;
}
a:hover {
	color: #BBBBDD;
	text-decoration: none;
}
select {
	font-family: 'Conv_AvenirNextCyr-Regular', sans-serif;
}
input, select, textarea {
	color: #303030;
}
button {
	font-family: 'PosterizerKGSketch', Arial;
	width: 13rem;
	height: 4.4375rem;
	color: #1D6A96;
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
	border: none;
	outline: none;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	transition: background-color 0.5s;
}
button.top_button {
	position: absolute;
	top: 2.25rem;
	right: 2.5rem;
}
button.yellow_button {
    background-image: url("images/button_yellow.png");
}
button.blue_button {
    background-image: url("images/button_blue.png");
	width: 19rem;
	color: #FFFFFF;
}
button:hover {
	opacity: 0.6;
}
hr {
	display: block;
	width: calc(100% - 120px);
	height: 1px;
	border: none;
    height: 1px;
    color: #FFFFFF;
    background-color: #FFFFFF;
	margin: 50px auto;
}
hr.between {
	float: left;
	width: 100%;
    color: #999999;
	background-color: #999999;
	margin: 0 auto;
}
hr.blue {
	width: 100%;
	height: 1px;
	border: none;
    height: 1px;
    color: #C4C4C4;
    background-color: #C4C4C4;
	margin: 5px auto 20px auto;
}
.flex,.flex-wrap{display:-ms-flexbox;display:flex}.flex-wrap{-ms-flex-flow:wrap;flex-flow:wrap}.flex-vbottom,.flex-vcenter{display:-ms-flexbox;display:flex;-ms-flex-align:end;align-items:flex-end}.flex-vcenter{-ms-flex-align:center;align-items:center}.flex-hcenter,.flex-vhcenter{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center}.flex-vhcenter{-ms-flex-align:center;align-items:center}
.swiper-container{position:relative;overflow:hidden;padding:0}
.swiper-container{margin:0 auto;list-style:none;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-ms-flex-direction:column;flex-direction:column}.swiper-slide,.swiper-wrapper{width:100%;height:100%;position:relative;transition-property:transform}.swiper-wrapper{z-index:1;display:-ms-flexbox;display:flex;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-ms-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-ms-flex-negative:0;flex-shrink:0}.swiper-invisible-blank-slide{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-ms-flex-align:start;align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),transparent)}.swiper-container-wp8-horizontal,.swiper-container-wp8-horizontal>.swiper-wrapper{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-container-wp8-vertical,.swiper-container-wp8-vertical>.swiper-wrapper{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:300ms opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-ms-transform:scale(.33);transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{-ms-transform:scale(1);transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{-ms-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{-ms-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{-ms-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{-ms-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;-ms-transform:translateY(-50%);transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:200ms transform,200ms top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:200ms transform,200ms left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:200ms transform,200ms right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-ms-transform:scale(0);transform:scale(0);-ms-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{-ms-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill,.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-progressbar.swiper-pagination-white{background:rgba(255,255,255,.25)}.swiper-pagination-black .swiper-pagination-bullet-active,.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill{background:#000}.swiper-pagination-progressbar.swiper-pagination-black{background:rgba(0,0,0,.25)}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-ms-transform-origin:50%;transform-origin:50%;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:'';width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@keyframes swiper-preloader-spin{to{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;filter:blur(50px);z-index:0}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}[data-simplebar]{position:relative;z-index:0;overflow:hidden!important;max-height:inherit;-webkit-overflow-scrolling:touch}[data-simplebar=init]{display:-ms-flexbox;display:flex}.simplebar-scroll-content{overflow-x:hidden!important;overflow-y:scroll;min-width:100%!important;max-height:inherit!important;box-sizing:content-box!important}.simplebar-content{overflow-y:hidden!important;overflow-x:scroll;box-sizing:border-box!important;min-height:100%!important}.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;width:11px}.simplebar-scrollbar{position:absolute;right:2px;width:10px;min-height:10px}.simplebar-scrollbar:before{position:absolute;content:"";background:#fff;border-radius:7px;left:0;right:0;opacity:0;transition:opacity .2s linear}.simplebar-track .simplebar-scrollbar.visible:before,.simplebar-track:hover .simplebar-scrollbar:before{opacity:1;transition:opacity 0 linear}.simplebar-track.vertical{top:0}.simplebar-track.vertical .simplebar-scrollbar:before{top:2px;bottom:2px}.simplebar-track.horizontal{left:0;width:auto;height:11px;display:none!important}.simplebar-track.horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px}.horizontal.simplebar-track .simplebar-scrollbar{right:auto;top:2px;height:7px;min-height:0;min-width:10px;width:auto}
.selectric-wrapper{position:relative;cursor:pointer}.selectric-responsive{width:100%}.selectric{border:0 solid #ddd;border-radius:5px;background:#fff;position:relative;overflow:hidden}.selectric .button,.selectric .label{display:block;height:2.5rem;line-height:2.5rem;overflow:hidden}.selectric .label{white-space:nowrap;text-overflow:ellipsis;margin:0 2.5rem 0 .9375rem;font-size:1rem;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight:700;color:#303030}.selectric .button{position:absolute;right:0;top:0;width:3.375rem;background-color:#fff;color:#bbb;text-align:center;text-indent:-999px}.selectric .button:after{background-image:url(../img/svg/arrow-select.svg);background-size:1.5625rem .9375rem;background-repeat:no-repeat;background-position:center center}.selectric-focus .selectric{border-color:#aaa}.selectric-hover .selectric{border-color:#c4c4c4}.selectric-hover .selectric .button{color:#a2a2a2}.selectric-open{z-index:9999}.selectric-open .selectric{border-color:#c4c4c4;border-bottom-left-radius:0;border-bottom-right-radius:0}.selectric-open .selectric-items{display:block}.selectric-disabled{filter:alpha(opacity=50);opacity:.5;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.selectric-hide-select{position:relative;overflow:hidden;width:0;height:0}.selectric-hide-select select{position:absolute;left:-100%}.selectric-hide-select.selectric-is-native{position:absolute;width:100%;height:100%;z-index:10}.selectric-hide-select.selectric-is-native select{position:absolute;top:0;left:0;right:0;height:100%;width:100%;border:none;z-index:1;box-sizing:border-box;opacity:0}.selectric-input{position:absolute!important;top:0!important;left:0!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;margin:0!important;padding:0!important;width:1px!important;height:1px!important;outline:none!important;border:none!important;*font:0/0 a!important;background:0 0!important}.selectric-temp-show{position:absolute!important;visibility:hidden!important;display:block!important}.selectric-items{display:none;position:absolute;top:100%;left:0;background:#fff;border:1px solid #e3e3e3;z-index:-1;box-shadow:0 0 10px -6px}.selectric-items .selectric-scroll{height:100%;overflow:auto}.selectric-above .selectric-items{top:auto;bottom:100%}.selectric-items li,.selectric-items ul{list-style:none;padding:0;margin:0;font-size:1rem;line-height:20px;min-height:20px}.selectric-items li{display:block;padding:10px 15px;color:#303030;cursor:pointer}.selectric-items li.selected{background:#e0e0e0}.selectric-items li.highlighted{background:#e3f9f7}.selectric-items li:hover{background:#b9f0eb}.selectric-items .disabled{filter:alpha(opacity=50);opacity:.5;cursor:default!important;background:0 0!important;color:#666!important;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.selectric-items .selectric-group .selectric-group-label{font-weight:700;padding-left:10px;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:0 0;color:#444}.selectric-items .selectric-group.disabled li{filter:alpha(opacity=100);opacity:1}.selectric-items .selectric-group li{padding-left:25px}
.hidden_desktop {
	display: none;
}
.left {
	float: left;
}
.to1000 {
	margin: 0 auto;
	width: 1000px;
}
.to960 {
	margin: 0 auto;
	width: 960px;
}
.container {
	position: relative;
	background: #F7F7F7;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.top {
	background: radial-gradient(34.6rem at 50% 50%, #00BECD 0%, #00A1AE 100%), radial-gradient(34.6rem at 50% 50%, #73B7B9 0%, #268087 100%);
	padding-top: 8rem;
	position: relative;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 3.1rem 2.5rem;
	text-align: left;
	transition: top 0.5s, opacity 0.8s;
	z-index: 5;
}
.header.out {
	opacity: 0.2;
}
.header:hover {
	opacity: 1;
}
.header img {
	width: 7rem;
}
.shaper {
	width: 100%;
	height: 4vw;
}
.black {
	background: #000000;
}
.orange {
	background: #E3A723;
}
.programm_div {
	background: #FFFFFF;
	padding: 20px;
}
.speakers_div, .place_div {
	background: #FFFFFF;
	padding: 20px;
	color: #003c79;
}
.programm_div h1, .speakers_div h1, .place_div h1 {
	color: #003c79;
}
.price_div {
	background: radial-gradient(24.5rem at 50% 50%, #00BECD 0%, #00A1AE 100%), radial-gradient(24.5rem at 50% 50%, #73B7B9 0%, #268087 100%);
	padding: 8rem 0;
}
.price_div_ {
    margin: 0 auto;
	width: 1064px;
}
.price_half {
	width: 50%;
}
.price_div h2 {
	margin-bottom: 2rem;
	line-height: 1.1;
}
.mobmenu {
	display: none;
}
.menu {
	position: absolute;
	display: table;
    top: 3.2rem;
    right: 24rem;
	pointer-events: auto;
}
.menu ul {
	display: table-row;
}
.menu ul li {
	display: table-cell;
	list-style-type: none;
}
.menu ul li a {
	color: #FFD52E;
	height: 40px;
	display: inline-block;
	font-size: 1rem;
	letter-spacing: 0.6px;
	text-decoration: none;
	transition: color 0.5s;
	padding: 8px 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.menu ul li a:hover {
	color: #60c7ff;
}
.menu ul li.ch {
	color: #60c7ff;
}
.menu ul button {
	width: 148px;
	height: 40px;
	font-size: 15px;
	font-size: 0.938rem;
	font-weight: 500;
	letter-spacing: 0.6px;
	color: #FFFFFF;
	background-color: #009900;
	padding-bottom: 2px;
	margin-left: 12px;
}
.menu ul button:hover {
	background-color: #00DD00;
}
#left {
	position: absolute;
	top: 290px;
	left: 50%;
	margin-left: -1146px;
	/* -webkit-transition: margin-left 1s ease-out; */
	/* transition: margin-left 1s ease-out; */
}
#right {
	position: absolute;
	top: 220px;
	left: 50%;
	margin-left: 450px;
	/* -webkit-transition: margin-left 1s ease-out; */
	/* transition: margin-left 1s ease-out; */
}
#bells {
	position: absolute;
	top: 520px;
	left: 50%;
	margin-left: -130px;
}
.seminar {
	width: 100%;
	background: #E3A723;
}
.seminar img {
	width: 100%;
}
.seminar h1.h1 {
	font-size: 60px;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: -1px;
	color: #FFFFFF;
	margin-top: 40px;
	text-shadow: rgba(160, 160, 255, 0.4) 1px 0px, rgba(160, 160, 255, 0.4) 1px 1px, rgba(160, 160, 255, 0.4) 0px 1px, rgba(160, 160, 255, 0.4) -1px 1px, rgba(160, 160, 255, 0.4) -1px 0px, rgba(160, 160, 255, 0.4) -1px -1px, rgba(160, 160, 255, 0.4) 0px -1px, rgba(160, 160, 255, 0.4) 1px -1px, rgba(160, 160, 255, 0.4) 0 0 4px, rgba(160, 160, 255, 0.4) 0 0 4px, rgba(160, 160, 255, 0.4) 0 0 4px, rgba(160, 160, 255, 0.4) 0 0 4px, rgba(160, 160, 255, 0.4) 0 0 4px, rgba(160, 160, 255, 0.4) 0 0 4px, rgba(160, 160, 255, 0.4) 0 0 4px, rgba(160, 160, 255, 0.4) 0 0 4px;
}
.seminar h1.h1 span {
	font-size: 36px;
}
.seminar h2.h2 {
	font-size: 30px;
	font-size: 1.5rem;
	font-weight: 900;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.seminar h2.h2 span {
	font-size: 34px;
}
.seminar h3.h3 {
	font-size: 22px;
	color: #7FFFFF;
	margin-bottom: 45px;
}
.main {
	text-align: center;
	position: relative;
	padding-top: 1.5rem;
	padding-left: 7.5rem;
	height: 48rem;
}
.main img {
	position: absolute;
	top: 1.5rem;
	left: 50%;
	margin-left: -33rem;
}
.main h1 {
	display: inline-block;
    line-height: 1.1;
	text-align: left;
    text-transform: uppercase;
}
.main h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.375rem;
	position: absolute;
	top: 1.75rem;
	left: 50%;
	text-align: left;
	margin-left: 12.4rem;
	color: #FFD52E;
}
.main h4 span {
	display: inline-block;
	font-size: 1.2rem;
	line-height: 1.4;
	margin-left: 0.5rem;
}
.txt, .txtdiv {
	width: 80%;
	margin: 0 auto 50px auto;
}
.persons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.person {
	position: absolute;
	bottom: 0;
	left: 50%;
	cursor: pointer;
}
.person_descr {
	display: none;
	position: absolute;
	bottom: 28rem;
	left: 50%;
	width: 40%;
	color: #FFFFFF;
	font-size: 1rem;
	line-height: 1.2;
}
.person_descr span {
	display: none;
}
.person_descr0 {
	margin-left: -46%;
}
.person_descr1 {
	margin-left: -38%;
}
.person_descr2 {
	margin-left: -26%;
}
.person_descr3 {
	margin-left: -14%;
}
.person_descr4 {
	margin-left: -2%;
}
.person_descr5 {
	margin-left: 10%;
}
.person .color {
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: opacity 0.5s;
}
.person:hover .color {
	opacity: 1;
}
.person:hover + .person_descr {
	display: block;
}
.person span {
	position: absolute;
	font-family: 'PosterizerKGSketch', Arial;
	text-shadow: 0 -2px 2px #FFFFFF, 2px 0 2px #FFFFFF, 0 2px 2px #FFFFFF, -2px 0 2px #FFFFFF;
	color: #000000;
	bottom: 1.8rem;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}
.person0 {
	margin-left: -33.75rem;
	z-index: 2;
}
.person1 {
	margin-left: -24rem;
	z-index: 1;
}
.person2 {
	margin-left: -13.8rem;
	z-index: 2;
}
.person3 {
	margin-left: -2.2rem;
	z-index: 3;
}
.person4 {
	margin-left: 6.5rem;
	z-index: 2;
}
.person5 {
	margin-left: 19.6rem;
	z-index: 3;
}
.about {
	padding: 3.5rem;
}
.slider {
	position: relative;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);
	width: 1064px;
	height: 320px;
}
.about .swiper-container {
	margin: 0;
	width: 50%;
	height: 100%;
}
.slide_descr {
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2rem 3.5rem 4rem 3.5rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
}
.slider_swiper {
	height: 100%;
}
.slide_half {
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
}
.slide_descr h3 {
	font-family: 'PosterizerKGSketch', Arial;
	font-size: 1.75rem;
	line-height: 1.1;
	color: #0098ED;
	margin-bottom: 2rem;
}
.programm {
	padding: 1.75rem;
}
.programm h2 {
    margin: 0 auto;
	color: #0098ED;
	width: 1064px;
	margin-bottom: 3.75rem;
}
.prog_items_container {
    margin: 0 auto;
	padding: 2.5rem 7rem;
	background: #FFFFFF;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);
	width: 1064px;
}
.prog_item {
	margin-bottom: 1.5rem;
}
.prog_icon {
	width: 20%;
}
.prog_right {
	width: 80%;
}
.prog_time {
	width: 25%;
}
.prog_theme {
	width: 75%;
}
.progtabbs {
	margin-top: 30px;
	width: 100%;
	height: 27px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
}
.progline {
	flex-grow: 1;
	border-bottom: solid 2px #FFFFFF;
}
.progtabs {
	display: table;
	height: 55px;
	margin-top: -2px;
	border: solid 2px #FFFFFF;
	border-radius: 51px;
}
.progtab {
	display: table-cell;
	width: 230px;
	height: 51px;
	border-radius: 51px;
	font-size: 20px;
	font-size: 1.25rem;
	letter-spacing: 0.8px;
	padding-top: 13px;
	cursor: pointer;
	-webkit-transition: border 0.6s, background 0.6s, color 0.6s;
	transition: border 0.6s, background 0.6s, color 0.6s;
}
.progtab.sel {
	background: #FFFFFF;
	color: #2B94D3;
}
.progtab:first-child {
	margin-left: -2px;
}
.progtab:last-child {
	margin-right: -2px;
}
.progs_cont {
	width: 100%;
	margin-bottom: 30px;
}
.progspace {
	width: 100%;
	height: 20px;
}
.prog1 {
	width: 70%;
	margin-left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	background: #FFFFFF;
	color: #FF6666;
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.prog2 {
	display: none;
	width: 70%;
	margin-left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	background: #FFFFFF;
	color: #FF6666;
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.prog2 h3 {
	color: #FF6666;
	font-family: 'Conv_AvenirNextCyr-Bold';
}
.prog2 img {
	max-width: 100%;
	margin: 0 35px;
}
.prog {
	width: calc(100% - 120px);
	max-width: 1250px;
	min-height: 120px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.21);
	padding: 18px 0;
	margin: 0 auto 6px auto;
	color: #2b608d;
	text-align: left;
}
.prog.faded {
	opacity: 0.6;
}
.event1 {
	display: none;
}
.event2 {
	display: none;
	padding-top: 20px;
}
.pspeaker {
	float: left;
	width: 35%;
	padding: 0 2% 0 3%;
	color: #858686;	
	/* border-right: 1px solid #c2c2c2; */
	font-size: 14px;
	font-size: 0.813rem;
	font-weight: 300;
	line-height: 20px;
	line-height: 1.25rem;
}
.psimg {
	float: left;
	width: 40%;
	margin-right: 7%;
}
.psimg img {
	width: 105px;
	height: 105px;
	margin-right: 35px;
	/* border: 5px solid rgb(56,54,120); */
	border: 1px solid #c2c2c2;
	border-radius: 105px;
}
.psd {
	position: relative;
	float: left;
	width: 53%;
}
.event {
	float: left;
	position: relative;
	width: 65%;
	min-height: 110px;
	border-left: 1px solid #c2c2c2;
	/* border-right: 1px solid #c2c2c2; */
	padding: 0 140px 0 44px;
}
.event time {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 900;
}
.event1 time {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 900;
}
.event h4 {
	display: inline-block;
	display: none;
}
.event button {
	display: none;
	width: 120px;
	height: 26px;
	font-size: 11px;
	font-size: 0.688rem;
	font-weight: 500;
	letter-spacing: 0.55px;
	letter-spacing: 0.034rem;
	color: #FFFFFF;
	padding-bottom: 1px;
	background-color: rgb(56,54,120);
	border-radius: 26px;
	margin-left: 20px;
	margin-bottom: 6px;
	cursor: default;
}
.event2 button {
	display: none;
	width: 120px;
	height: 26px;
	font-size: 11px;
	font-size: 0.688rem;
	font-weight: 500;
	letter-spacing: 0.55px;
	letter-spacing: 0.034rem;
	color: #FFFFFF;
	padding-bottom: 1px;
	background-color: rgb(56,54,120);
	border-radius: 26px;
	margin-top: 15px;
	cursor: default;
}
.event2 .psd {
	display: none;
}
.event img {
	position: absolute;
	top: 20px;
	right: 44px;
	cursor: pointer;
}
.eshort a {
	color: #42b8f5;
}
.elong {
	display: none;
	font-size: 14px;
	font-size: 0.875rem;
	padding-top: 20px;
	padding-bottom: 40px;
}
.mkcount {
	display: inline-block;
	margin-left: 20px;
	margin-top: -6px;
	width: 190px;
	height: 40px;
	border-radius: 20px;
	border: solid 1px #42b8f5;
	padding: 8px 4px;
	text-align: center;
}
.igo {
	position: absolute;
	bottom: 0;
	right: 20px;
	padding: 10px 26px;
}
input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.igo.sel {
	border: solid 1px #2ECB81;
}
.igo.sel label {
	color: #2ECB81;
}
.dt {
	display: none;
	float: left;
	width: 14%;
	text-align: center;
	color: #175f8e;
	line-height: 19px;
	line-height: 1.188rem;
	
}
.dt span {
	color: #175f8e;
	font-size: 60px;
	font-size: 3.75rem;
	font-weight: 300;
	line-height: 72px;
	line-height: 4.5rem;
}
.dt img {
	position: absolute;
	top: 20px;
	right: 44px;
	cursor: pointer;
}
.mobile {
	display: none;
}
.spec {
	display: table;
	margin: 50px auto 30px auto;
	font-size: 20px;
	font-weight: 700;
	font-size: 1.375rem;
	line-height: 20px;
	line-height: 1.25rem;
	text-align: center;
	background-color: #FFFFFF;
	border: solid 1px #2ECB81;
	border-radius: 6px;
	color: #FF6766;
	padding: 15px 60px;
	cursor: pointer;
}
.spec_desc {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-height: 80%;
	overflow: auto;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 20;
}
.spec_desc h4 {
	color: #666666;
}
.spec_desc h2 {
	color: #333333;
}
.spec_desc a {
	color: #42b8f5;
}
.spec_desc a span {
	font-size: 140%;
}
.spec_desc p {
	margin: 15px 0;
}
.speakers, .speakers1 {
	width: calc(100% - 120px);
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.speakers h1 {
	color: #42b8f5;
}
.speaker {
	width: 20%;
	margin: 5%;
	font-size: 15px;
	font-weight: 300;
	font-size: 0.9375rem;
	line-height: 20px;
	line-height: 1.25rem;
	text-align: left;
	cursor: pointer;
}
.speaker_desc {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-height: 80%;
	overflow: auto;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 20;
}
.speaker_desc h4 {
	color: #666666;
}
.speaker_desc a {
	color: #333333;
}
.speaker_desc p {
	margin: 15px 0;
}
.speakerdata {
	width: 180px;
	margin: 0 auto;
	/* padding: 0 20px; */
	text-align: left;
	font-weight: 700;
}
.speakerdata1 {
	width: 80%;
	/* width: 180px; */
	margin: 20px auto;
	/* padding: 0 20px; */
	text-align: center;
	line-height: 24px;
	font-weight: 700;
}
.speakerdata h4 {
	text-align: center;
	color: #003c79;
}
.speaker img {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	border: solid 3px #FFFFFF;
	border-radius: 240px;
	cursor: pointer;
	transition: transform 0.5s;
}
.speaker img:hover {
	transform: scale(1.05);
}
.speakersdiv {
	position: relative;
}
.speakers span.link, .speakers1 span.link {
	cursor: pointer;
	text-decoration: underline;
}
.speakers span.link:hover, .speakers1 span.link:hover {
	text-decoration: none;
}
.collage {
	width: 90%;
	margin: 40px auto;
}
.speakersdiv p {
	margin: 10px 0;
}
.arrright {
	display: none;
	position: absolute;
	top: 200px;
	right: 20px;
}
.arrleft {
	display: none;
	position: absolute;
	top: 200px;
	left: 20px;
}
.spbullets, .spbullets1 {
	display: none;
}
.spbullet {
	float: left;
	width: 6px;
	height: 6px;
	border: 2px solid transparent;
	border-radius: 6px;
	margin-top: 2px;
	margin-right: 12px;
	background-color: #FFFFFF;
	cursor: pointer;
}
.spbullet.active {
	width: 10px;
	height: 10px;
	margin-top: 0;
	border: 2px solid #fff;
	background-color: #24c0f2;
}
.prices {
	width: calc(100% - 120px);
	max-width: 1250px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.21);
	padding: 19px;
	margin: 0 auto 10px auto;
	color: #2b608d;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.prices.opa {
	opacity: 0.6;
}
.prices.opa a {
	cursor: default;
}
.prices.opa button {
	cursor: default;
}
.prices.opa button:hover {
	background: #FFFFFF;
	color: #2b608d;
	border: 1px solid #38c2dc;
}
.cb {
	padding: 10px 0;
}
.pr_title {
	color: #FFFFFF;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 22px;
	line-height: 1.375rem;
	padding-top: 9px;
	text-align: center;
}
.pr_desc {
	width: 0%;
	color: #afafaf;
	font-size: 13px;
	font-size: 0.813rem;
	font-weight: 500;
	line-height: 22px;
	line-height: 1.375rem;
	padding-top: 11px;
}
.price {
	color: #FFD52E;
}
.hdr {
	color: #333333;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 20px;
}
.button {
	width: 20%;
	margin: 20px auto;
	text-align: center;
}
/*
.button button {
	width: 80%;
	height: 60px;
	background-color: #44cc60;
	border: 1px solid #38c2dc;
	border: 0.125rem solid #38c2dc;
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 17px;
	line-height: 1.063rem;
	transition: all 0.3s;
}
.button button:hover {
	background-color: #38c2dc;
}
*/
.button button:disabled {
	background: #DDDDDD;
	color: #666666;
	border: 1px solid #333333;
	border: 0.125rem solid #333333;
	cursor: default;
}
.button button:disabled:hover {
	background: #DDDDDD;
	color: #666666;
}
.afterprices {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Conv_AvenirNextCyr-Bold';
	font-size: 28px;
	line-height: 1.2;
	margin-top: 40px;
}
.afterprice {
	display: inline;
	color: #FF9F90;
	font-size: 34px;
	line-height: 0.9;
}
.place {
	position: relative;
}
.place h2 {
    margin: 0 auto;
	color: #0098ED;
	width: 1064px;
	margin-bottom: 3.75rem;
}
.place > img {
	position: absolute;
	right: 0;
	top: 29%;
	height: 62%;
}
.places {
	margin-top: 65px;
	width: 100%;
	height: 27px;
	margin-bottom: 50px;
}
.placeline {
	float: left;
	width: calc(50% - 236px);
	border-bottom: solid 2px #FFFFFF;
}
.placetabs {
	float: left;
	width: 472px;
	height: 55px;
	margin-top: -26px;
	border: solid 2px #003c79;
	border-radius: 55px;
}
.placetab {
	float: left;
	width: 236px;
	height: 51px;
	border-radius: 51px;
	font-size: 20px;
	font-size: 1.25rem;
	letter-spacing: 0.8px;
	padding-top: 13px;
	cursor: pointer;
	-webkit-transition: border 0.6s, background 0.6s, color 0.6s;
	transition: border 0.6s, background 0.6s, color 0.6s;
}
.placetab.sel {
	background: #003c79;
	color: #FFFFFF;
}
.placetab:first-child {
	margin-left: -2px;
}
.placetab:last-child {
	margin-right: -2px;
}
.gallery {
	position: relative;
	width: 807px;
	margin: 0 auto;
	border: 5px solid #FFFFFF;
	height: 347px;
	overflow: hidden;
}
.gallery1 {
	position: relative;
	width: 800px;
	margin: 0 auto;
	border: 5px solid #FFFFFF;
	height: 560px;
	overflow: hidden;
}
.gal_slider, .gal_slider1 {
	width: 99999px;
	height: 100%;
}
.gal_slide {
	float: left;
	width: 797px;
	height: 100%;
}
.gal_slide img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}
.gal_navs {
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -50px;
	display: table;
	width: 102px;
}
.gal_nav {
	display: table-cell;
	width: 51px;
	height: 61px;
	text-align: left;
	padding: 10px;
	cursor: pointer;
}
.gal_nav:hover {
	background: rgba(0, 0, 0, 0.5);
}
.gal_nav:last-child {
	text-align: right;
}
.map {
	height: 33rem;
}
#map {
	width: 89%;
	height: 33rem;
}
.formbox {
	width: calc(100% - 120px);
	max-width: 1250px;
	margin: 0 auto 60px auto;
	border-radius: 5px;
	text-align: left;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
}
.formleft {
	float: left;
	width: 50%;
	background-image: url("images/fback.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px;
	border-radius: 3px 0 0 3px;
}
.formleft .ttl {
	float: left;
	width: 28%;
	height: 50px;
	font-size: 14px;
	line-height: 15px;
	padding-top: 7px;
}
.formleft .fld {
	float: left;
	width: 72%;
	height: 50px;
	text-align: right;
}
.formleft .ttlc {
	float: left;
	width: 28%;
	height: 80px;
	line-height: 26px;
}
.formleft .fldc {
	float: left;
	width: 72%;
	height: 80px;
	text-align: right;
}
.formleft .uploaded {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
}
.captcha {
	width: 43%;
}
.code {
	width: 57%;
}
.formleft .ttla {
	float: left;
	width: 70%;
	padding-right: 20px;
	font-size: 14px;
	padding-top: 6px;
	margin-bottom: 10px;
}
.formleft .double {
	padding-top: 3px;
	line-height: 16px;
}
.formleft .flda {
	float: left;
	width: 30%;
	text-align: right;
	margin-bottom: 10px;
}
.formleft .fldf {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}
.formleft .fldu {
	width: 100%;
	text-align: center;
}
.formleft .fldu button {
	display: none;
	width: 100%;
	background: #CCCCCC;
	color: #000000;
	margin-bottom: 3px;
	cursor: pointer;
	outline: none;
}
.formleft .fldu button.done {
	background: #EEEEEE;
	color: #AAAAAA;
	cursor: default;
}
.formleft .fld input[type=checkbox] {
	float: left;
	-webkit-appearance: checkbox;
	margin-top: 11px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.smll {
	cursor: pointer;
}
.redfld {
	border: solid 1px #FF9999!important;
	background: #FFDDDD!important;
}
.formleft input[type=text], .formleft input[type=email], .formleft input[type=tel], .formleft select {
	width: 91.5%;
	height: 38px;
	background-color: #FFFFFF;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 0 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
}
.formleft .fldc input[type=text] {
	width: 20%;
	float: right;
}
.formleft select {
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 0 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
}
.formleft select.short {
	width: 150px;
}
.formleft select.small {
	width: 90px;
}
.formleft select option {
	padding: 8.5px 0 15px 0;
}
.formleft select option:last-child {
	padding: 8.5px 0 10px 0;
}
.formleft input[type=text].short {
	width: 70%;
}
.formright {
	float: left;
	width: 50%;
	color: #135683;
	padding: 50px;
	border-radius: 0 3px 3px 0;
}
.formright img {
	float: left;
	width: 105px;
	height: 105px;
	border-radius: 105px;
	margin-bottom: 20px;
	margin-right: 35px;
}
.formtxt {
	width: 80%;
	color: #FFFFFF;
	padding-top: 15px;
}
.formtxt a {
	display: block;
	color: #FFFFFF;
	margin-top: 1rem;
	font-size: 2rem;
	text-decoration: none;
}
.formtxt a:hover {
	color: #CACACA;
}
.formprice {
	width: 100%;
	margin-top: 20px;
	border: 1px solid #33a3dc;
	border-radius: 5px;
	padding: 15px 30px 20px 36px;
	color: #135683;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 900;
	line-height: 26px;
	line-height: 1.625rem;
}
.finalprice {
	color: #125482;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 1.2;
	letter-spacing: 1.2px;
	letter-spacing: 0.075rem;
	padding: 15px 0;
}
.finalpriced {
	float: left;
	width: 90px;
	color: #175f8e;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 15px;
	line-height: 0.938rem;
	padding-top: 17px;
}
.formsend {
	margin-top: 30px;
}
.formsend a {
	color: #175f8e;
}
.formagree {
	/* float: left;
	width: 40%; */
	color: #a5a5a5;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 15px;
	line-height: 0.938rem;
	padding-top: 10px;
	margin-top: 30px;
}
.formagree a {
	color: #333333;
}
.formsend button {
	width: 200px;
	float: right;
}
.formsend button[disabled] {
	background-color: #CBCBCB;
	cursor: default;
}
.formleft h3 {
	margin-top: 30px;
}
.igosel {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	background: #FFFFFF url("images/arr_down.png") 97% 12px no-repeat;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 7px 15px;
	color: #656565;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
	cursor: pointer;
}
.igosel.sel {
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background: #FFFFFF url("images/arr_up.png") 97% 12px no-repeat;
}
.igodd {
	display: none;
	width: 100%;
	background: #FFFFFF;
	padding: 0;
	border: 2px solid #33a3dc;
	border-top: 1px solid #C8C8C8;
	border-radius: 0 0 5px 5px;
	color: #333333;
}
.igoset {
	padding: 10px 20px;
}
.igoset.faded {
	text-decoration: line-through;
}
.igoset input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.igotime {
	padding: 8px 20px;
	font-weight: 700;
}
.igo1 {
	background: #FFDDE6;
}
.igo2 {
	background: #DFFAAE;
}
.igo3 {
	background: #DCCFA0;
}
.prodsel {
	width: 100%;
	height: 40px;
	background: #FFFFFF url("images/arr_down.png") 97% 12px no-repeat;
	border: 2px solid #33a3dc;
	border-radius: 5px;
	padding: 7px 15px;
	color: #000000;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 22px;
	line-height: 1.375rem;
	text-align: left;
	cursor: pointer;
}
.prodsel.sel {
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background: #FFFFFF url("images/arr_up.png") 97% 12px no-repeat;
}
.proddd {
	display: none;
	position: absolute;
	text-align: left;
	width: 250px;
	background: #FFFFFF;
	padding: 0;
	border: 2px solid #33a3dc;
	border-top: 1px solid #C8C8C8;
	border-radius: 0 0 5px 5px;
	color: #333333;
}
.prodset {
	padding: 10px 20px;
}
.prodset.faded {
	text-decoration: line-through;
}
.prodset input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
}
.chosen {
	padding: 20px;
	color: #333333;
}
.chitem {
	margin-top: 10px;;
}
.igonum {
	float: left;
	width: 30px;
}
.igodesc {
	float: left;
	width: calc(100% - 130px);
	padding-right: 20px;
}
.igodel {
	float: left;
	width: 100px;
	cursor: pointer;
}
.igodel span {
	color: #FF0000;
	margin-right: 7px;
}
.footer {
	color: #181818;
	line-height: 25px;
	text-align: right;
	padding: 25px 60px;
}
.footer a {
	color: #181818;
}
sup {
	color: #FF0000;
	line-height: 8px;
	
}
.err {
	color: #FF0000;
	padding: 0 5px;
	line-height: 14px;
	margin-bottom: 40px;
}
.burger {
	display: none;
}
.right {
	position: relative;
	height: 100px;
	pointer-events: none;
}
.right img {
	position: absolute;
	top: -250px;
	right: -170px;
}
.lefter {
	position: relative;
	height: 100px;
	pointer-events: none;
}
.lefter img {
	position: absolute;
	top: -100px;
	left: -320px;
}
.lnk {
	cursor: pointer;
	color: #333333;
	text-decoration: underline;
}
#pol {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
    -ms-transform: translate(-50%, 0);
   	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	width: 90%;
	max-width: 1000px;
	height: 70%;
	background: #FFFFFF;
	border: solid 1px #666666;
	border-radius: 20px;
	padding: 50px 20px 20px 20px;
	z-index: 201;
}
#inpol {
	height: 100%;
	overflow-y: auto;
	color: #2b608d;
	padding: 20px;
}
#inpol h2 {
	color: #2b608d;
}
#inpol h4 {
	margin-top: 10px;
}
.close {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 27px;
	height: 27px;
	padding: 6px;
	cursor: pointer;
}
.red {
	color: #FF0000;
}
.eshort {
	padding-right: 10%;
}
.mask, .mask1 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
}
.mask1 {
	z-index: 11;
}
#bells {
	-webkit-animation: ring 8s 1s ease-in-out infinite;
	-webkit-transform-origin: 50% 4px;
	-moz-animation: ring 8s 1s ease-in-out infinite;
	-moz-transform-origin: 50% 4px;
	animation: ring 8s 1s ease-in-out infinite;
	transform-origin: 50% 4px;
}
@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(30deg); }
	3% { -moz-transform: rotate(-28deg); }
	5% { -moz-transform: rotate(34deg); }
	7% { -moz-transform: rotate(-32deg); }
	9% { -moz-transform: rotate(30deg); }
	11% { -moz-transform: rotate(-28deg); }
	13% { -moz-transform: rotate(26deg); }
	15% { -moz-transform: rotate(-24deg); }
	17% { -moz-transform: rotate(22deg); }
	19% { -moz-transform: rotate(-20deg); }
	21% { -moz-transform: rotate(18deg); }
	23% { -moz-transform: rotate(-16deg); }
	25% { -moz-transform: rotate(14deg); }
	27% { -moz-transform: rotate(-12deg); }
	29% { -moz-transform: rotate(10deg); }
	31% { -moz-transform: rotate(-8deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }

	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }

	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}
.kavo img {
	width: 80%;
	margin: 0 auto;
}
.onmap {
	position: absolute;
	bottom: 6.5rem;
	left: 9rem;
	background-color: #FFFFFF;
	font-size: 1.1rem;
	line-height: 1.5;
	box-shadow: 0px 4px 16px rgba(61, 95, 147, 0.1);
	padding: 2.75rem 2rem;
	color: #181818;
}
.openform {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 100px 0;
	z-index: 11;
}
.openform_ {
	position: relative;
	width: 100%;
	text-align: center;
	background: transparent;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.openform h2 {
	color: #000000;
}
.formbox1 {
	position: relative;
	width: 595px;
	height: 469px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox1 h2 {
	color: #000000;
	margin-bottom: 50px;
}
.newform .uploaded {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
	color: #303030;
}
.newform h2 {
	margin-bottom: 30px;
}
.newform h3 {
	color: #606d76;
	margin-bottom: 30px;
}
.newform h4 {
	margin-bottom: 20px;
}
.newform h5 {
	margin-bottom: 20px;
}
.newform input, .newform select, .newform textarea {
	float: left;
	width: calc(100% - 140px);
	height: 46px;
	font-size: 18px;
	padding: 0 8px;
	border-radius: 4px 0 0 4px;
	background-color: #f3f9fc;
	border-left: solid 2px #3a97cc;
	border-top: solid 2px #63c0f1;
	border-bottom: solid 2px #3a97cc;
}
.newform select {
	font-size: 16px;
}
.newform_link {
	text-align: right;
	margin: 10px 0;
}
.newform_link span {
	color: #333333;
	cursor: pointer;
	padding: 4px;
}
.newform_link span:hover {
	color: #000000;
}
.newform input.invalid {
	background-color: #FF9999;
}
.newform input[type=checkbox] {
	-webkit-appearance: checkbox;
	margin-top: 4px;
	margin-right: 15px;
	width: 16px;
	height: 16px;
	background-color: #f3f9fc;
	border-style: solid;
	border-width: 2px;
	border-image-source: linear-gradient(to bottom, #63bff0, #3a97cc);
	border-image-slice: 1;
}
.newform button {
	position: relative;
	float: left;
	width: 120px;
	height: 50px;
	border-radius: 0 5px 5px 0;
	font-size: 18px;
	padding-right: 30px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
}
.newform button:after {
	content: "→";
	position: absolute;
	top: 10px;
	right: 19px;
	color: #9bdcfe;
}
.formbox_close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
}
.formbox_close .shape1 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(45deg);
	-webkit-backface-visibility: hidden;
}
.formbox_close .shape2 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(-45deg);
	-webkit-backface-visibility: hidden;
}
.formbox_close:hover .shape1 {
	background-color: #909fb0;
}
.formbox_close:hover .shape2 {
	background-color: #909fb0;
}
.f_anim {
	position: absolute;
	display: table;
	opacity: 0;
	text-align: center;
	bottom: 28px;
	left: 50%;
	margin-top: 20px;
	transform: translateX(-50%);
}
.at {
	display: inline;
	font-size: 28px;
	font-weight: 600;
	text-align: left;
	color: #47aadf;
	padding-right: 10px;
}
.arr {
	display: inline;
	font-size: 20px;
	line-height: 1.5;
	margin: 0 3px;
	color: #e7e7e7;
}
.dash {
	display: inline-block;
	width: 15px;
	height: 3px;
	margin: 13px 4px;
	background-color: #e7e7e7;
	-webkit-animation: arr 1s ease-in-out infinite;
	-moz-animation: arr 1s ease-in-out infinite;
	animation: arr 1s ease-in-out infinite;
}
.db {
	display: inline-block;
	width: 40px;
	margin-left: 10px;
}
.db div {
	float: left;
	height: 3px;	
}
.db1 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.1s ease-in-out infinite;
	-moz-animation: db 1.1s ease-in-out infinite;
	animation: db 1.1s ease-in-out infinite;
}
.db2 {
	width: 13px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1s ease-in-out infinite;
	-moz-animation: db 1s ease-in-out infinite;
	animation: db 1s ease-in-out infinite;
}
.db3 {
	width: 25px;
	margin: 1px 0;
	-webkit-animation: db 1.2s ease-in-out infinite;
	-moz-animation: db 1.2s ease-in-out infinite;
	animation: db 1.2s ease-in-out infinite;
}
.db4 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.5s ease-in-out infinite;
	-moz-animation: db 1.5s ease-in-out infinite;
	animation: db 1.5s ease-in-out infinite;
}
.db5 {
	width: 25px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1.2s ease-in-out infinite;
	-moz-animation: db 1.2s ease-in-out infinite;
	animation: db 1.2s ease-in-out infinite;
}
.db6 {
	width: 13px;
	margin: 1px 0;
	-webkit-animation: db 0.8s ease-in-out infinite;
	-moz-animation: db 0.8s ease-in-out infinite;
	animation: db 0.8s ease-in-out infinite;
}
.db7 {
	width: 40px;
	margin: 1px 0;
	-webkit-animation: db 1.1s ease-in-out infinite;
	-moz-animation: db 1.1s ease-in-out infinite;
	animation: db 1.1s ease-in-out infinite;
}
.db8 {
	width: 10px;
	margin: 1px 2px 1px 0;
	-webkit-animation: db 1s ease-in-out infinite;
	-moz-animation: db 1s ease-in-out infinite;
	animation: db 1s ease-in-out infinite;
}
.db9 {
	width: 28px;
	margin: 1px 0;
	-webkit-animation: db 1.4s ease-in-out infinite;
	-moz-animation: db 1.4s ease-in-out infinite;
	animation: db 1.4s ease-in-out infinite;
}
.f_desc {
	color: #303030;
	margin: 5px 0;
}
@-webkit-keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@-moz-keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@keyframes db {
	0% { background-color: #d8d8d8; }
	50% { background-color: #47aadf;}
	100% { background-color: #d8d8d8; }
}
@-webkit-keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
@-moz-keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
@keyframes arr {
	0% { width: 15px; }
	50% { width: 3px;}
	100% { width: 15px; }
}
.formmiddle {
	width: 80%;
	max-width: 500px;
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
	padding: 2rem 4rem 3rem 4rem;
	color: #333333;
}
.formmiddle img {
	float: left;
	width: 105px;
	height: 105px;
	border-radius: 105px;
	margin-bottom: 20px;
	margin-right: 35px;
}
.formtable {
	display: table;
	margin: 20px auto;
}
.formtable .formtxt {
	width: 400px;
	padding: 0;
	text-align: left;
}
.formbox2 {
	display: none;
	position: relative;
	width: 640px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox2 h2 {
	margin-bottom: 50px;
	color: #000000;
}
.form_msg {
	margin: 10px 0 20px 0;
	color: #CC2020;
	display: none;
	text-align: center;
}
.form_msg1 {
	margin: 10px 0 20px 0;
	color: #20CC20;
	display: none;
	text-align: center;
}
.formbox3 {
	display: none;
	position: relative;
	width: 640px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.formbox4 {
	display: none;
	position: relative;
	width: 640px;
	padding-bottom: 80px;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 47px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.newform_field {
	
}
.newform_ttl {
	float: left;
	width: 24%;
	height: 50px;
	font-size: 15px;
	color: #616d76;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.newform_fld {
	float: left;
	width: 76%;
}
.newform_ttl.big {
	height: 78px;
}
.newform_flda {
	width: 100%;
	color: #606d76;
}
.exists {
	display: none;
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
	color: #3a97cc;
}
.wrong {
	display: none;
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
	color: #AA0000;
}
.newform_fld input, .newform_flda input, .newform_fld select, .newform_fld textarea {
	background-color: #FFFFFF;
	border-radius: 4px;
	border: solid 2px #cddee9;
	margin-bottom: 10px;
}
.newform_fld input:focus, .newform_flda input:focus, .newform_fld select:focus, .newform_fld textarea:focus {
	background-color: #f3f9fc;
	border-radius: 4px;
	border-left: solid 2px #3a97cc;
	border-top: solid 2px #63c0f1;
	border-bottom: solid 2px #3a97cc;
	border-right: solid 2px #63c0f1;
}
.newform_fld textarea {
	height: 120px;
}
.newform_fld button {
	width: calc(100% - 122px);
	height: 60px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
	padding: 0;
	transition: background 0.5s;
}
.newform_fld button:after {
	content: '';
}
.newform_fld button[disabled] {
	background-image: linear-gradient(to bottom, #DDDDDD, #AAAAAA);
}
.newform_fld img {
	float: left;
	margin-left: 10px;
	width: 48px;
	cursor: pointer;
}
::-webkit-input-placeholder {color:#95aab7;}
::-moz-placeholder          {color:#95aab7;}
:-moz-placeholder           {color:#95aab7;}
:-ms-input-placeholder      {color:#95aab7;}
.partbuts {
	color: #e3e3e3;
	line-height: 2.3;
}
.partbut {
	display: inline-block;
	padding: 8px 13px 6px 13px;
	border-radius: 100px;
	font-size: 13px;
	line-height: 1.54;
	text-align: left;
	color: #303030;
	margin: 0 15px;
	cursor: pointer;
}
.partbut:first-child {
	margin-left: 0;
}
.partbut.active {
	background-color: #e7f2f9;
}
hr.hr {
	margin: 25px -40px 40px -40px;
	width: calc(100% + 80px);
	height: 1px;
	border: none;
    color: #FFFFFF;
	background-color: #FFFFFF;
}
button.upload {
	border: none;
	width: 175px;
	height: 40px;
	border-radius: 5px;
    background-image: none;
	background-color: #f3f3f3;
	padding: 0;
	float: none;
	color: #606d76;
	font-size: 15px;
	margin-top: 30px;
	margin-left: 20px;
}
button.upload:after {
	content: '';
}

.tabbut {
	display: inline-block;
	padding: 8px 13px 6px 13px;
	height: 40px;
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 2px transparent;
	margin: 0 15px 30px 15px;
	cursor: pointer;
	font-size: 16px;
	line-height: 1.3;
	color: #3d3d3d;
}
.tabbut.active {
	border: solid 2px #2fd030;
}
.newform_reg {
	margin: 20px 0;
}
.newform_fldu {
	color: #3d3d3d;
}
.addyur {
	display: table;
	margin: 20px auto;
	font-size: 18px;
	text-align: left;
	line-height: 1.7;
	color: #23be24;
	cursor: pointer;
}
.addyur span {
	font-size: 30px;
	font-weight: 900;
	line-height: 1;
	display: inline-block;
	vertical-align: bottom;
	padding-right: 6px;
}
.addyur small {
	display: block;
	font-size: 12px;
	line-height: 2;
	color: #606d76;
}
.addyurform {
	margin: 0 -30px;
	padding: 30px;
	border-radius: 5px;
	background-color: #e7f1f8;
}
.addyurform small {
	display: block;
	clear: both;
	font-size: 13px;
	line-height: 0.6;
	margin-bottom: 15px;
	color: #23be24;
}
.addyurform button {
	float: none;
	width: calc(100% - 122px);
	height: 60px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #63c0f1, #3a97cc), linear-gradient(#47aadf, #47aadf);
	padding: 0;
	margin-top: 30px;
	transition: background 0.5s;
}
.addyurform button:after {
	content: '';
}
.addyur_close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
}
.addyur_close .shape1 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(45deg);
	-webkit-backface-visibility: hidden;
}
.addyur_close .shape2 {
	position: absolute;
	top: 6px;
	left: 17px;
	width: 2px;
	height: 24px;
	background-color: #b3c6d2;
	transform: rotate(-45deg);
	-webkit-backface-visibility: hidden;
}
.addyur_close:hover .shape1 {
	background-color: #909fb0;
}
.addyur_close:hover .shape2 {
	background-color: #909fb0;
}
.notfound {
	margin-bottom: 30px;
}
.discount {
	padding: 20px 0 30px 0;
	color: #333333;
	font-size: 24px;
}
#discount {
	color: #3a97cc;
}
.moreprog {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
	width: 80%;
	max-width: 1250px;
	max-height: 80%;
	border-radius: 5px;
	text-align: left;
	background-color: #FFFFFF;
	color: #333333;
	padding: 80px 50px;
	overflow: auto;
	z-index: 21;
}
.moreprog h2, .moreprog h3 {
	line-height: 1.2;
	color: #3a97cc;
}
.form_error {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	padding: 50px 30px;
	color: #333333;
	text-align: left;
	background-color: #FFFFFF;
	border: solid 1px #333333;
	border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 12;
}
.small {
	color: #333333;
	font-size: 12px;
	margin-bottom: 10px;
}
.mktime {
	display: none;
	max-width: 1250px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.21);
	padding: 6px 15px;
	margin: 0 auto 6px auto;
	color: #2b608d;
	font-size: 24px;
	text-align: center;
}
/* .superback, .superback1 {
    background: linear-gradient(45deg, #2C9A9A, #010931, #bc5b80, #2C9A9A, #010931, #bc5b80, #fadf8d);
    background-size: 1500% 20000px;
    -webkit-animation: Gradient 35s ease infinite;
    -moz-animation: Gradient 35s ease infinite;
    animation: Gradient 35s ease infinite;
    background: linear-gradient(45deg, #2C9A9A, #010931, #bc5b80, #2C9A9A, #010931, #bc5b80, #fadf8d);
    background-size: 1500% 20000px;
    -webkit-animation: Gradient 35s ease infinite;
    -moz-animation: Gradient 35s ease infinite;
    animation: Gradient 35s ease infinite;
}
*/
.superback_ {
    background-image: url("images/map-header-01.png");
    background-position: 0 -100px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 2473px 634px;
	display: flex;
	width: 100%;
	padding: 60px 0;
}
.superback1_ {
	display: flex;
	width: 100%;
	padding: 120px 0;
}
.superback_left {
	width: 40%;
}
.superback_right {
	font-family: 'Conv_AvenirNextCyr-Bold';
	text-align: left;
	width: 60%;
	padding-left: 30px;
}
.superback h2, .superback1 h2 {
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.superback h3, .superback1 h3 {
	color: #65cbc9;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.superback h1, .superback1 h1 {
	font-family: 'Conv_AvenirNextCyr-Bold';
    font-size: 75px;
	color: #ffffff;
    line-height: 75px;
    margin: 0;
    text-align: right;
    padding-right: 30px;
    border-right: 2px solid #65cbc9;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4), 0 4px 12px rgba(0,0,0,0.6);
}
.eng {
	position: absolute;
	right: 20px;
	top: 10px;
	padding: 8px 8px;
	width: 40px;	
	height: 40px;
	border: solid 1px #FFFFFF;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
	pointer-events: auto;
	cursor: pointer;
}
.eng:hover {
	color: #DFDF9F;
	border: solid 1px #DFDF9F;
}
@media only screen and (max-width: 1360px) {
	.mkcount {
		margin: 5px 0;
	}
}
@media only screen and (max-width: 1024px) {
	.eng {
		right: 50px;
	}
	.header img {
		padding-left: 10px;
	}
	.right {
		display: none;
	}
	.lefter {
		display: none;
	}
	.menu {
		right: 100px;
	}
	.pspeaker img {
		margin-bottom: 25px;
	}
	.pr_title {
		width: 50%;
		padding-top: 4px;
	}
	.pr_desc {
		width: 0%;
		padding-top: 16px;
		padding-left: 40px;
	}
	.price {
		width: 25%;
		padding-top: 9px;
	}
	.button {
		padding-top: 5px;
	}
	h2 {
		font-size: 22px;
		font-size: 1.375rem;
	}
	.formtxt {
		width: 320px;
		padding-top: 8px;
	}
	.formleft .ttlc {
		width: 37%;
	}
	.formleft .fldc {
		width: 63%;
	}
	.formsend button {
		width: 160px;
	}
}
@media only screen and (max-width: 960px) {
	.hidden_desktop {
		display: block;
	}
	.header {
		padding: 1rem;
	}
	.header img {
		padding-left: 0;
		width: 4.75rem;
	}
	.top {
		padding-top: 4rem;
	}
	.main {
		height: 30.2rem;
		padding-top: 0.325rem;
		padding-left: 29%;
	}
	.main img {
		top: 0.5rem;
		width: 4.5rem;
		margin-left: -45%;
	}
	.main h4 {
		margin-left: -21%;
		top: 5.5rem;
		font-size: 2rem;
	}
	.main h4 span {
		font-size: 0.875rem;
		line-height: 1;
		font-weight: 400;
	}
	h1 {
		font-size: 1.4rem;
	}
	h2 {
		font-size: 2rem;
		padding-left: 1rem;
	}
	button.top_button {
		display: none;
	}
	.burger {
		display: block;
		position: fixed;
		top: 15px;
		right: 10px;
		width: 36px;
		height: 36px;
		padding: 7px;
		cursor: pointer;
		z-index: 100;
	}
	.mobmenu {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		padding: 80px 0;
		text-align: center;
		box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);
		background: #FFFFFF;
		z-index: 200;
	}
	.close2 {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 36px;
		height: 36px;
		padding: 7px;
		cursor: pointer;
	}
	.mobmenu ul li {
		list-style-type: none;
		text-align: center;
		height: 60px;
	}
	.mobmenu ul li a {
		color: #383838;
		height: 60px;
		font-size: 28px;
		font-size: 1.75rem;
		font-weight: 900;
		letter-spacing: 0.6px;
		text-decoration: none;
		padding: 15px 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.menu ul li a:hover {
		color: #66CCFF;
	}
	.menu ul li.ch {
		color: #66CCFF;
	}
	.menu {
		right: 100px;
	}
	.menu ul li {
		display: none;
	}
	.menu ul a button {
		width: 112px;
		padding-bottom: 2px;
		font-size: 14px;
		font-size: 0.875rem;
	}
	.persons {
		-webkit-transform-origin: bottom;
		-webkit-transform: scale(0.3875);
		-ms-transform-origin: bottom;
		-ms-transform: scale(0.3875);
		-moz-transform-origin: bottom;
		-moz-transform: scale(0.3875);
		transform-origin: bottom;
		transform: scale(0.3875);
		width: 258%;
	}
	.person0 {
		margin-left: -127.5%;
	}
	.person1 {
		margin-left: -114%;
	}
	.person2 {
		margin-left: -102.6%;
	}
	.person3 {
		margin-left: -86.1%;
	}
	.person4 {
		margin-left: -74%;
	}
	.person5 {
		margin-left: -54%;
	}
	.person span {
		display: none;
	}
	.person .color.opamob {
		-webkit-animation: Opa 1s ease infinite;
		-moz-animation: Opa 1s ease infinite;
		animation: Opa 1s ease infinite;
	}
	.about {
		padding: 3.5rem 1rem;
		background: #FFFFFF;
	}
	.tabs {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.tab {
		padding: 0.25rem 1rem;
	}
	.tab.active {
		color: #175f8e;
	}
	.slider {
		width: 100%;
		height: auto;
	}
	.tabs_divs > div {
		display: none;
	}
	.tabs_divs > .active {
		display: block;
	}
	.slide_descr {
		width: 100%;
		padding: 0;
		position: relative;
		margin-top: 1rem;
	}
	.slide_descr h3 {
		display: none;
	}
	.slider_swiper {
		height: 60vw;
	}
	.about .swiper-container {
		width: 100%;
		height: 60vw;
		margin-top: 1rem;
	}
	.programm {
		padding: 1rem;
	}
	.programm h2, .place h2 {
		width: auto;
	}
	.prog_items_container {
		width: 100%;
		background: none;
		box-shadow: none;
		padding: 0.1rem;
	}
	.prog_icon {
		width: 20%;
		padding-right: 5%;
	}
	.prog_right {
		width: 80%;
		-ms-flex-flow: wrap;
		flex-flow: wrap;
	}
	.prog_time {
		width: 100%;
	}
	.prog_theme {
		width: 100%;
	}
	.progline {
		width: calc(50% - 127px);
	}
	.progtabs {
		width: 254px;
	}
	.progtab {
		width: 127px;
		font-size: 14px;
		font-size: 0.875rem;
		letter-spacing: 0.56px;
		letter-spacing: 0.035rem;
		padding-top: 13px;
	}
	.placeline {
		width: calc(50% - 127px);
	}
	.placetabs {
		width: 254px;
	}
	.placetab {
		width: 127px;
		font-size: 14px;
		font-size: 0.875rem;
		letter-spacing: 0.56px;
		letter-spacing: 0.035rem;
		padding-top: 13px;
	}
	.txt {
		width: 90%;
	}
	.prog {
		width: calc(100% - 20px);
		min-height: 0;
		padding: 15px 20px;
		background-image: url("images/arr_mob.png");
		background-position: 94% 20px;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.prog.open {
		background-image: url("images/arr_mob1.png");
	}
	.event1 {
		display: block;
	}
	.pspeaker {
		display: none;
	}
	.event {
		display: none;
	}
	.dt {
		display: none;
	}
	.psimg {
		width: 100px;
		margin-right: 0;
	}
	.psimg img {
		width: 80px;
		height: 80px;
		margin-right: 0;
		border: 1px solid #c2c2c2;
		border-radius: 80px;
		margin-bottom: 20px;
	}
	.psd {
		float: left;
		width: calc(100% - 130px);
		text-align: left;
		padding-top: 15px;
		color: #175f8e;
		font-size: 12px;
		font-size: 0.75rem;
	}
	.psd span {
		color: #175f8e;
		font-size: 40px;
		font-size: 2.5rem;
		font-weight: 300;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.speakersdiv {
		width: 100%;
		overflow: hidden;
	}
	.arrright {
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 5px;
		cursor: pointer;
	}
	.arrleft {
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 5px;
		cursor: pointer;
	}
	.speakers, .speakers1 {
		width: 99999px;
		max-width: 99999px;
		margin: 0;
		justify-content: start;
	}
	.speaker {
		float: left;
		width: 320px;
		margin: 0;
		text-align: center;
	}
	.speaker img {
		width: 60%;
	}
/*
 	.spbullets {
		display: table;
		margin: 20px auto;
	}
*/	
	.prices {
		width: calc(100% - 20px);
		height: auto;
	}
	.pr_title {
		width: 100%;
	}
	.pr_desc {
		width: 100%;
		padding-left: 0;
	}
	.price {
		width: 100%;
		padding-left: 0;
		text-align: center;
		margin-bottom: 15px;
	}
	.button {
		width: 100%;
		text-align: center;
	}
	.button button {
		width: 100%;
		background-color: #38c2dc;
		color: #FFFFFF;
	}
	.gallery, .gallery1 {
		width: calc(100% - 20px);
		height: auto;
	}
	hr {
		width: calc(100% - 20px);
	}
	hr.between {
		display: none;
	}
	.map {
		height: 600px;
	}
	#map {
		margin-top: 20%;
		height: 600px;
		width: 100%;
	}
	.onmap {
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.place > img {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		top: 8%;
		height: auto;
		width: 90%;
	}
	.price_div {
		padding: 1rem;
	}
	.price_div_ {
		width: 100%;
		-ms-flex-direction:column;
		flex-direction:column;
	}
	.price_half {
		width: 100%;
	}
	.price_div h2 {
		padding-left: 0;
	}
	.formmiddle {
		margin-top: 2rem;
		width: 100%;
		padding: 2rem;
	}
	.formtxt {
		text-align: center;
		margin-top: 1rem;
	}
	button.blue_button {
		width: 100%;
		font-size: 1.25rem;
	}
	.price_self {
		-ms-flex-direction:column;
		flex-direction:column;
	}
	.formbox {
		width: calc(100% - 20px);
		height: auto;
	}
	.formleft {
		width: 100%;
		padding: 20px;
		border-radius: 3px 3px 0 0;
	}
	.formright {
		width: 100%;
		border: solid 2px #FFFFFF;
		border-radius: 0 0 3px 3px;
		padding: 20px;
	}
	.formright img {
		margin-right: 20px;
	}
	.formtxt {
		width: auto;
		padding-top: 0;
		font-size: 13px;
		font-size: 0.813rem;
	}
	.formprice {
		height: auto;
		padding: 15px;
	}
	.finalprice {
		width: 50%;
		font-size: 24px;
		font-size: 1.5rem;
	}
	.finalprice {
		width: 50%;
	}
	.formagree {
		width: 100%;
	}
	.formsend {
		width: 100%;
	}
	.formsend button {
		margin-top: 30px;
		width: 100%;
	}
	.ttl {
		display: none;
	}
	.formleft .fld {
		width: 100%;
	}
	.formleft .fld input {
		width: 86%;
	}
	.formleft .ttlc {
		display: none;
	}
	.formleft .fldc {
		width: 100%;
	}
	.formleft .fldc .code input[type=text] {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 100%;
	}
	.mkcount {
		display: block;
		margin: 20px 0 0 0;
	}
	.igo {
		position: relative;
		right: 0;
		margin: 10px 0;
	}
	.formbox3 {
		padding: 30px 15px;
	}
	.formtable .formtxt {
		float: none;
		width: 100%;
	}
	.newform_ttl {
		width: 35%;
	}
	.newform_fld {
		width: 65%;
	}
	.formmiddle img {
		float: none;
	}
	.addyurform button {
		width: 100%;
	}
	.newform_fld button {
		width: 100%;
	}
	.newform input, .newform select, .newform textarea {
		width: 88%;
		border-radius: 4px;
		border-left: solid 2px #3a97cc;
		border-top: solid 2px #63c0f1;
		border-bottom: solid 2px #3a97cc;
		border-right: solid 2px #63c0f1;
	}
	.newform button {
		width: 100%;
		border-radius: 5px;
		float: none;
		margin-top: 20px;
	}
	.f_anim {
		display: none;
	}
	.formbox1 {
		height: auto;
	}
	.formbox2 {
		height: auto;
		padding: 20px;
	}
	.newform_fld img {
		display: none;
	}
	.superback_, .superback1_ {
		display: block;
		padding: 20px 0;
		height: 505px;
	}
	.superback_left {
		width: 100%;
		text-align: left;
		padding-left: 30px;
	}
	.superback h1, .superback1 h1 {
		border: none;
		font-size: 60px;
		margin-bottom: 40px;
		text-align: left;
	}
	.superback_right {
		width: 100%;
	}
	.person_descr {
		font-size: 1.75rem;
		margin-left: -79%;
		left: 0;
		bottom: 35rem;
		width: 100%;
		padding: 0 1rem;
	}
	.person_descr span {
		display: block;
		color: #000000;
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}
}
@media only screen and (max-width: 480px) {
	.formleft .ttla {
		width: 77%;
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 13px;
		line-height: 0.813rem;
	}
	.formleft .flda {
		width: 23%;
		text-align: center;
	}
	.formleft .flda select.small {
		width: 60px;
	}
	#left {
		top: 40px;
		left: -140px;
		margin-left: 0;
	}
	#right {
		top: 0;
		right: -200px;
		margin-left: 0;
	}
	#bells {
		top: 440px;
	}
	.smll {
		font-size: 13px;
	}
	.hdr {
		display: none;
	}
	.mhide {
		display: none;
	}
}
@-webkit-keyframes Gradient {
	 0% {
	 background-position: 0% 50%
	}
	 50% {
	 background-position: 100% 50%
	}
	 100% {
	 background-position: 0% 50%
	}
}
@-moz-keyframes Gradient {
	 0% {
	 background-position: 0% 50%
	}
	 50% {
	 background-position: 100% 50%
	}
	 100% {
	 background-position: 0% 50%
	}
}
@keyframes Gradient {
	 0% {
	 background-position: 0% 50%
	}
	 50% {
	 background-position: 100% 50%
	}
	 100% {
	 background-position: 0% 50%
	}
}
@-webkit-keyframes Opa {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@-moz-keyframes Opa {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@keyframes Opa {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.nointerval {
	margin-bottom: 0;
}
iframe {
	max-width: 100%;
}
.captcha_err {
	display: none;
	color: #FF6660;
	font-size: 15px;
}
.g-recaptcha {
	display: inline-block;
	margin-top: 15px;
}
.centered {
	text-align: center;
}
#discounts {
	display: none;
}
.semitransp {
	opacity: 0.3;
}
.places_left {
	color: #333333;
	text-align: center;
	padding: 15px 0;
}
.swiper-button-prev, .swiper-button-next {
	left: 50%;
	top: 100%;
	margin-top: -72px;
	width: 72px;
	height: 72px;
	background-color: #FFD52E;
}
.swiper-button-prev {
    margin-left: -72px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	opacity: 1;
}
.swiper-button-disabled {
	background-color: #FFDE5A;
}
