a:focus,button:focus {outline:none !important;}

.event-page .white-pnl.preview .old-price,
.event-page .white-pnl article .old-price{
    text-decoration: line-through;
    color: #ff0000;
    cursor: default;
    font-size: 16px;
}
.main-nav .navbar-collapse ul.bottom li.cabinet:hover a {
    color: #fff;
}
.main-nav .navbar-collapse ul.bottom li.cabinet a:hover {
    color: #c9d6e2;
}
.nav>li.cabinet{color:#fff; }/*padding:0 15px*/
/*.nav>li.cabinet>a,*/
.main-nav .navbar-collapse ul.bottom li.cabinet.auth_links{padding:0 15px}
.main-nav .navbar-collapse ul.bottom li.cabinet.auth_links a{display:inline;padding:0}

.events-calendar, .seminars-calendar {

    margin: 0 0 30px;
}

.speakers-page .left .img-responsive,
.events-page .items .item .left img,
.event-page img.speaker,
.thumbnail .author img,
.webinars .items .item .right .speaker img,
.dealers-speakers-page .card-item__left .img-responsive,
.dealer-event-page .card-item__left .img-responsive{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 0px;
}

.preview .speaker{display:inline-block}

.speakers-page .speaker-info .left{width:180px}
.speakers-page .speaker-info .right{
    width: calc(100% - 195px);
}
.speakers-page .speaker-info .right p {
    font-size: 14px;
    color: #787878;
    line-height: 23px;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.webinar_video {
    position: relative;
    width: 100%;
    height: 0;
    /*padding-bottom: 76.25%;*/
    padding-bottom: 60.25%;
}
.webinar_video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
article img {
    margin: 20px 0;
    max-width: 100%;
    height: auto;
    display: block;
}

/*.content-col a:visited,*/
.content-col a:focus {
    color: #2aa8ec;
}
.content-col .pagination .active a:visited,.content-col .pagination .active a:focus {
    color: #fff;
}

.feedbacks .seminar-partner-type:after,
.feedbacks .seminar-woo-type:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 30px;
    height: 5px;
    width: 88px;
}

.feedbacks .seminar-type:after {
    background-color: #b2e7fa;
}
.feedbacks .webinar-type:after {
    background-color: #feefc0;
}
.feedbacks .seminar-partner-type:after {
    background-color: #becefd;
}

.feedbacks .seminar-woo-type:after {
    background-color: #bfeec4;
}

.page-header{margin: 20px 0 32px;}
.page-header h1 {
    display: inline;
}

.top-slider .carousel-inner > .item img.img-responsive{
    margin-bottom:20px;
}
.top-slider .carousel-inner > .item .info{
    padding-top:40px;
}

.events .thumbnail .topic a{color: #505050;}
footer .social-icons li, footer .payment-icons li {margin-right: 7px;}

.content-col .item .speaker{margin-right: 5px;}
.content-col .item .speaker::after{content:","}
.content-col .item .speaker.last{margin-right: 15px;}
.content-col .item .speaker.last::after,
.webinars .content-col .items .item .right .speaker::after{content:""}

.top-selectors .dropdown-menu {
    -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
    -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.125);
    z-index: 10000;
}
/*.events .thumbnail .location{height: 65px;}
.events .thumbnail .topic-wrapper {height: 140px;}
.events .thumbnail .topic-wrapper a{
    color: #377bb5;
}*/
.news ul li a{
    color: #377bb5;
}
.news ul li a:hover{
    color: #2aa8ec;
}

.reset_filter{
    float:right;
    padding:7px 20px;
}
.reset_filter i.fa{color:red; margin-right:5px;}

.register-modal.wide-modal  .modal-dialog {
    width: 600px;
}

.content-col a.buy-button:visited, .content-col a.buy-button:focus {
    color: #fff;
}

.content-col .item .speaker {
    display: inline-block;
}

.help_ico,
.help_ico:visited{
    font-size: 20px;
    vertical-align: middle;
    color: #07477d;
    margin-left:10px;
}
.help_ico i{
    color: #07477d;
}

.ya-share2{display: inline-block;}

#fblock_order_upload{display:none}
.fn_block_order_upload{display:none}

.form-control.checkbox{width:auto; height:auto; box-shadow:none}
.required_text{
    font-size: 12px;
    color: red;
}

.reserv{
    color:#777;
    font-size: 16px;
    padding: 4px 20px 0;
    vertical-align: middle;
    display:inline-block;

}
.event-page .reserv{
    padding: 4px 0px 0 20px;
    display: block;
}

/*.empty_button{
    margin: 5px auto 35px;
    display: inline-block;
    height: 20px;
}*/
.empty_button.btn.btn-green{
    width:1px;
    background:none;
    border:1px solid #fff;
    height: 40px;
}

.event_discount_wrap h4{
    margin-top:0;
}

.purchase_form .agree input {
    position:absolute;
}
.purchase_form .agree span {
    padding-left: 20px;
    display: block;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}
/*.top .social-icons li{
    display:inline-block;
    margin-right: 0;
}*/

.socials-pnl-right{
    margin: 0 0 30px;
    text-align: center;
}
/*.socials-pnl-right .ya-share2__container_size_s .ya-share2__icon, .socials-pnl-right .ya-share2__badge {
        height: 20px;
        width: 20px;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        border-radius: 20px !important;
        background-size: 90% !important;
        background-position: center center !important;
}*/
.fake_btn{
    margin: 5px auto 20px;
    padding: 9px 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    content:" "
}
.videos .thumbnail .video-link .header3 {
    min-height: 76px;
}
.videos .thumbnail .author img {
    max-width: 60px;
    max-height: 60px;
}
.webinars .items .item .right .speaker a,
.webinars .items .item .right .speaker a:visited
{
    color:#787878;
}
.form-horizontal.contactsForm .form-group input + span{
    font-size:14px;
    color:#505050;
}
.free_price{
    height:23px;
}

.legallist_wrap_first{margin-top:40px;}
.table.legallist_wrap > tbody > tr > td,
.table.legallist_wrap > tbody > tr > th{
    padding:15px;
}
.item_develiry{
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
}
.editLegal{
    margin-top:20px;
}
.legallist_wrap .btn{
    padding:3px 5px;
}
.legallist_wrap .btn:first-child{
    margin-right:10px;
}
.legallist_wrap .but_list{
    width:100px;
    text-align:right;
}
.events .thumbnail .location {
    min-height0: 50px;
}

.main-nav .navbar-collapse ul.top li ul li.kerr a{
    top:3px;
}
.main-nav .navbar-collapse ul.top li ul li.kavo a{
    margin-top: 2px;
}

.errors h3,
.errors ul li{
    color:red;
}
.content_soc_wrap .socials-pnl-right{margin-bottom:0;}
.content_soc_wrap:after {
    content: '';
    display: block;
    clear: both;
}

article.pc-1551 img {
    margin: 0;
    width: auto;
    height: auto;
    display: inline;
}
article.pc-1551 table td{
    width: auto;
    text-align:left;
}

/*file-upload*/
.file-upload {
    position: relative;
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    outline: none;
    opacity: 0;
}

.file-upload input[type=button] {
    padding: 5px 20px;
}

.file-upload span {
    margin-left: 15px;
}
/*\file-upload*/

/* правка для блока видео*/

.videoblock {
    height: 0;
    padding-bottom: 60.25%;
    position: relative;
    width: 100%;
}

.videoblock  iframe {

    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}

/*calendar css*/
.calendar_start_date a,
.ui-datepicker td.calendar_start_date a{
    border-radius: 25px 0 0 25px !important;
    width: 100%;
    border-left: 4px solid #fff;
}
.calendar_finish_date a,
.ui-datepicker td.calendar_finish_date a{
    border-radius: 0 25px 25px 0 !important;
    width: 100%;
    border-right: 4px solid #fff;
}
.calendar_middle_date a,
.ui-datepicker td.calendar_middle_date a{
    border-radius: 0 !important;
    width: 100%;
}


/*promocodes*/
.promocode_wrap{
    margin: 10px 0;
}
.register-modal .agree input.input_promocode{
    width: 100px;
    display: inline-block;
    position:relative;
    margin-right:10px;
}
.apply_promocode{
    padding:  9px 20px;margin-top: -5px;
}

/*common articles css*/
article address{
    padding: 15px 15px;
    background: #efefef;
    border-left: 4px solid #2aa8ec;
    margin-left:10px;
    color:#07477d;
}
article p.gray-block {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #e6e6e6;
}



@media (max-width: 600px) {
    .register-modal.wide-modal  .modal-dialog {
        width: 367px;
    }
}
@media (max-width: 370px) {
    .register-modal.wide-modal  .modal-dialog {
        width: 300px;
    }
}


/*acreditation mark*/
.akkr{
    background: url('../img/logo_star.png') no-repeat center center;
    background-size:cover;
    display:block;
    width:32px;
    height:32px;
    position:absolute;
    left:5px;
    top:5px;
}
.akkr_list{
    float:left;
    background: url('../img/logo_star_big.png') no-repeat center center;
    background-size:cover;
    display:block;
    width:100px;
    height:42px;
}
.akkr_info{
    float:right;
    background: url('../img/logo_star_big.png') no-repeat center center;
    background-size:cover;
    display:block;
    width:100px;
    height:42px;
}


.content_wrap a, .content_wrap a:focus, .content_wrap a:visited{
    text-decoration: none;
    border-bottom: 1px solid;
}
.content_wrap a:focus, .content_wrap a:hover{
    text-decoration:none;
    border-bottom: none;
}

/*new dealers*/
.right-filters__item-right {
    padding-left0: 90px;
}
.content-col a.js--filters-submit:focus,
.content-col .download-list__item a:focus{
    color: #fff;
}

/*webinar*/
.webinars .content-col .items .item.dealers{
    position:relative;
}
.webinars .content-col .items .item.dealers:before{
    content: " ";
    width:10px;
    height:40px;
    background: #becefd;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}


.input-group .form-control.file_load {
    width: 100px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}


@media (hover: none) {
    .top-arrow:hover {
        background-color: transparent;
        border-color: #6a91b1;
    }
    .top-arrow:hover:after {
        color: #377bb5;
    }
}

@media (max-width: 870px){

    .akkr_info{
        background: url('../img/logo_star.png') no-repeat center center;
        background-size:cover;
        width:42px;
        height:42px;
    }
}
@media (max-width: 670px){

    .top-selectors {
        padding: 0 20px;
    }

    .top-selectors .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }

    .top-selectors .bootstrap-select .btn-default {
        width: 100%;
        background-color: #f3f3f3 !important;
        border: 1px solid #b7b7b7 !important;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    .top-selectors .bootstrap-select.btn-group .dropdown-toggle .filter-option,
    .top-selectors .bootstrap-select .caret:before {
        color: #505050;
    }

    .top-selectors .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        font-family: open_sansregular;
    }

    .top-selectors .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
        margin-top: 10px;
    }

    .top-selectors .dropdown-menu {
        width: 100%;
        top: 40px;
    }

    .top-selectors .dropdown-menu > li > a {
        padding: 10px 20px;
    }
}

@media (max-width: 480px){
    .events-page .buttons span.akkr_list{
        float:none;
        background: url('../img/logo_star_big.png') no-repeat center center;
        background-size:cover;
        display:block;
        margin:0 auto;
        width:100px;
        height:42px;
    }

    .akkr_info{
        background: url('../img/logo_star_big.png') no-repeat center center;
        background-size:cover;
        width:100px;
        height:42px;
        float:none;
        display:block;
        margin:0 auto 10px;
    }
}





.new-icon_stazh:after {
    background-image: url('../img/new-images/Collaboration.png');
    background-size: contain;
}

.reset_filter{
    float:none !important;
    font-size: 20px;
    vertical-align: middle;
    padding:0 !important;
    margin-left:10px;
}

.tooltip {z-index:9999;}
.tooltip > .tooltip-inner {background-color: #377bb5;}
.tooltip.top .tooltip-arrow {border-top-color: #377bb5;}

.tooltip > .tooltip-inner h1,
.tooltip > .tooltip-inner h2,
.tooltip > .tooltip-inner h3,
.tooltip > .tooltip-inner h4{color: #fff; margin:0 3px;}
/*.tooltip_c + .tooltip > .tooltip-inner {background-color: #377bb5;}
.tooltip_c + .tooltip.bottom .tooltip-arrow{
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #377bb5;
  border-width: 0 5px 5px;
}
.tooltip_c + .tooltip.top .tooltip-arrow{
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #377bb5;
  border-width: 0 5px 5px;
}*/

.bootstrap-select.btn-group .dropdown-menu li.disabled a span.check-mark{
    cursor: not-allowed;
    pointer-events: all !important;
    border: 1px solid #cecece;
}
.multiple-custom .dropdown-menu li.disabled a span.check-mark:hover{
    border: 1px solid #cecece;
}

.multiple-custom .js--filters-submit span{
    display0:none;
}
.multiple-custom .js--filters-submit.refresh span{
    display: inline-block;
    margin-right: 5px;
}

.new-icon_large {
    background-image: none;
    background-color: #387bb5;
}
.new-icon_xlarge {
    background-image: none;
    background-color: #387bb5;
}
.new-icon0 {
    background-image: none;
    background-color: #387bb5;
}

.card-item_extended .card-item__left.d_link_wrap {
    text-align: center;
}
.card-item_extended .card-item__left.d_link_wrap .d_link{
    margin:5px;
    display:inline-block
}

a.btn_icon-back {
    background-color0: #c3d5e1;
    cursor: pointer;
}
a.btn_icon-back:active,
a.btn_icon-back:focus {
    background-color0: #c3d5e1;
    color: white;
    cursor: default;
}
a.btn_icon-back:hover {
    background-color0: #c3d5e1;
    color0:#2ba8eb;
}

.btn-primary.btn_icon-back{
    float:right;
    margin:20px 0 10px;
    background0:#c3d5e1;
    position: relative;
    padding: 5px 10px;

    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.28);

}
.btn-primary.btn_icon-back.into{
    margin:0;

}
.btn_icon-back i{
    margin-right: 10px;
}
/*.btn_icon-back:hover i{
	color:#2ba8eb;
}*/
.btn-primary.btn_icon-back.program_back{
    margin-top: -10px;
}

.right_side{
    float:right;
    margin-top0:12px;
}
.metadata-list_inline .metadata-list__item.right_side:first-child{
    margin-right:0px;
}
.right_side .types-list__item{
    display: inline-block;
    font-size: 0;
    margin: 0px 15px 0 0;
}

#speakerBigImage .modal-body{
    text-align:center;
}
#speakerBigImageSrc{
    width:100%;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
    min-width:50px;
}

.new-icon_small:after {
    background-size: auto 15px;
}


@media (min-width: 767px){
    .card-item.program .metadata-list__item-icon,
    .speaker_programs .metadata-list__item-icon{
        vertical-align: middle;
    }
    .card-item.program .metadata-list_inline .metadata-list__item,
    .speaker_programs .metadata-list_inline .metadata-list__item{
        line-height: 40px;
        vertical-align: baseline;
    }
}

/**
 * Menu
 */
.submenu {
    background: #ebebeb;
    overflow: hidden;
    position: relative;
}
@media (min-width: 871px) {
    .submenu {
        display: none !important;
    }
}
.submenu_is-open .submenu__top {
    background: #dedede;
}
.submenu_is-open .submenu__top:after {
    transform: rotate(-180deg);
}
.submenu__top {
    font-weight: bold;
    font-size: 14px;
    color: #505050;
    padding: 13px 15px;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 0.3s ease-out;
    background: #ebebeb;
}
.submenu__top:after {
    content: '\f107';
    position: absolute;
    right: 15px;
    top: 13px;
    color: #505050;
    font-size: 20px;
    font-family: fontAwesome;
    transition: all 0.3s ease-out;
}
.submenu__content {
    display: none;
    overflow: hidden;
}
.submenu__content-inner {
    padding: 10px 15px 15px;
}
.submenu__content-inner > div {
    margin-bottom: 15px;
}
.submenu__content-inner > div:last-child {
    margin-bottom: 0 !important;
}


.glyphicon-refresh-animate{
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@media (max-width: 870px){

    .reset_filter{
        padding:0 !important;
    }
}
