@pointsColor: #ffb41f;

.event-points-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 9px;
  color: #fff;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  cursor: pointer;
  transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;

  &,
  &:focus,
  &:active {
    background-color: @pointsColor;
    color: white !important;
  }

  &:hover {
    background-color: goldenrod;
    color: white;
  }

  &__icon {
    font-size: 18px;
    line-height: 22px;
    float: left;
  }

  &__count {
    margin-left: 5px;
    line-height: 22px;
    float: left;
  }
}

.event-points-button {
  padding-right: 42px;
  position: relative;

  &,
  &:active,
  &:focus {
    color: #fff !important;
  }

  &:hover {
    color: #fff;
    opacity: 1;
  }

  &__help {
    position: absolute;
    right: 17px;
    top: 50%;
    margin: -10px 0 0 !important;
    font-size: 20px;
    line-height: 20px;

    .fa {
      margin: 0;
      color: #fff;
    }
  }
}

.event-points-badge {
  padding: 2px 9px !important;
  background: @pointsColor;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 5px;
  display: inline-block !important;
}

.event-points-option {
  &_disabled {
    background: whitesmoke;
    padding: 10px 15px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 5px 0 0;

    span {
      color: gray;
    }
  }

  &__message {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 7px;
    color: red;
  }
}

.event-points-amount {
  position: relative;
  line-height: 20px;
  background: whitesmoke;
  padding: 10px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 0 0;

  &__text {
    vertical-align: top;
  }

  &__help {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    .fa {
      margin: 0;

      &,
      &:active,
      &:focus {
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.event-points-summary {
  margin-bottom: 40px;

  &__text {
    margin: 0 0 5px;

    span {
      color: red;
    }
  }
}

.event-points-table {
  &_existing {
    color: @pointsColor;
  }

  &_potential {
    color: #99da90;
  }

  &_frozen {
    color: #61b6ff;
  }

  &

  &__header {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
  }

  &__count {
    text-align: center;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    margin: 10px 0;
  }

  &__text {
    text-align: center;
  }
}

.event-points-dot {
  &:before,
  &:after {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: -1px;
  }

  &_menu {
    &:before {
      content: '';
      margin-right: 8px;
    }
  }

  &_dropdown {
    &:before {
      content: '';
      margin-right: 8px;
    }
  }

  &_submenu {
    &:after {
      content: '';
      margin-left: 8px;
    }
  }
}

.event-points-buttons {
  margin: 35px 0 10px;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 5px;
  }
}

.seminars .items .item,
.content-col .items .item,
.event-page .preview {
  position: relative;
}

.events-page .item .btn-blue, .events-page .item .btn-orange, .event-page .btn-blue, .event-page .btn-orange {
  height: 40px;
}

.btn-group .btn-blue {
  z-index: 15;
}

.event-page .btns .btn-group {
  margin-bottom: 10px;

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.btn-points-discount {
  &,
  &:focus,
  &:active {
    background-color: @pointsColor;
    color: white;
  }

  &:hover {
    background-color: goldenrod;
    color: white;
  }
}
