.interview {
  &__description {
    margin: 0 0 20px;
  }

  &__stars {
    text-align: center;
    margin: 10px 0 0;
    overflow: hidden;

    &-item {
      margin: 0 5px;
      font-size: 40px;
      line-height: 40px;
      color: #E7E7E7;
      cursor: pointer;
      transition: color .15s ease-in-out;

      &_active {
        color: #ffd700;
      }
    }
  }

  &__comment {
    margin: 25px 0 0;
    overflow: hidden;

    &-textarea {
      min-height: 100px !important;
    }
  }
}


.interview-modal {
  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
  }

  .modal-header {
    border: none;
    padding: 10px 15px 10px 40px;
  }

  .modal-header .header4 {
    margin: 0;
    margin-top: 20px;
  }

  .modal-header .close span,
  .modal-header .close {
    color: #377bb5;
    opacity: 1;
  }

  .modal-body {
    padding: 10px 40px;
  }

  .modal-footer {
    padding: 0 40px 40px;
    border: none;
  }

  .form-group {
    margin-bottom: 15px;
  }
}
