.interview__description {
  margin: 0 0 20px;
}
.interview__stars {
  text-align: center;
  margin: 10px 0 0;
  overflow: hidden;
}
.interview__stars-item {
  margin: 0 5px;
  font-size: 40px;
  line-height: 40px;
  color: #E7E7E7;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}
.interview__stars-item_active {
  color: #ffd700;
}
.interview__comment {
  margin: 25px 0 0;
  overflow: hidden;
}
.interview__comment-textarea {
  min-height: 100px !important;
}
.interview-modal .modal-dialog {
  margin-left: auto;
  margin-right: auto;
}
.interview-modal .modal-header {
  border: none;
  padding: 10px 15px 10px 40px;
}
.interview-modal .modal-header .header4 {
  margin: 0;
  margin-top: 20px;
}
.interview-modal .modal-header .close span,
.interview-modal .modal-header .close {
  color: #377bb5;
  opacity: 1;
}
.interview-modal .modal-body {
  padding: 10px 40px;
}
.interview-modal .modal-footer {
  padding: 0 40px 40px;
  border: none;
}
.interview-modal .form-group {
  margin-bottom: 15px;
}
