.click() {
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


/**
 * Common
 */

a.btn-blue {
  cursor: pointer;

  &:active,
  &:focus {
    background-color: #07477d;
    color: white;
    cursor: default;
  }

  &:hover {
    background-color: #2ba8eb;
    color: white;
  }
}

.btn {
  &_icon-download {
    position: relative;
    padding-left: 42px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -11px;
      width: 16px;
      height: 21px;
      overflow: hidden;
      background-image: url("../img/new-images/icon-download.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &_small {
    padding: 4px 10px;
  }
}

.dealer-event {
  margin-top: 30px;
}

.rows-equals-height {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .card-item {
    height: 100%;
  }
}


/**
 * New icons
 */


.new-icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-image: linear-gradient(to top, #69b2db, #387bb5);
  text-align: center;
  font-size: 12px;
  color: #fff;

  &:after {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &_large {
    width: 60px;
    height: 60px;
    font-size: 32px;
    line-height: 60px;
    background-image: none;
    background-color: #387bb5;
  }

  &_xlarge {
    width: 80px;
    height: 80px;
    font-size: 36px;
    line-height: 80px;
    background-image: none;
    background-color: #387bb5;
  }

  &_home {
    &:after {
      background-image: url("../img/new-images/icon-home.svg");
    }
  }

  &_user {
    &:after {
      background-image: url("../img/new-images/icon-user.svg");
    }
  }

  &_users {
    &:after {
      background-image: url("../img/new-images/icon-users.svg");
    }
  }

  &_calendar {
    &:after {
      background-image: url("../img/new-images/icon-calendar.svg");
    }
  }

  &_hat {
    font-family: 'FontAwesome';

    &:after {
      content: '\f19d';
    }
  }

  &_calendar-big {
    font-family: 'FontAwesome';

    &:after {
      content: '\f274';
      left: 2px;
    }
  }

  &_speaker {
    &:after {
      background-image: url("../img/new-images/icon-speaker.svg");
    }
  }
}



/**
 * Download list
 */

.download-list {
  background-color: white;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3);
  padding: 30px 30px 40px;
  border-top: 4px solid #2aa8ec;
  min-height: 160px;

  &_sticky {
    .download-list__inner {
      position: fixed;
      top: 100px;
      left: 0;
      right: 0;
      z-index: 1020;
      background-color: white;
      box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.28);
    }

    .download-list__header {
      display: none;
    }

    .download-list__list {
      max-width: 1180px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 10px auto;
    }
  }

  &__header {
    font-size: 20px;
    line-height: 27px;
    color: #1d6ca7;
    margin: 0;
  }

  &__list {
    margin-top: 10px;
    font-size: 0;
  }

  &__item {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
  }
}


/**
 * Right filters
 */

.right-filters {
  margin-bottom: 30px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  background-color: white;

  &__inner {
    padding: 25px 10px 25px 17px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    min-height: 34px;
    margin: 6px 0;
    padding: 0;
    color: #3a7db7;

    &_link {
      &,
      .right-filters__item-link:focus {
        color: #3a7db7;
      }

      &.active a,
      .right-filters__item-link:hover {
        color: #07477d;
      }

      .right-filters__item-link:hover {
        .right-filters__item-checkbox {
          border-color: #3a7db7;
        }

        .right-filters__item-checkbox_checked {
          border-color: #2aa8ec;
        }
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-link {
      display: block;
      line-height: 34px;
      color: #787878;

      &[href] {
        color: #3a7db7;
        transition: all .3s;

        &:hover {
          color: #07477d;
        }
      }

      &_active {
        color: #07477d;
      }
    }

    &-left {
      display: block;
      position: absolute;
      width: 61px;
      left: 0;
      top: 0;
      height: 34px;
      line-height: 34px;
      vertical-align: middle;
      text-align: center;
    }

    &-right {
      display: block;
      padding-left: 70px;
    }

    &-img {
      max-width: 61px;
    }

    &-label {
      font-size: 12px;
      line-height: 20px;
      display: inline-block;
    }

    &-checkbox {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      float: left;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 1px solid #a3defe;
      margin: 9px 0 0 0;
      transition: all .3s;

      & + .right-filters__item-label {
        display: inline-block;
        margin-left: 26px;
      }

      &_checked {
        z-index: 1;
        border-color: #2aa8ec;
        background-color: #2aa8ec;

        &:after {
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\f00c';
          position: absolute;
          z-index: 2;
          left: 1px;
          top: 1px;
          color: #fff;
        }
      }
    }
  }

  &__button {
    margin-top: 25px;
  }
}


/**
 * Card item
 */

.card-item {
  display: block;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
  padding: 30px;
  margin-top: 30px;
  z-index: 1;

  &[data-href] {
    cursor: pointer;
    transition: all .3s;

    &:hover {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    }
  }

  &_extended {
    .card-item__left {
      width: 180px;
      margin-right: 20px;
    }

    .card-item__right {
      margin-left: 200px;
    }
  }

  &__checkbox {
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 14px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #a3defe;
    transition: all .3s;
    .click();

    &:hover {
      border-color: #3a7db7;
    }

    &_checked {
      z-index: 1;
      border-color: #2aa8ec;
      background-color: #2aa8ec;

      &:after {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f00c';
        position: absolute;
        z-index: 2;
        left: 1px;
        top: 1px;
        color: #fff;
      }

      &:hover {
        border-color: #2aa8ec;
      }
    }
  }

  &__hr {
    margin: 22px 0 0;
    border-top: 1px solid #ebebeb;
  }

  &__left {
    width: 80px;
    margin-right: 20px;
    float: left;
    margin-bottom: 8px;
  }

  &__right {
    margin-left: 100px;
    overflow: hidden;
  }

  &__title {
    font-size: 20px;
    line-height: 27px;
    color: #1d6ca7;
    margin: 0 0 5px;
  }

  &__info {
    font-size: 14px;
    line-height: 25px;
    color: #787878;
    margin: 0 0 10px;
  }

  &__username {
    font-size: 14px;
    line-height: 20px;
    color: #1d6ca7;
    margin: 2px 0 7px;
  }

  &__more {
    position: absolute;
    bottom: 19px;
    right: 30px;
    cursor: pointer;
    z-index: 3;
  }

  &__description {
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 25px;
    color: #505050;
    clear: both;
    width: 100%;
  }
}


/**
 * Metadata list
 */

.metadata-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &_inline {
    .metadata-list__item {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &__item {
    margin: 0;
    padding: 4px 0;
    font-size: 0;
    line-height: 20px;
    color: #3a7db7;

    &-icon {
      display: inline-block;
      vertical-align: top;
      margin-right: 8px;
    }

    &-text {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
    }
  }
}


/**
 * Types list
 */

.types-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    font-size: 0;
    margin: 15px 15px 0 0;
    line-height: 34px;

    &-img {
      vertical-align: middle;
    }
  }
}


/**
 * Header metadata
 */

.header-metadata {
  overflow: hidden;
  margin-bottom: 25px;
  margin-top: -25px;

  &__item {
    display: inline-block;
    margin-right: 30px;
  }
}


/**
 * Dealer choose
 */

.dealer-choose {
  display: block;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
  padding: 55px 15px 45px;
  margin-top: 40px;
  z-index: 1;
  text-align: center;

  &:hover {
    .dealer-choose__link {
      background-color: #2ba8eb;
      color: white;
    }
  }

  &__icon {

  }

  &__title {
    margin-bottom: 22px;
  }

  &__link {
    cursor: pointer;
  }
}


/**
 * Custom dropdown menu multiple
 */

.top-selectors.js--filters {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.multiple-custom {
  .dropdown-menu li a span.check-mark {
    display: block !important;
  }

  .dropdown-menu li.selected a span.check-mark {
    margin-top: 0 !important;
  }

  .check-mark {
    position: absolute;
    right: auto;
    top: 4px;
    left: 14px;
    display: block;
    overflow: hidden;
    z-index: 2;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #a3defe;
    transition: all .3s;
    .click();

    &:before {
      display: none;
    }

    &:hover {
      border-color: #3a7db7;
    }

    @media (max-width: 670px) {
      top: 10px;
    }
  }

  .dropdown-menu.inner {
    padding-bottom: 45px !important;
  }

  .dropdown-menu li.selected a span.check-mark {
    z-index: 1;
    border-color: #2aa8ec;
    background-color: #2aa8ec;

    &:after {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f00c';
      position: absolute;
      z-index: 2;
      left: 1px;
      top: 1px;
      color: #fff;
    }

    &:hover {
      border-color: #2aa8ec;
    }
  }

  span.text {
    margin-right: 0;
    margin-left: 21px;
  }
}

.dropdown-menu__button-container {
  padding: 10px 14px 5px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 20px;
  background: rgba(255,255,255,0.85);
  z-index: 3;
}


/**
 * Top header
 */

.top-header {
  position: relative;
  margin: 20px 0 32px;
  padding: 0 0 0 78px;

  &__icon {
    position: absolute;
    top: -5px;
    left: 0;
  }

  &__title {

  }
}


/**
 * Menu
 */

.submenu {
  background: #ebebeb;
  overflow: hidden;
  position: relative;

  @media (min-width: 871px) {
    display: none !important;
  }

  &_is-open {
    .submenu__top {
      background: #dedede;

      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  &__inner {

  }

  &__top {
    font-weight: bold;
    font-size: 14px;
    color: #505050;
    padding: 13px 15px;
    .click();
    transition: all .3s ease-out;
    background: #ebebeb;

    &:after {
      content: '\f107';
      position: absolute;
      right: 15px;
      top: 13px;
      color: #505050;
      font-size: 20px;
      font-family: fontAwesome;
      transition: all .3s ease-out;
    }
  }

  &__content {
    display: none;
    overflow: hidden;

    &-inner {
      padding: 10px 15px 15px;

      & > div {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
