/**
 * Common
 */
a.btn-blue {
  cursor: pointer;
}
a.btn-blue:active,
a.btn-blue:focus {
  background-color: #07477d;
  color: white;
  cursor: default;
}
a.btn-blue:hover {
  background-color: #2ba8eb;
  color: white;
}
.btn_icon-download {
  position: relative;
  padding-left: 42px;
}
.btn_icon-download:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -11px;
  width: 16px;
  height: 21px;
  overflow: hidden;
  background-image: url("../img/new-images/icon-download.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.btn_small {
  padding: 4px 10px;
}
.dealer-event {
  margin-top: 30px;
}
.rows-equals-height .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.rows-equals-height .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.rows-equals-height .card-item {
  height: 100%;
}
/**
 * New icons
 */
.new-icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-image: linear-gradient(to top, #69b2db, #387bb5);
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.new-icon:after {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.new-icon_large {
  width: 60px;
  height: 60px;
  font-size: 32px;
  line-height: 60px;
  background-image: none;
  background-color: #387bb5;
}
.new-icon_xlarge {
  width: 80px;
  height: 80px;
  font-size: 36px;
  line-height: 80px;
  background-image: none;
  background-color: #387bb5;
}
.new-icon_home:after {
  background-image: url("../img/new-images/icon-home.svg");
}
.new-icon_user:after {
  background-image: url("../img/new-images/icon-user.svg");
}
.new-icon_users:after {
  background-image: url("../img/new-images/icon-users.svg");
}
.new-icon_calendar:after {
  background-image: url("../img/new-images/icon-calendar.svg");
}
.new-icon_hat {
  font-family: 'FontAwesome';
}
.new-icon_hat:after {
  content: '\f19d';
}
.new-icon_calendar-big {
  font-family: 'FontAwesome';
}
.new-icon_calendar-big:after {
  content: '\f274';
  left: 2px;
}
.new-icon_speaker:after {
  background-image: url("../img/new-images/icon-speaker.svg");
}
/**
 * Download list
 */
.download-list {
  background-color: white;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  padding: 30px 30px 40px;
  border-top: 4px solid #2aa8ec;
  min-height: 160px;
}
.download-list_sticky .download-list__inner {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1020;
  background-color: white;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.28);
}
.download-list_sticky .download-list__header {
  display: none;
}
.download-list_sticky .download-list__list {
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px auto;
}
.download-list__header {
  font-size: 20px;
  line-height: 27px;
  color: #1d6ca7;
  margin: 0;
}
.download-list__list {
  margin-top: 10px;
  font-size: 0;
}
.download-list__item {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}
/**
 * Right filters
 */
.right-filters {
  margin-bottom: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}
.right-filters__inner {
  padding: 25px 10px 25px 17px;
}
.right-filters__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.right-filters__item {
  position: relative;
  min-height: 34px;
  margin: 6px 0;
  padding: 0;
  color: #3a7db7;
}
.right-filters__item_link,
.right-filters__item_link .right-filters__item-link:focus {
  color: #3a7db7;
}
.right-filters__item_link.active a,
.right-filters__item_link .right-filters__item-link:hover {
  color: #07477d;
}
.right-filters__item_link .right-filters__item-link:hover .right-filters__item-checkbox {
  border-color: #3a7db7;
}
.right-filters__item_link .right-filters__item-link:hover .right-filters__item-checkbox_checked {
  border-color: #2aa8ec;
}
.right-filters__item:first-child {
  margin-top: 0;
}
.right-filters__item:last-child {
  margin-bottom: 0;
}
.right-filters__item-link {
  display: block;
  line-height: 34px;
  color: #787878;
}
.right-filters__item-link[href] {
  color: #3a7db7;
  transition: all .3s;
}
.right-filters__item-link[href]:hover {
  color: #07477d;
}
.right-filters__item-link_active {
  color: #07477d;
}
.right-filters__item-left {
  display: block;
  position: absolute;
  width: 61px;
  left: 0;
  top: 0;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  text-align: center;
}
.right-filters__item-right {
  display: block;
  padding-left: 70px;
}
.right-filters__item-img {
  max-width: 61px;
}
.right-filters__item-label {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
}
.right-filters__item-checkbox {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #a3defe;
  margin: 9px 0 0 0;
  transition: all .3s;
}
.right-filters__item-checkbox + .right-filters__item-label {
  display: inline-block;
  margin-left: 26px;
}
.right-filters__item-checkbox_checked {
  z-index: 1;
  border-color: #2aa8ec;
  background-color: #2aa8ec;
}
.right-filters__item-checkbox_checked:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00c';
  position: absolute;
  z-index: 2;
  left: 1px;
  top: 1px;
  color: #fff;
}
.right-filters__button {
  margin-top: 25px;
}
/**
 * Card item
 */
.card-item {
  display: block;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
  padding: 30px;
  margin-top: 30px;
  z-index: 1;
}
.card-item[data-href] {
  cursor: pointer;
  transition: all .3s;
}
.card-item[data-href]:hover {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
}
.card-item_extended .card-item__left {
  width: 180px;
  margin-right: 20px;
}
.card-item_extended .card-item__right {
  margin-left: 200px;
}
.card-item__checkbox {
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #a3defe;
  transition: all .3s;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.card-item__checkbox:hover {
  border-color: #3a7db7;
}
.card-item__checkbox_checked {
  z-index: 1;
  border-color: #2aa8ec;
  background-color: #2aa8ec;
}
.card-item__checkbox_checked:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00c';
  position: absolute;
  z-index: 2;
  left: 1px;
  top: 1px;
  color: #fff;
}
.card-item__checkbox_checked:hover {
  border-color: #2aa8ec;
}
.card-item__hr {
  margin: 22px 0 0;
  border-top: 1px solid #ebebeb;
}
.card-item__left {
  width: 80px;
  margin-right: 20px;
  float: left;
  margin-bottom: 8px;
}
.card-item__right {
  margin-left: 100px;
  overflow: hidden;
}
.card-item__title {
  font-size: 20px;
  line-height: 27px;
  color: #1d6ca7;
  margin: 0 0 5px;
}
.card-item__info {
  font-size: 14px;
  line-height: 25px;
  color: #787878;
  margin: 0 0 10px;
}
.card-item__username {
  font-size: 14px;
  line-height: 20px;
  color: #1d6ca7;
  margin: 2px 0 7px;
}
.card-item__more {
  position: absolute;
  bottom: 19px;
  right: 30px;
  cursor: pointer;
  z-index: 3;
}
.card-item__description {
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 25px;
  color: #505050;
  clear: both;
  width: 100%;
}
/**
 * Metadata list
 */
.metadata-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.metadata-list_inline .metadata-list__item {
  display: inline-block;
  margin-right: 20px;
}
.metadata-list__item {
  margin: 0;
  padding: 4px 0;
  font-size: 0;
  line-height: 20px;
  color: #3a7db7;
}
.metadata-list__item-icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.metadata-list__item-text {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
/**
 * Types list
 */
.types-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.types-list__item {
  display: inline-block;
  font-size: 0;
  margin: 15px 15px 0 0;
  line-height: 34px;
}
.types-list__item-img {
  vertical-align: middle;
}
/**
 * Header metadata
 */
.header-metadata {
  overflow: hidden;
  margin-bottom: 25px;
  margin-top: -25px;
}
.header-metadata__item {
  display: inline-block;
  margin-right: 30px;
}
/**
 * Dealer choose
 */
.dealer-choose {
  display: block;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
  padding: 55px 15px 45px;
  margin-top: 40px;
  z-index: 1;
  text-align: center;
}
.dealer-choose:hover .dealer-choose__link {
  background-color: #2ba8eb;
  color: white;
}
.dealer-choose__title {
  margin-bottom: 22px;
}
.dealer-choose__link {
  cursor: pointer;
}
/**
 * Custom dropdown menu multiple
 */
.top-selectors.js--filters::after {
  display: block;
  content: "";
  clear: both;
}
.multiple-custom .dropdown-menu li a span.check-mark {
  display: block !important;
}
.multiple-custom .dropdown-menu li.selected a span.check-mark {
  margin-top: 0 !important;
}
.multiple-custom .check-mark {
  position: absolute;
  right: auto;
  top: 4px;
  left: 14px;
  display: block;
  overflow: hidden;
  z-index: 2;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #a3defe;
  transition: all .3s;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.multiple-custom .check-mark:before {
  display: none;
}
.multiple-custom .check-mark:hover {
  border-color: #3a7db7;
}
@media (max-width: 670px) {
  .multiple-custom .check-mark {
    top: 10px;
  }
}
.multiple-custom .dropdown-menu.inner {
  padding-bottom: 45px !important;
}
.multiple-custom .dropdown-menu li.selected a span.check-mark {
  z-index: 1;
  border-color: #2aa8ec;
  background-color: #2aa8ec;
}
.multiple-custom .dropdown-menu li.selected a span.check-mark:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00c';
  position: absolute;
  z-index: 2;
  left: 1px;
  top: 1px;
  color: #fff;
}
.multiple-custom .dropdown-menu li.selected a span.check-mark:hover {
  border-color: #2aa8ec;
}
.multiple-custom span.text {
  margin-right: 0;
  margin-left: 21px;
}
.dropdown-menu__button-container {
  padding: 10px 14px 5px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 20px;
  background: rgba(255, 255, 255, 0.85);
  z-index: 3;
}
/**
 * Top header
 */
.top-header {
  position: relative;
  margin: 20px 0 32px;
  padding: 0 0 0 78px;
}
.top-header__icon {
  position: absolute;
  top: -5px;
  left: 0;
}
/**
 * Menu
 */
.submenu {
  background: #ebebeb;
  overflow: hidden;
  position: relative;
}
@media (min-width: 871px) {
  .submenu {
    display: none !important;
  }
}
.submenu_is-open .submenu__top {
  background: #dedede;
}
.submenu_is-open .submenu__top:after {
  transform: rotate(-180deg);
}
.submenu__top {
  font-weight: bold;
  font-size: 14px;
  color: #505050;
  padding: 13px 15px;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.3s ease-out;
  background: #ebebeb;
}
.submenu__top:after {
  content: '\f107';
  position: absolute;
  right: 15px;
  top: 13px;
  color: #505050;
  font-size: 20px;
  font-family: fontAwesome;
  transition: all 0.3s ease-out;
}
.submenu__content {
  display: none;
  overflow: hidden;
}
.submenu__content-inner {
  padding: 10px 15px 15px;
}
.submenu__content-inner > div {
  margin-bottom: 15px;
}
.submenu__content-inner > div:last-child {
  margin-bottom: 0 !important;
}
