.phone-validator {
  margin: 10px 0 0;
  padding: 15px;
  border-radius: 4px;
  background: #f1f1f1;

  h5 {
    color: #07477d;
    margin: 0 0 15px;
    font-weight: 700;
  }

  input {
    margin-bottom: 15px;
  }

  &__error {
    color: #f02b2b;
    margin: -15px 0 15px;
    font-size: 12px;
  }

  &__message {
    font-size: 14px;
    line-height: 1.1;
    margin: 0;
    font-weight: 700;

    &_success {
      color: #4da54e;
    }

    &_error {
      color: #ff0000;
    }
  }
}


.phone-validator-modal {
  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
  }

  .modal-header {
    border: none;
    padding: 10px 15px 10px 40px;
  }

  .modal-header .header4 {
    margin: 0;
    margin-top: 20px;
  }

  .modal-header .close span,
  .modal-header .close {
    color: #377bb5;
    opacity: 1;
  }

  .modal-body {
    padding: 10px 40px;
  }

  .modal-footer {
    padding: 0 40px 40px;
    border: none;
  }

  .form-group {
    margin-bottom: 15px;
  }
}
